
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="2em" 
    data-background-image="../../lib/img/mod_5/modelo3.png"
    data-background-opacity="0.1">

    <h3>INTRODUCCIÓN A SQL 👨🏻‍💻</h3>

</section>

<!-- base de datos -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Base de datos </h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <p>MySQL permite crear base de datos y tablas, insertar datos, modificarlos, eliminarlos, ordenarlos, hacer consultas y realizar muchas operaciones, etc., es decir; nos permite gestionar una base de datos.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Una base de datos es un “almacén” que nos permite; guardar grandes cantidades de información de forma organizada, para que luego podamos encontrar y utilizar fácilmente.</p>
            <p>Desde el punto de vista informático, la base de datos es un sistema formado por un conjunto de datos almacenados en discos, que permiten el acceso directo a ellos y un conjunto de programas que manipulen ese conjunto de datos.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Cada base de datos se compone de una o más tablas que guarda un conjunto de datos. Cada tabla tiene una o más columnas y filas. Las columnas guardan una parte de la información sobre cada elemento que queramos guardar en la tabla, cada fila de la tabla conforma un registro.</p>
            <pre><code>
-- podemos acceder a las bases ya creadas con el siguiente comando:
show databases;
-- desde mac para acceder al shell, debemos agregar mysql al path
echo $PATH
export PATH=$PATH:/usr/local/mysql/bin
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Podemos consultar las bases de datos, que contiene nuestro SGBD</p>
            <p>Estas bases de datos no las modificaremos, ya que son necesarias para el correcto funcionamiento del sistema.</p>
            <pre><code>
mysql> show databases;
Resultado:

+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
4 rows in set (0.10 sec)
            </code></pre>
        </div>
    </section>
<section>
    <div class="font-justify font-size-22">
        <h3>Crear una base de datos.</h3>
        <p>Para poder crear una base de datos, ejecutamos el siguiente código.</p>
        <p>create database {{nombre de la base de datos}};</p>
        <pre><code>
-- consultamos la base de datos:
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
4 rows in set (0.01 sec)

-- creamos la nueva base de datos:
mysql> create database foo;
Query OK, 1 row affected (0.03 sec)

-- consultamos nuevamente las bases de datos del sistema:
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| foo                |
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
5 rows in set (0.00 sec)
-- se puede ver que ahora existe una nueva base de datos llamada foo.
        </code></pre>
    </div>
</section>
<section>
    <div class="font-justify font-size-22">
        <h3>Acceder a una base de datos</h3>
        <p>Para acceder a una base de datos debemos ejecutar el siguiente comando:</p>
        <p>use {{nombre de la base de datos}}</p>
        <p>De esta forma, cuando queramos acceder a una base de datos y trabajar sobre ella, después de ejecutar el comando `USE`, estaremos habilitados para ello.</p>
        <pre><code>
mysql> use foo;
Database changed
        </code></pre>
    </div>
</section>
<section data-background-repeat="repeat" 
    data-background-size="2em" 
    data-background-image="../../lib/img/mod_5/modelo5.jpg"
    data-background-opacity="0.5">
    <div class="font-justify font-size-22">
        <h3>Eliminar una base de datos:</h3>
        <p>Así como creamos, también podemos destruir. 🕒</p>
        <p>drop database {{ nombre de la base de datos }};</p>
        <pre><code>
mysql> drop database foo;
Query OK, 0 rows affected (0.11 sec)

-- luego listamos las bases de datos que posee el sistema. Notamos que ya no está la base de datos foo.

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| mysql              |
| performance_schema |
| sys                |
+--------------------+
4 rows in set (0.01 sec)
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Ejercicio:</h3>
        <p>Crear una base de datos, llamada otec_kpaz, verificar si esta existe por consola y por nuestra app gráfica. (revisar sus detalles). </p>
        <pre><code>
-- todo
        </code></pre>
    </div>
</section>

</section>
<!-- #base de datos -->

<!-- Tablas -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Tablas </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Definición</h3>
            <p>Son la estructura básica donde se almacena la información en la base de datos.</p>
            <p>Su estructura general se asemeja a la vista general de un programa de hoja de cálculo.</p>
            <p>Es utilizada para organizar y presentar información.</p>
            <p>Se componen de filas y columnas de celdas que se pueden rellenar con diferentes tipos de información.</p>
            <p>Se componen de campos y registros.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>Registros</h3>
            <p>Es cada una de las filas en que se divide la tabla. Cada registro contiene datos de los mismos tipos que los demás registros.</p>
            <p>Ejemplo: en una tabla de nombres ,direcciones, etc, cada fila contendrá un nombre y una dirección.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>Campos</h3>
            <p>Es cada una de las columnas que forman la tabla. Contienen datos de tipo diferente a los de otros campos. En el ejemplo anterior, un campo contendrá un tipo de datos único, como una dirección, o un número de teléfono, un nombre, etc.</p>
        </div>
    </section>
    <section>
            <h2> Tipos de datos </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Los campos de una tabla se componen principalmente por tres tipos: Textos, números y fechas(fecha & hora). Existen además algunos otros tipos de datos, pero los que utilizaremos con más frecuencia serán un derivado de alguno de los tres mencionados anteriormente..</p>
            <p>Existe un tipo de valor desconocido llamado null. No es un registro que contenga algo vacío, null es realmente un valor nulo.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Tipos TEXTO</h3>
            <p>Están compuestos por una cadena de caracteres. Se utilizan comillas simples.</p>
            <p>Los tipos de variables de tipo texto son:</p>
            <p>varchar(x): define una cadena de caracteres de longitud variable en la cual determinamos el máximo de caracteres con el argumento "x" que va entre paréntesis. Su rango va de 1 a 65535 caracteres..</p>
            <p>char(x): define una cadena de longitud fija, su rango es de 1 a 255 caracteres.</p>
            <p>blob o text: bloques de datos de 60000 caracteres de longitud aprox.</p>
            <p>Si el valor x es más corto de el dato que ingresamos, este dato será truncado.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Tipo numérico.</h3>
            <p>Cuando queremos que nuestros datos sean utilizados para realizar cálculos, utilizaremos los de tipo numéricos. </p>
            <p>integer(x) o int(x): su rango es de -2000000000 a 2000000000 aprox. El tipo "int unsigned" va de 0 a 4000000000.</p>
            <p>mediumint(x): va de –8000000 a 8000000 aprox. Sin signo va de 0 a 16000000 aprox.</p>
            <p>smallint(x): va de –30000 a 30000 aprox., sin signo, de 0 a 60000 aprox.</p>
            <p>tinyint(x): define un valor entero pequeño, cuyo rango es de -128 a 127. El tipo sin signo va de 0 a 255.</p>
            <p>bool o boolean: sinónimos de tinyint(1). Un valor cero se considera falso, los valores distintos de cero, verdadero.</p>
            <p>bigint(x): es un entero largo. Va de –9000000000000000000 a 9000000000000000000 aprox. Sin signo es de 0 a 10000000000000000000.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Tipo numérico.</h3>
            <p>float (t,d): número de coma flotante. Su rango es de -3.4e+38 a –1.1e-38 (9 cifras).</p>
            <p>decimal o numeric (t,d): el primer argumento indica el total de dígitos y el segundo, la cantidad de decimales. El rango depende de los argumentos, también los bytes que ocupa. Si queremos almacenar valores entre 0.00 y 99.99 debemos definir el campo como tipo "decimal (4,2)". Si no se indica el valor del segundo argumento, por defecto es 0. Para los tipos "float" y "decimal" se utiliza el punto como separador de decimales.</p>
            <p>Todos los tipos enteros pueden tener el atributo "unsigned", esto permite sólo valores positivos y duplica el rango. Los tipos de coma flotante también aceptan el atributo "unsigned", pero el valor del límite superior del rango no se modifica.</p>
            <pre><code>
Tipo		Bytes de almacenamiento
_______________________________________
tinyint		1
smallint	2
mediumint	3
int		4
bigint		8

float		4
decimal(t,d)	t+2 si d>0, t+1 si d=0 y d+2 si t&#60;d 
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Tipo fechas y horas</h3>
            <p>Para guardar fechas y horas dispone de varios tipos:</p>
            <pre><code>
date: representa una fecha con formato "YYYY-MM-DD". El rango va de "1000-01-01" a "9999-12-31".

datetime: almacena fecha y hora, su formato es "YYYY-MM-DD HH:MM:SS". El rango es de "1000-01-01 00:00:00" a "9999-12-31 23:59:59".

time: una hora. Su formato es "HH:MM:SS". El rango va de "-838:59:59" a "838:59:59".

year(2) y year(4): un año. Su formato es "YYYY" o "YY". Permite valores desde 1901 a 2155 (en formato de 4 dígitos) y desde 1970 a 2069 (en formato de 2 dígitos).

Si ingresamos los valores como cadenas, un valor entre "00" y "69" es convertido a valores "year" en el rango de 2000 a 2069; si el valor está entre "70" y "99", se convierten a valores "year" en el rango 1970 a 1999.

Si ingresamos un valor numérico 0, se convierte en "0000"; entre 1 y 69, se convierte a valores "year" entre 2001 a 2069; entre 70 y 99, es convertido a valores "year" de 1970 a 1999.

Para almacenar valores de tipo fecha se permiten como separadores "/", "-" y ".".

Si ingresamos '06-12-31' (año de 2 dígitos), lo toma como '2006-12-31'.

Si ingresamos '2006-2-1' (mes y día de 1 dígito), lo toma como '2006-02-01'.

Si ingresamos '20061231' (cadena sin separador), lo toma como '2006-12-31'.

Si ingresamos 20061231 (numérico), lo toma como '2006-12-31'.

Si ingresamos '20061231153021' (cadena sin separadores), lo toma como '2006-12-31 15:30:21'.

Si ingresamos '200612311530' (cadena sin separadores con un dato faltante) no lo reconoce como fechahora y almacena ceros.

Si ingresamos '2006123' (cadena sin separadores con un dato faltante) no lo reconoce como fecha y almacena ceros.

Si ingresamos '2006-12-31 11:30:21' (valor date time) en un campo 'date', toma sólo la parte de la fecha, la hora se corta, se guarda '2006-12-31'.

Es importante elegir el tipo de dato adecuado según el caso, el más preciso. Por ejemplo, si sólo necesitamos registrar un año (sin día ni mes), el tipo adecuado es "year" y no "date".

Tipo		Bytes de almacenamiento
_______________________________________
date		3
datetime	8
time		3
year		1
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Crear una tabla (comando básico)</h3>
            <p>Para crear una tabla debemos estar dentro de una base de datos y ejecutar el siguiente comando:</p>
            <pre><code>
CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
    ....
);

-- ejemplo con nuestra base de datos creada en el punto anterior. (otec_kpaz)
mysql> use otec_kpaz
Database changed
mysql> create table curso(
    -> nombre varchar(45),
    -> cantidad integer(2)
    -> );
Query OK, 0 rows affected (0.10 sec)

-- Para poder ver las tablas creadas:
mysql> show tables;
+---------------------+
| Tables_in_otec_kpaz |
+---------------------+
| curso               |
+---------------------+
1 row in set (0.00 sec)

            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Insertando datos en las tablas</h3>
            <p>Para insertar datos en la base de datos ejecutamos el siguiente comando:</p>
            <pre><code>
-- Primera forma.
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
-- Segunda forma.
INSERT INTO table_name
VALUES (value1, value2, value3, ...);

-- Existen más formas pero estas se verán más adelante.

-- Ejemplo de inserción con nuestra base de datos:
mysql> insert into curso values(
    -> 'analista programador web',
    -> 18
    -> );
Query OK, 1 row affected (0.02 sec)
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Obtener los datos de nuestra tabla (select...)</h3>
            <p>Para seleccionar los elementos de nuestra tabla, ejecutamos el comando select, hablaremos con más detalle de esta sentencia más adelante.</p>
            <pre><code>
-- forma 1. Indicando detalladamente las columnas que queremos recuperar:
SELECT column1, column2, ...
FROM table_name;

-- forma 2, indicando que obtenga todas las columnas usando el comodín *.
SELECT * FROM table_name;

-- Ejemplo con nuestra tabla.
mysql> select nombre
    -> from curso;
+--------------------------+
| nombre                   |
+--------------------------+
| analista programador web |
+--------------------------+
1 row in set (0.00 sec)

-- usando el comodín *

mysql> select *
    -> from curso;
+--------------------------+----------+
| nombre                   | cantidad |
+--------------------------+----------+
| analista programador web |       18 |
+--------------------------+----------+
1 row in set (0.00 sec)

-- Como ejercicio llenemos con más datos nuestra tabla y consultemos su contenido.
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio propuesto.</h3>
            <p>Crear una tabla alumnos que contenga los siguientes campos: nombre, correo, fono, dirección, ciudad, comuna.</p>
            <p>Ingresamos al menos 10 alumnos a la tabla.</p>
            <p>Consultamos las columnas por separado y todas juntas.</p>
            <pre><code>
<!--  

mysql> create table `alumno` (
    -> nombre varchar(45),
    -> correo varchar(45),
    -> fono varchar(12),
    -> direccion varchar(30),
    -> ciudad varchar(10),
    -> comuna varchar(10));
Query OK, 0 rows affected (0.07 sec)

mysql> describe `alumno`;
+-----------+-------------+------+-----+---------+-------+
| Field     | Type        | Null | Key | Default | Extra |
+-----------+-------------+------+-----+---------+-------+
| nombre    | varchar(45) | YES  |     | NULL    |       |
| correo    | varchar(45) | YES  |     | NULL    |       |
| fono      | varchar(12) | YES  |     | NULL    |       |
| direccion | varchar(30) | YES  |     | NULL    |       |
| ciudad    | varchar(10) | YES  |     | NULL    |       |
| comuna    | varchar(10) | YES  |     | NULL    |       |
+-----------+-------------+------+-----+---------+-------+
6 rows in set (0.00 sec)

mysql> insert into `alumno` values
    -> ('nombre 1', 'correo 1', '1111', 'dir 1', 'ciudad 1', 'comuna 1'),
    -> ('nombre 2', 'correo 2', '1112', 'dir 2', 'ciudad 2', 'comuna 2'),
    -> ('nombre 3', 'correo 3', '1113', 'dir 3', 'ciudad 3', 'comuna 3'),
    -> ('nombre 4', 'correo 4', '1114', 'dir 4', 'ciudad 4', 'comuna 4'),
    -> ('nombre 5', 'correo 5', '1115', 'dir 5', 'ciudad 5', 'comuna 5'),
    -> ('nombre 6', 'correo 6', '1116', 'dir 6', 'ciudad 6', 'comuna 6'),
    -> ('nombre 7', 'correo 1', '1111', 'dir 1', 'ciudad 1', 'comuna 1'),
    -> ('nombre 8', 'correo 1', '1111', 'dir 1', 'ciudad 1', 'comuna 1'),
    -> ('nombre 9', 'correo 1', '1111', 'dir 1', 'ciudad 1', 'comuna 1'),
    -> ('nombre 1', 'correo 1', '1111', 'dir 1', 'ciudad 1', 'comuna 1');
Query OK, 10 rows affected (0.07 sec)
Records: 10  Duplicates: 0  Warnings: 0

mysql> select * from alumno;
+----------+----------+------+-----------+----------+----------+
| nombre   | correo   | fono | direccion | ciudad   | comuna   |
+----------+----------+------+-----------+----------+----------+
| nombre 1 | correo 1 | 1111 | dir 1     | ciudad 1 | comuna 1 |
| nombre 2 | correo 2 | 1112 | dir 2     | ciudad 2 | comuna 2 |
| nombre 3 | correo 3 | 1113 | dir 3     | ciudad 3 | comuna 3 |
| nombre 4 | correo 4 | 1114 | dir 4     | ciudad 4 | comuna 4 |
| nombre 5 | correo 5 | 1115 | dir 5     | ciudad 5 | comuna 5 |
| nombre 6 | correo 6 | 1116 | dir 6     | ciudad 6 | comuna 6 |
| nombre 7 | correo 1 | 1111 | dir 1     | ciudad 1 | comuna 1 |
| nombre 8 | correo 1 | 1111 | dir 1     | ciudad 1 | comuna 1 |
| nombre 9 | correo 1 | 1111 | dir 1     | ciudad 1 | comuna 1 |
| nombre 1 | correo 1 | 1111 | dir 1     | ciudad 1 | comuna 1 |
+----------+----------+------+-----------+----------+----------+
10 rows in set (0.00 sec)

mysql> select nombre, ciudad from alumno;
+----------+----------+
| nombre   | ciudad   |
+----------+----------+
| nombre 1 | ciudad 1 |
| nombre 2 | ciudad 2 |
| nombre 3 | ciudad 3 |
| nombre 4 | ciudad 4 |
| nombre 5 | ciudad 5 |
| nombre 6 | ciudad 6 |
| nombre 7 | ciudad 1 |
| nombre 8 | ciudad 1 |
| nombre 9 | ciudad 1 |
| nombre 1 | ciudad 1 |
+----------+----------+
10 rows in set (0.00 sec)

-->



            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio 2</h3>
            <p>Crear otra base de datos otec_kpaz_2, realizar las mismas tareas desde nuestra app gráfica.</p>
        </div>
    </section>
</section>
<!-- Tablas -->

<!-- Tablas ++-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Tablas ++ </h2>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h3>Describe</h3>
                <p>Para poder saber cual es la estructura de una tabla, ejecutamos el siguiente comando:</p>
                <p>describe {{tableName}};</p>
                <pre><code>
    mysql> describe curso;;
    +-----------------+-------------+------+-----+---------+-------+
    | Field           | Type        | Null | Key | Default | Extra |
    +-----------------+-------------+------+-----+---------+-------+
    | nombre          | varchar(30) | YES  |     | NULL    |       |
    | cantidad_alumno | int(2)      | YES  |     | NULL    |       |
    +-----------------+-------------+------+-----+---------+-------+
    2 rows in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section data-background-repeat="repeat" 
        data-background-size="2em" 
        data-background-image="../../lib/img/mod_5/modelo5.jpg"
        data-background-opacity="0.5">
            <div class="font-justify font-size-22">
                <h3>Eliminando registros</h3>
                <p>Podemos eliminar los registros de una tabla ejecutando el siguiente comando:</p>
                <p>delete from {{tableName}};</p>
                <pre><code>
-- consultamos la tabla curso.
mysql> select * from curso;
+--------------------------+-----------------+
| nombre                   | cantidad_alumno |
+--------------------------+-----------------+
| Analista programador web |              18 |
| inglés                   |              10 |
+--------------------------+-----------------+
2 rows in set (0.00 sec)

-- borramos los registros.
mysql> delete from curso;
Query OK, 2 rows affected (0.04 sec)

-- verificamos que ya no hay datos.
mysql> select * from curso;
Empty set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section data-background-repeat="repeat" 
        data-background-size="2em" 
        data-background-image="../../lib/img/mod_5/modelo5.jpg"
        data-background-opacity="0.5">
            <div class="font-justify font-size-22">
                <h3>Eliminar una tabla</h3>
                <p>Así como eliminamos la base de datos, también podemos hacerlo para las tablas.</p>
                <p>drop table {{tableName}};</p>
                <p>drop table if exists {{tableName}};</p>
                <pre><code>
mysql> show tables;
+---------------------+
| Tables_in_otec_kpaz |
+---------------------+
| curso               |
| kapacito            |
+---------------------+
2 rows in set (0.01 sec)

mysql> drop table kapacito;
Query OK, 0 rows affected (0.07 sec)

mysql> show tables;
+---------------------+
| Tables_in_otec_kpaz |
+---------------------+
| curso               |
+---------------------+
1 row in set (0.00 sec)

-- si volvemos a ejecutar el comando, esto genera un error
mysql> drop table kapacito;
ERROR 1051 (42S02): Unknown table 'otec_kpaz.kapacito'

-- Para evitar este error, debemos indicar que la elimine, sólo en caso que la tabla exista.
mysql> drop table if exists kapacito;
Query OK, 0 rows affected, 1 warning (0.00 sec)
                </code></pre>
            </div>
        </section>
</section>
<!-- Tablas ++-->

<!-- Uso del where-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> uso del WHERE</h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Definición:</h3>
            <p>El where, es un condicional que <span class="destaca-me">filtra los resultados de las búsquedas</span>. Se puede utilizar en un select o en un delete. 😎</p>
            <p>De esta forma, podemos hacer filtros y traer o borrar, aquellos registros que indiquemos específicamente.</p>
            <p>where {condiciones};</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>Operadores relacionales para las condiciones del where</h3>
            <p></p>
            <pre>
=	igual
<>	distinto
>	mayor
<	menor
>=	mayor o igual
<=	menor o igual
            </pre>
             
            <pre><code>
<!-- 

-- Insertamos datos a la tabla curso
mysql> insert into curso values
    -> ('curso 1', 10),
    -> ('curso 2', 15),
    -> ('curso 3', 20);
Query OK, 3 rows affected (0.03 sec)
Records: 3  Duplicates: 0  Warnings: 0

-- consultamos 
mysql> select * from curso;
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 1 |              10 |
| curso 2 |              15 |
| curso 3 |              20 |
+---------+-----------------+
3 rows in set (0.00 sec)

-- realizamos la consulta con el WHERE (Esta consulta, nos trae todos los registros que coincidan con la condición)
mysql> select *
    -> from curso
    -> where nombre = 'curso 1';
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 1 |              10 |
+---------+-----------------+
1 row in set (0.00 sec)

-- Insertamos para realizar la prueba:
mysql> insert into curso values ('curso 2', 11);
Query OK, 1 row affected (0.08 sec)

-- la misma consulta:
mysql> select *
    -> from curso
    -> where nombre = 'curso 2';
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 2 |              15 |
| curso 2 |              11 |
+---------+-----------------+
2 rows in set (0.00 sec)

-- Se deja como ejercicio probar más resultados utilizando los otros operadores.

-->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Conectores and or</h3>
            <p>Podemos ejecutar una serie de filtros para nuestras consultas, para ello podemos utilizar conectores.</p>
            <pre><code>
<!-- 

mysql> select *
-> from curso
-> where nombre = 'curso 2'
-> and cantidad_alumno = 15;
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 2 |              15 |
+---------+-----------------+
1 row in set (0.00 sec)

-- se deja como ejercicio la utilización del or.

-->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>No te olvides del where en el delete from ☝🏼🙂</h3>
            <p>Muchas veces necesitaremos eliminar registros específicos, acá es cuando debemos tener mucho cuidado con los filtros que estemos utilizando, de otra forma, eliminaremos datos que realmente, no queríamos o no necesitábamos eliminar.</p>
            <pre><code>
<!--  

-- una buena técnica, es la de ejecutar un select antes de un delete from, con las condiciones where.
mysql> select *
    -> from curso
    -> where nombre = 'curso 2'
    -> and cantidad_alumno = 15;
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 2 |              15 |
+---------+-----------------+
1 row in set (0.00 sec)

-- de esta forma, ya sabemos que eliminaremos los datos que realmente deseamos eliminar.
mysql> delete
    -> from curso
    -> where nombre = 'curso 2'
    -> and cantidad_alumno = 15;
Query OK, 1 row affected (0.07 sec)

-- consultamos la tabla para determinar si se ha eliminado el registro que queríamos.
mysql> select *
    -> from curso;
+---------+-----------------+
| nombre  | cantidad_alumno |
+---------+-----------------+
| curso 1 |              10 |
| curso 3 |              20 |
| curso 2 |              11 |
+---------+-----------------+
3 rows in set (0.00 sec)

-->
            </code></pre>
        </div>
    </section>
    <section>
        <h4>Para disfrutar de una pieza musical, muy perturbadora respecto a este tema, haga clic <a href="https://www.youtube.com/watch?v=i_cVJgIz_Cs" target="_blank" rel="noopener noreferrer">acá</a></h4>
        <img src="../../lib/img/mod_5/explo2.gif" >
    </section>
</section>

<!-- Ejercicios-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio</h3>
            <p>Crear la tabla usuario: id, nombre y password. Previamente borrar la tabla usuario si ya existe en el servidor. </p>
            <p>Mostrar la estructura de la tabla usuarios que acabamos de crear.</p>
            <p>Ingresar 5 usuarios.</p>
            <p>Crear una consulta que obtenga a un usuario y su password.</p>
            <p>Crear otra consulta que elimine al tercero de la lista.</p>
            <p>Ingresar otros 5 usuarios.</p>
            <p>Crear una consulta que obtenga a los usuarios que tengan id entre 2 y 6, incluyendo ambos.</p>
            <p>Para terminar ejecuten un delete from sin el where, por última vez en su vida :)</p>

        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3></h3>
            <p></p>
            <pre><code>
                <!--  
                
                -- antes de crear la tabla, la eliminamos si es que existe.
                mysql> drop table if exists usuario;
                Query OK, 0 rows affected (0.08 sec)
                
                mysql> create table usuario (
                    -> id integer(2),
                    -> nombre varchar(45),
                    -> password varchar(45)
                    -> );
                Query OK, 0 rows affected (0.05 sec)
                
                mysql> describe usuario;
                +----------+-------------+------+-----+---------+-------+
                | Field    | Type        | Null | Key | Default | Extra |
                +----------+-------------+------+-----+---------+-------+
                | id       | int(2)      | YES  |     | NULL    |       |
                | nombre   | varchar(45) | YES  |     | NULL    |       |
                | password | varchar(45) | YES  |     | NULL    |       |
                +----------+-------------+------+-----+---------+-------+
                3 rows in set (0.00 sec)
                
                mysql> insert into usuario values
                    -> (1, 'usuario 1', 'kpaz123'),
                    -> (2, 'usuario 2', 'kpaz123'),
                    -> (3, 'usuario 3', 'kpaz123'),
                    -> (4, 'usuario 4', 'kpaz123'),
                    -> (5, 'usuario 5', 'kpaz123');
                Query OK, 5 rows affected (0.03 sec)
                Records: 5  Duplicates: 0  Warnings: 0
                
                mysql> select nombre, password from usuario;
                +-----------+----------+
                | nombre    | password |
                +-----------+----------+
                | usuario 1 | kpaz123  |
                | usuario 2 | kpaz123  |
                | usuario 3 | kpaz123  |
                | usuario 4 | kpaz123  |
                | usuario 5 | kpaz123  |
                +-----------+----------+
                5 rows in set (0.00 sec)
                
                mysql> delete from usuario where id = 3;
                Query OK, 1 row affected (0.02 sec)
                
                mysql> insert into usuario values
                    -> (6, 'usuario 6', 'kpaz123'),
                    -> (7, 'usuario 7', 'kpaz123'),
                    -> (8, 'usuario 8', 'kpaz123'),
                    -> (9, 'usuario 9', 'kpaz123'),
                    -> (10, 'usuario 10', 'kpaz123');
                Query OK, 5 rows affected (0.02 sec)
                Records: 5  Duplicates: 0  Warnings: 0
                
                mysql> select * from usuario
                    -> where id >= 2 and id <= 6;
                +------+-----------+----------+
                | id   | nombre    | password |
                +------+-----------+----------+
                |    2 | usuario 2 | kpaz123  |
                |    4 | usuario 4 | kpaz123  |
                |    5 | usuario 5 | kpaz123  |
                |    6 | usuario 6 | kpaz123  |
                +------+-----------+----------+
                4 rows in set (0.00 sec)
                
                mysql> delete from usuario;
                Query OK, 9 rows affected (0.01 sec)
                
                -->
                            </code></pre>
        </div>
    </section>

</section>