
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="2em" 
    data-background-image="../../lib/img/mod_5/modelo3.png"
    data-background-opacity="0.1">

    <h3>MySql segundo impacto 🤜🏼 👨🏻‍💻</h3>

</section>

<!-- Clave primaria -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Clave primaria </h2>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>Definición</h3>
            <p>La clave primaria, nos permite crear un índice que apunta solo a un registro en particular, este puede estar compuesto por uno o varios campos, siempre que se cumpla que la combinación sea única. Se indica con el comando: primary key(nombre) al final del último campo de la tabla creada.</p>
            <pre><code>
<!-- 

-- creamos la tabla con una llave primaria compuesta.
mysql> create table `persona` (
    -> nombre varchar(45),
    -> fono varchar(45),
    -> primary key(nombre, fono));
Query OK, 0 rows affected (0.08 sec)

-- insertamos un dato
mysql> insert into `persona` values ('luis', '954319341');
Query OK, 1 row affected (0.01 sec)

-- lo intentamos volver a insertar, pero nos arroja un error.
mysql> insert into `persona` values ('luis', '954319341');
ERROR 1062 (23000): Duplicate entry 'luis-954319341' for key 'PRIMARY'

-- NO ES RECOMENDABLE UTILIZAR LLAVES COMPUESTAS, PARA ELLO PROCEDEMOS A DEFINIR UN CAMPO IDENTIFICADOR.
mysql> drop table if exists `persona`;
Query OK, 0 rows affected (0.16 sec)

-- creamos la tabla nuevamente, con en identificador:
mysql> create table `persona` (
    -> id integer(2),
    -> nombre varchar(45),
    -> fono varchar(45),
    -> primary key(id));
Query OK, 0 rows affected (0.08 sec)

mysql> describe `persona`;
+--------+-------------+------+-----+---------+-------+
| Field  | Type        | Null | Key | Default | Extra |
+--------+-------------+------+-----+---------+-------+
| id     | int(2)      | NO   | PRI | NULL    |       |
| nombre | varchar(45) | YES  |     | NULL    |       |
| fono   | varchar(45) | YES  |     | NULL    |       |
+--------+-------------+------+-----+---------+-------+
3 rows in set (0.03 sec)

-- Intentamos insertar un valor nulo en la tabla.
mysql> insert into `persona` values (null, 'luis', '32323');
ERROR 1048 (23000): Column 'id' cannot be null

-- intentamos insertar un valor sin la llave.
mysql> insert into `persona` values ('luis', '32323');
ERROR 1136 (21S01): Column count doesn't match value count at row 1

-- intentamos ingresar un valor, especificando los valores que se desean agregar.
mysql> insert into `persona` (nombre, fono) values ('luis', '32323');
ERROR 1364 (HY000): Field 'id' doesn't have a default value

-- insertamos un valor (notamos que no necesariamente comenzamos por el 1 o el 0)
mysql> insert into `persona` values (342, 'luis', '32323');
Query OK, 1 row affected (0.05 sec)

mysql> select * from persona;
+-----+--------+-------+
| id  | nombre | fono  |
+-----+--------+-------+
| 342 | luis   | 32323 |
+-----+--------+-------+
1 row in set (0.00 sec)


-- si intentamos ingresar un valor con la llave duplicada, el sistema no lo permitirá.
mysql> insert into persona values(342, 'ana', '56943498394');
ERROR 1062 (23000): Duplicate entry '342' for key 'PRIMARY'

 -->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>AUTO INCREMENT</h3>
            <p>Cuando estamos ingresando datos, revisar el id para que no se repita, puede hacer que perdamos tiempo productivo, es por ello que dejaremos que esta tarea mecánica la realice el sistema y no nosotros.</p>
            <pre><code>
<!-- 

mysql> drop table if exists `persona`;
Query OK, 0 rows affected (0.05 sec)

-- creamos la tabla con las nuevas restricciones

mysql> create table `persona` (
    -> id int(2) not null auto_increment,
    -> nombre varchar(45) not null,
    -> fono varchar(45) not null,
    -> primary key (id)
    -> );
Query OK, 0 rows affected (0.02 sec)

mysql> describe persona;
+--------+-------------+------+-----+---------+----------------+
| Field  | Type        | Null | Key | Default | Extra          |
+--------+-------------+------+-----+---------+----------------+
| id     | int(2)      | NO   | PRI | NULL    | auto_increment |
| nombre | varchar(45) | NO   |     | NULL    |                |
| fono   | varchar(45) | NO   |     | NULL    |                |
+--------+-------------+------+-----+---------+----------------+
3 rows in set (0.00 sec)

-- podemos insertar el primer valor como valor nulo.
mysql> insert into persona values (null, 'luis', '54319341');
Query OK, 1 row affected (0.02 sec)

mysql> select * from persona;
+----+--------+----------+
| id | nombre | fono     |
+----+--------+----------+
|  1 | luis   | 54319341 |
+----+--------+----------+
1 row in set (0.00 sec)

-- podemos ingresar datos sin el null, para ello especificamos las filas a ingresar.
mysql> insert into persona (nombre, fono) values ('luis 2', 'otro fono :/');
Query OK, 1 row affected (0.09 sec)

mysql> select * from persona;
+----+--------+--------------+
| id | nombre | fono         |
+----+--------+--------------+
|  1 | luis   | 54319341     |
|  2 | luis 2 | otro fono :/ |
+----+--------+--------------+
2 rows in set (0.00 sec)

-- si eliminamos los registros y volvemos a insertar datos, el conteo sigue.
mysql> delete from persona;
Query OK, 2 rows affected (0.02 sec)

mysql> insert into persona (nombre, fono) values ('luis', '8683433');
Query OK, 1 row affected (0.03 sec)

mysql> select * from persona;
+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  3 | luis   | 8683433 |
+----+--------+---------+
1 row in set (0.00 sec)

-- podemos ingresar los números a mano.

mysql> insert into persona values (4, 'luis 2', '8683433');
Query OK, 1 row affected (0.05 sec)

mysql> select * from persona;
+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  3 | luis   | 8683433 |
|  4 | luis 2 | 8683433 |
+----+--------+---------+
2 rows in set (0.00 sec)

-- podemos saltar números.
mysql> insert into persona values (6, 'luis 2', '8683433');
Query OK, 1 row affected (0.06 sec)

mysql> select * from persona;
+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  3 | luis   | 8683433 |
|  4 | luis 2 | 8683433 |
|  6 | luis 2 | 8683433 |
+----+--------+---------+
3 rows in set (0.00 sec)

-- la cuenta continúa con el mayor.
mysql> insert into persona values (null, 'luis 2', '8683433');
Query OK, 1 row affected (0.04 sec)

mysql> select * from persona;

+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  3 | luis   | 8683433 |
|  4 | luis 2 | 8683433 |
|  6 | luis 2 | 8683433 |
|  7 | luis 2 | 8683433 |
+----+--------+---------+
4 rows in set (0.00 sec)

-- tenemos formas de saber en que número vamos, pero por ahora lo veremos con la siguiente consulta.
mysql> show create table persona;
+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table   | Create Table                                                     |
+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| persona | CREATE TABLE `persona` (
  `id` int(2) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(45) NOT NULL,
  `fono` varchar(45) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.00 sec)

-- AUTO_INCREMENT=8 indica que el próximo a insertar es el 8.

-- DEBEMOS TENER EN CUENTA LO SIGUIENTE:
-- si el valor está repetido aparecerá un mensaje de error y el registro no se ingresará.
-- si el valor dado saltea la secuencia, lo toma igualmente y en las siguientes inserciones, continuará la secuencia tomando el valor más alto.
- si el valor ingresado es 0, no lo toma y guarda el registro continuando la secuencia.
- si el valor ingresado es negativo (y el campo no está definido para aceptar sólo valores positivos), lo ingresa.

 -->
            </code></pre>
        </div>
    </section>
</section>

<!-- truncate table-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> truncate table </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Este comando realiza casi la misma tarea que un delete from sin el where, la diferencia es que lo aplicaremos solamente cuando necesitemos eliminar una tabla por completo.</p>
            <p>Borra la tabla y la vuelve a crear, dejando dicha tabla en su estado inicial. La diferencia con "delete" es la velocidad, es más rápido "truncate table" que "delete" (se nota cuando la cantidad de registros es muy grande) ya que éste borra los registros uno a uno.</p>
            <pre><code>
 mysql> select * from persona;
+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  3 | luis   | 8683433 |
|  4 | luis 2 | 8683433 |
|  6 | luis 2 | 8683433 |
|  7 | luis 2 | 8683433 |
+----+--------+---------+
4 rows in set (0.00 sec)

-- ya vimos que al momento de ejecutar un delete, el incremento de id continúa. Esto no pasa con truncate table.

mysql> truncate table persona;
Query OK, 0 rows affected (0.11 sec)

-- insertamos un registro:
mysql> insert into persona values (null, 'luis', '8683433');Query OK, 1 row affected (0.10 sec)

-- al consultar la tabla notamos que el valor vuelve a 1:
mysql> select * from persona;
+----+--------+---------+
| id | nombre | fono    |
+----+--------+---------+
|  1 | luis   | 8683433 |
+----+--------+---------+
1 row in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- default value-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> default value </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <pre><code>
<!-- 

-- creamos la tabla sin indicar not null.
mysql> create table tejemplo (
    ->     uno varchar(10),
    ->     dos datetime,
    ->     tres decimal(4),
    ->     cuatro integer(2),
    ->     cinco char(2)
    -> );
Query OK, 0 rows affected (0.09 sec)


mysql> describe tejemplo;
+--------+--------------+------+-----+---------+-------+
| Field  | Type         | Null | Key | Default | Extra |
+--------+--------------+------+-----+---------+-------+
| uno    | varchar(10)  | YES  |     | NULL    |       |
| dos    | datetime     | YES  |     | NULL    |       |
| tres   | decimal(4,0) | YES  |     | NULL    |       |
| cuatro | int(2)       | YES  |     | NULL    |       |
| cinco  | char(2)      | YES  |     | NULL    |       |
+--------+--------------+------+-----+---------+-------+
5 rows in set (0.00 sec)

-- insertamos todo vacío:
mysql> insert into tejemplo values ();
Query OK, 1 row affected (0.10 sec)

-- consultamos la tabla:
mysql> select * from tejemplo;
+------+------+------+--------+-------+
| uno  | dos  | tres | cuatro | cinco |
+------+------+------+--------+-------+
| NULL | NULL | NULL |   NULL | NULL  |
+------+------+------+--------+-------+
1 row in set (0.00 sec)

-- eliminamos la tabla:
mysql> drop table if exists tejemplo;
Query OK, 0 rows affected (0.02 sec)

-- creamos la tabla con modificaciones:
mysql> create table tejemplo (
    ->     uno varchar(10) not null,
    ->     dos datetime not null,
    ->     tres decimal(4) not null,
    ->     cuatro integer(2) not null,
    ->     cinco char(2) not null,
    -> );
Query OK, 0 rows affected (0.04 sec)

-- en las versiones iguales o inferiores a 5.6, algunos campos poseen valores por defecto.
-- por ejemplo los del tipo datetime era un valor por defecto de 0000-00-00:00:00, pero desde hace un tiempo ya que esto no es posible:
mysql> insert into tejemplo values();
ERROR 1364 (HY000): Field 'uno' doesn't have a default value

-- volvemos a eliminar la tabla:
mysql> drop table if exists tejemplo;
Query OK, 0 rows affected (0.08 sec)

-- creamos la tabla con los valores por defecto:
mysql> create table tejemplo (
    ->     uno varchar(10) default 'uno',
    ->     dos datetime default '2008-01-02',
    ->     tres decimal(4) default 4.0,
    ->     cuatro integer(2) default 0,
    ->     cinco char(2) default 'a'
    -> );
Query OK, 0 rows affected (0.04 sec)

-- consultamos por su estructura:
mysql> describe tejemplo;
+--------+--------------+------+-----+---------------------+-------+
| Field  | Type         | Null | Key | Default             | Extra |
+--------+--------------+------+-----+---------------------+-------+
| uno    | varchar(10)  | YES  |     | uno                 |       |
| dos    | datetime     | YES  |     | 2008-01-02 00:00:00 |       |
| tres   | decimal(4,0) | YES  |     | 4                   |       |
| cuatro | int(2)       | YES  |     | 0                   |       |
| cinco  | char(2)      | YES  |     | a                   |       |
+--------+--------------+------+-----+---------------------+-------+
5 rows in set (0.00 sec)

-- insertamos con valores vacíos, de esta forma se, los datos se llenan con los valores por defecto.
mysql> insert into tejemplo values();
Query OK, 1 row affected (0.04 sec)

-- seleccionamos los datos, de esta forma, podemos ver que a pesar de no ingresar ningún dato, se insertaron los valores por defecto:
mysql> select * from tejemplo;
+------+---------------------+------+--------+-------+
| uno  | dos                 | tres | cuatro | cinco |
+------+---------------------+------+--------+-------+
| uno  | 2008-01-02 00:00:00 |    4 |      0 | a     |
+------+---------------------+------+--------+-------+
1 row in set (0.00 sec)


 -->
   </code></pre>
        </div>
    </section>


</section>

<!-- unsigned-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> unsigned </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Para evitar problemas, como por ejemplo que podamos indicar que un id, posea valores negativos, además de duplicar el tamaño del largo de por ejemplo los integers, podemos decir que el campo será sin signo.</p>
            <pre><code>
<!-- 

-- borramos si existe la tabla:
mysql> drop table if exists tejemplo;
Query OK, 0 rows affected (0.03 sec)

-- creamos la tabla indicando que el campo id será sin signo. (esto es muy conveniente)
mysql> create table tejemplo (
    -> id int(2) unsigned not null auto_increment,
    -> nombre varchar(2),
    -> primary key (id)
    -> );
Query OK, 0 rows affected (0.02 sec)

-- mostramos el detalle:
mysql> describe tejemplo;
+--------+-----------------+------+-----+---------+----------------+
| Field  | Type            | Null | Key | Default | Extra          |
+--------+-----------------+------+-----+---------+----------------+
| id     | int(2) unsigned | NO   | PRI | NULL    | auto_increment |
| nombre | varchar(2)      | YES  |     | NULL    |                |
+--------+-----------------+------+-----+---------+----------------+
2 rows in set (0.00 sec)

-- al ingresar el valor en cero, este toma un valor positivo.
mysql> insert into tejemplo values (0 , 'me');
Query OK, 1 row affected (0.09 sec)

mysql> select * from tejemplo;
+----+--------+
| id | nombre |
+----+--------+
|  1 | te     |
+----+--------+
1 row in set (0.01 sec)

-- simplemente no permite valores negativos.
mysql> insert into tejemplo values (-1 , 's');
ERROR 1264 (22003): Out of range value for column 'id' at row 1

 -->
            </code></pre>
        </div>
    </section>
</section>

<!-- zerofill-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> zerofill </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Cuando queremos que en nuestros datos, se muestren con ceros a la izquierda, para tener una mayor visualización de los ids disponibles que tenemos, incluimos esta palabra en el campo entero. Esto además hace que sea unsigned por defecto.</p>
            <pre><code>
mysql> drop table if exists tejemplo;
Query OK, 0 rows affected (0.09 sec)

mysql> create table tejemplo (
    -> id int(2) zerofill auto_increment,
    -> descripcion text,
    -> primary key (id)
    -> );
Query OK, 0 rows affected (0.05 sec)

mysql> describe tejemplo;
+-------------+--------------------------+------+-----+---------+----------------+
| Field       | Type                     | Null | Key | Default | Extra          |
+-------------+--------------------------+------+-----+---------+----------------+
| id          | int(2) unsigned zerofill | NO   | PRI | NULL    | auto_increment |
| descripcion | text                     | YES  |     | NULL    |                |
+-------------+--------------------------+------+-----+---------+----------------+
2 rows in set (0.00 sec)

-- insertamos para poder comprobar los valores:
mysql> insert into tejemplo values (null, 'hola, solo paso por acá');
Query OK, 1 row affected (0.02 sec)

mysql> select * from tejemplo;
+----+--------------------------+
| id | descripcion              |
+----+--------------------------+
| 01 | hola, solo paso por acá  |
+----+--------------------------+
1 row in set (0.00 sec)

-- no afecta en la búsqueda, es sólo para mejorar el aspecto visual de la presentación de la información:
mysql> select * from tejemplo where id = 1;
+----+--------------------------+
| id | descripcion              |
+----+--------------------------+
| 01 | hola, solo paso por acá  |
+----+--------------------------+
1 row in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- update-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> update </h2>
    </section>
    <section data-background-repeat="repeat" 
    data-background-size="2em" 
    data-background-image="../../lib/img/mod_5/modelo5.jpg"
    data-background-opacity="0.8">
        <div class="font-justify font-size-22">
            <p>Cuando tenemos datos ya ingresados y necesitamos actualizar su contenido, ejecutamos esta consulta. HAY QUE TENER MUCHO CUIDADO CON EL WHERE.</p>
            <p>update {{nombreTabla}} set campo1 = {{valor1}}, ... where {{condiciones}}</p>
            <pre><code>

mysql> select * from tejemplo where id = 1;
+----+--------------------------+
| id | descripcion              |
+----+--------------------------+
| 01 | hola, solo paso por acá  |
+----+--------------------------+
1 row in set (0.00 sec)

mysql> insert into tejemplo values
    -> (null, 'otra descripción'),
    -> (null, 'otra más!!');
Query OK, 2 rows affected (0.03 sec)
Records: 2  Duplicates: 0  Warnings: 0

mysql> select * from tejemplo;
+----+--------------------------+
| id | descripcion              |
+----+--------------------------+
| 01 | hola, solo paso por acá  |
| 02 | otra descripción         |
| 03 | otra más!!               |
+----+--------------------------+
3 rows in set (0.00 sec)

mysql> update tejemplo set descripcion = 'adios, pasé y no estabas' where id = 1;
Query OK, 1 row affected (0.10 sec)
Rows matched: 1  Changed: 1  Warnings: 0

mysql> select * from tejemplo;
+----+---------------------------+
| id | descripcion               |
+----+---------------------------+
| 01 | adiós, pasé y no estabas  |
| 02 | otra descripción          |
| 03 | otra más!!                |
+----+---------------------------+
3 rows in set (0.00 sec)

mysql> update tejemplo set descripcion = 'adiós, pasé y no estabas';
Query OK, 2 rows affected (0.10 sec)
Rows matched: 3  Changed: 2  Warnings: 0

mysql> select * from tejemplo;
+----+---------------------------+
| id | descripcion               |
+----+---------------------------+
| 01 | adiós, pasé y no estabas  |
| 02 | adiós, pasé y no estabas  |
| 03 | adiós, pasé y no estabas  |
+----+---------------------------+
3 rows in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- check point-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> check point  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio</h3>
            <p>1- Eliminar si existe la tabla agenda.</p>
            <p>2- Crear la tabla agenda: id(que se llene con ceros, auto incremental y llave primaria), apellido, nombre, correo, fecha de ingreso, teléfono.</p>
            <p>3- visualizar la estructura de la tabla que se ha creado.</p>
            <p>4-Ingrese los siguientes registros: (null,'Lopez','Alberto','Colon@fake.dev', now(),4234567),
                (null,'Cifuentes','Juan','Avellaneda@fake.dev', now(),4458787),
                (null,'Lopez','Mariana','Urquiza@fake.dev', now(),4234567),
                (null,'Mores','Jose','Urquiza@fake.dev', now(),4234567),</p>
            <p>5-  Modificar el registro cuyo nombre sea "Juan" por "Juan José"</p>
            <p>6- Actualizar los registros cuyo número telefónico sea igual a '4545454' por '4445566'</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Solución</h3>
            <pre><code>
                use ejercicios;

                -- Eliminar si existe la tabla agenda.
                drop table if exists agenda;
                
                -- Crear la tabla agenda: id(que se llene con ceros, auto incremental y llave primaria), apellido, nombre, correo, fecha de ingreso, teléfono.
                
                create table agenda (
                    id int(3) zerofill auto_increment,
                    apellido varchar(45),
                    nombre varchar(45),
                    correo varchar(45),
                    fecha_ingreso datetime,
                    telefono varchar(20),
                    primary key(id)
                );
                
                -- visualizar la estructura de la tabla que se ha creado.
                describe agenda;
                
                /*
                4-Ingrese los siguientes registros: (Lopez,Alberto,Colon 123,4234567), (Cifuentes,Juan,Avellaneda 135,4458787), (Lopez,Mariana Urquiza 333,4545454), (Mores,Jose,Urquiza 333,4545454), (Peralta,Susana,Gral. Paz 1234,4123456).
                */
                
                insert into agenda values 
                (null,'Lopez','Alberto','Colon@fake.dev', now(),4234567),
                (null,'Cifuentes','Juan','Avellaneda@fake.dev', now(),4458787),
                (null,'Lopez','Mariana','Urquiza@fake.dev', now(),4234567),
                (null,'Mores','Jose','Urquiza@fake.dev', now(),4234567);
                
                -- Modificar el registro cuyo nombre sea "Juan" por "Juan José"
                
                select * from agenda;
                update agenda set nombre = 'Juan José' where nombre = 'Juan';
                select * from agenda;
                -- Actualizar los registros cuyo número telefónico sea igual a '4545454' por '4445566'
                
                update agenda set telefono = '4545454' where telefono = 'Juan';
                select * from agenda;
            </code></pre>
        </div>
    </section>
</section>

<!-- Operadores lógicos-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Operadores lógicos  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>stop 🤚🏼</h3>
            <p>Debemos crear los datos para probar las consultas</p>
            <pre><code>
<!-- 

-- borramos la tabla si esta existe:
drop table if exists tejemplo;

-- creamos la tabla con 10 registros:
create table tejemplo (
    id int(10) unsigned auto_increment,
    campo_1 varchar(45),
    campo_2 int(10),
    campo_3 int(10),
    primary key(id)
);

-- insertamos los valores de prueba:
insert into tejemplo (campo_1, campo_2, campo_3) values
('valor1_1', 0, 1),
('valor2_1', 2, 21),
('valor3_1', 4, 12),
('valor4_1', 5, 13),
('valor5_1', 7, 14),
('valor6_1', 8, 17),
('valor7_1', 2, 19),
('valor8_1', 9, 14),
('valor9_1', 7, 16);

-- mostramos los datos ingresados
select * from tejemplo;

select 'Datos cargados, buena suerte 😎';
 -->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>and</h3>
            <p>Se deben cumplir todas las condiciones que conecte este operador, para que el resultado final sea verdadero.</p>
            <pre><code>
<!-- 

select  * 
from    tejemplo
where   campo_2 >= 2
    and campo_3 <= 16;
+----+----------+---------+---------+
| id | campo_1  | campo_2 | campo_3 |
+----+----------+---------+---------+
|  3 | valor3_1 |       4 |      12 |
|  4 | valor4_1 |       5 |      13 |
|  5 | valor5_1 |       7 |      14 |
|  8 | valor8_1 |       9 |      14 |
|  9 | valor9_1 |       7 |      16 |
+----+----------+---------+---------+
5 rows in set (0.00 sec)

 -->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>or</h3>
            <p>Si se cumple al menos una condición, el resultado será verdadero</p>
            <pre><code>
<!-- 
-- seleccionamos usando el or
select  *
from    tejemplo
where   campo_1 = 'valor1_1'
    or  campo_2 = 7
    or  campo_3 = 14;
+----+----------+---------+---------+
| id | campo_1  | campo_2 | campo_3 |
+----+----------+---------+---------+
|  1 | valor1_1 |       0 |       1 |
|  5 | valor5_1 |       7 |      14 |
|  8 | valor8_1 |       9 |      14 |
|  9 | valor9_1 |       7 |      16 |
+----+----------+---------+---------+
4 rows in set (0.00 sec)


 -->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>xor</h3>
            <p>Retorna NULL si algún operando es NULL. Para operandos no NULL , evalúa a 1 si un número par de operandos es distinto a cero, sino retorna 0.</p>
            <p>Nos facilita la tarea de traer aquellos registros que cumplan con la condición descartando a lo que no cumplen.</p>
            <pre><code>
<!--  

-- seleccionamos usando el xor (true, false)
select  *
from    tejemplo
where   campo_1 = 'valor1_1'
    xor campo_2 = 70;

-- seleccionamos usando el xor (true, true)
select  *
from    tejemplo
where   campo_1 = 'valor1_1'
    xor campo_1 = 'valor2_1';

-- seleccionamos usando el xor (false, true)
select  *
from    tejemplo
where   campo_1 = 'valor1_11'
    xor campo_1 = 'valor2_1';

-- seleccionamos usando el xor (false, false, true)
select  *
from    tejemplo
where   campo_1 = 'valor1_11'
    xor campo_1 = 'valor2_11'
    xor campo_1 = 'valor3_1';

-- seleccionamos usando el xor (false, true, false)
select  *
from    tejemplo
where   campo_1 = 'valor1_11'
    xor campo_1 = 'valor2_1'
    xor campo_1 = 'valor3_11';

-- seleccionamos usando el xor (true, true, false)
select  *
from    tejemplo
where   campo_1 = 'valor1_1'
    xor campo_1 = 'valor2_1'
    xor campo_1 = 'valor3_11';

-- seleccionamos usando el xor (true, false, true, false)
select  *
from    tejemplo
where   campo_1 = 'valor1_1'
    xor campo_1 = 'valor2_11'
    xor campo_1 = 'valor3_1'
    xor campo_1 = 'valor3_11';

-->
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Not</h3>
            <p>Es la negación de una condición</p>
            <pre><code>
<!-- 

-- el igual lo convierte a distinto:
select  * 
from    tejemplo
where   not campo_1 =  'valor1_1';

+----+----------+---------+---------+
| id | campo_1  | campo_2 | campo_3 |
+----+----------+---------+---------+
|  2 | valor2_1 |       2 |      21 |
|  3 | valor3_1 |       4 |      12 |
|  4 | valor4_1 |       5 |      13 |
|  5 | valor5_1 |       7 |      14 |
|  6 | valor6_1 |       8 |      17 |
|  7 | valor7_1 |       2 |      19 |
|  8 | valor8_1 |       9 |      14 |
|  9 | valor9_1 |       7 |      16 |
+----+----------+---------+---------+
8 rows in set (0.00 sec)
 -->
            </code></pre>
        </div>
    </section>
</section>

<!-- check point-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> check point  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio</h3>
           <p>Antes de comenzar debemos ejecutar el siguiente script.</p>
            <pre><code>

drop table if exists pelicula;

create table pelicula ( 
    id       int (3) zerofill auto_increment, 
    titulo   varchar(45), 
    actor    varchar(45), 
    duracion int(3) unsigned, 
    primary key (id) 
);

insert into pelicula (titulo,actor,duracion) 
values      ('Mision imposible','Tom Cruise',120),
            ('Harry Potter y la piedra filosofal','Daniel R.',180),
            ('Harry Potter y la camara secreta','Daniel R.',190),
            ('Mision imposible 2','Tom Cruise',120),
            ('Mujer bonita','Richard Gere',120),
            ('Tootsie','D. Hoffman',90),
            ('Un oso rojo','Julio Chavez',100),
            ('Elsa y Fred','China Zorrilla',110);


            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-2">
            <h4>Realizar un script en sql, que cumpla con lo siguiente:</h4>
            <p>1- Recuperar los registros cuyo actor sea "Tom Cruise" o "Richard Gere".</p>
            <p>2- ¿Cuantos registros cuyo actor sea "Tom Cruise" y "Richard Gere", existen?.</p>
            <p>3- Cambie la duración a 200, de las películas cuyo actor sea "Daniel R." y cuya duración sea 180.</p>
            <p>4- Borre todas las películas donde el actor NO sea "Tom Cruise" y cuya duración sea mayor o igual a 100</p>
            <p>5- ingrese 3 de sus películas favoritas.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Solución</h3>
            
            <pre><code>
-- 1- Recuperar los registros cuyo actor sea "Tom Cruise" o "Richard Gere".

select  * 
from    pelicula 
where   actor = 'Tom Cruise' 
    or  actor = 'Richard Gere';

-- 2- ¿Cuantos registros cuyo actor sea "Tom Cruise" y "Richard Gere", existen?.
select  count(*)
from    pelicula
where   actor = 'Tom Cruise' 
    and actor = 'Richard Gere';


-- 3- Cambie la duración a 200, de las películas cuyo actor sea "Daniel R." y cuya duración sea 180.
update  pelicula
set     duracion = 200
where   actor = 'Daniel R.'
    and duracion = 180;

-- 4- Borre todas las películas donde el actor NO sea "Tom Cruise" y cuya duración sea mayor o igual a 100
delete
from    pelicula
where   actor &#60;> 'Tom Cruise'
    and duracion >= 100;

-- 5- ingrese 3 de sus películas favoritas.
            </code></pre>
        </div>
    </section>
    
    
</section>


<!-- dummy table-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-22">
            <h3>dummy table (ciudad)</h3>
            <p>Cargar esta base de datos para realizar las pruebas.</p>
            <p>descargar <a href="../views/mod_5/sqls/ciudad_set1.sql">acá</a> </p>
        </div>
        
    </section>
</section>

<!-- like-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> like  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Hasta ahora, cuando realizamos una comparación, utilizamos el `=`. Este operador, busca coincidencias exactas. Cuando no tenemos el nombre exacto, pero sí una parte de la cadena de caracteres, podemos obtener esos registros, utilizando el `like`. En otras palabras, podemos preguntar si una cadena se parece y con ello obtener dicho registro..</p>
            <p>Acá disponemos de un patrón que explicamos a continuación.</p>
            <pre><code>
-- Definición:
SELECT column1, column2, ...
FROM table_name
WHERE columnN LIKE pattern;
            </code></pre>
        </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE 'x%'</h3>
                <p>Este patrón encuentra cualquier valor, que comience con x, siendo x uno o varios caracteres.</p>
                <pre><code>
mysql> select * from ciudad where nombre like 'a%';
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
+-----+------------+-------+---------------+------------+
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE '%x'</h3>
                <p>Este patrón encuentra cualquier valor, que termine con x, siendo x uno o varios caracteres.</p>
                <pre><code>
mysql> select * from ciudad where nombre like '%a';
+-----+--------+-------+---------------+------------+
| ID  | nombre | sigla | estado        | población  |
+-----+--------+-------+---------------+------------+
| 012 | Breda  | NLD   | Noord-Brabant |     160398 |
+-----+--------+-------+---------------+------------+
1 row in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE '%x%'</h3>
                <p>Este patrón encuentra cualquier valor, que contenga x, siendo x uno o varios caracteres.</p>
                <pre><code>
mysql> select * from ciudad where nombre like '%ams%';
+-----+-----------+-------+---------------+------------+
| ID  | nombre    | sigla | estado        | población  |
+-----+-----------+-------+---------------+------------+
| 005 | Amsterdam | NLD   | Noord-Holland |     731200 |
+-----+-----------+-------+---------------+------------+
1 row in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE '_x%'</h3>
                <p>Este patrón encuentra cualquier valor, que tenga después del primer caracter el valor x, siendo x uno o varios caracteres.</p>
                <p>La cantidad de `_`, definen después de cuantos carácteres</p>
                <pre><code>
mysql> select * from ciudad where nombre like '_m%';
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
+-----+------------+-------+---------------+------------+
2 rows in set (0.00 sec)

mysql> select * from ciudad where nombre like '__m%';
+-----+--------+-------+-----------+------------+
| ID  | nombre | sigla | estado    | población  |
+-----+--------+-------+-----------+------------+
| 017 | Almere | NLD   | Flevoland |     142465 |
+-----+--------+-------+-----------+------------+
1 row in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE 'x_%_%'</h3>
                <p>Este patrón encuentra cualquier valor, que tenga el valor x al principio de la cadena, además que contenga, al menos dos caracteres más con cualquier valor, siendo x uno o varios caracteres.</p>
                <pre><code>
mysql> select * from ciudad where nombre like 'a_%_%';
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
+-----+------------+-------+---------------+------------+
5 rows in set (0.00 sec)

-- es lo mimo que indicar todo con un `%`:
mysql> select * from ciudad where nombre like 'a__%';
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
+-----+------------+-------+---------------+------------+
5 rows in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>LIKE 'x%y'</h3>
                <p>Este patrón encuentra cualquier valor, que tenga el valor x al principio de la cadena, y que termine con el valor y, siendo x e y uno o varios caracteres.</p>
                <pre><code>
mysql> select * from ciudad where nombre like 'a%m';
+-----+-----------+-------+---------------+------------+
| ID  | nombre    | sigla | estado        | población  |
+-----+-----------+-------+---------------+------------+
| 005 | Amsterdam | NLD   | Noord-Holland |     731200 |
| 018 | Arnhem    | NLD   | Gelderland    |     138020 |
+-----+-----------+-------+---------------+------------+
2 rows in set (0.00 sec)
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>% vs _</h3>
                <p>Dentro del like, el comodín `%` se refiere a uno o varios carácteres.</p>
                <p>El comodín `_` se refiere a solamente un carácter.</p>
            </div>
        </section>
</section>

<!-- limit-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> limit  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Se usa para restringir la cantidad de registros que traerá la consulta.</p>
            <p>Acepta uno o dos parámetros LIMIT a, b</p>
            <pre><code>
-- obtenemos los primeros 10 registros.

mysql> select * from ciudad limit 10;
+-----+----------------+-------+---------------+------------+
| ID  | nombre         | sigla | estado        | población  |
+-----+----------------+-------+---------------+------------+
| 001 | Kabul          | AFG   | Kabol         |    1780000 |
| 002 | Qandahar       | AFG   | Qandahar      |     237500 |
| 003 | Herat          | AFG   | Herat         |     186800 |
| 004 | Mazar-e-Sharif | AFG   | Balkh         |     127800 |
| 005 | Amsterdam      | NLD   | Noord-Holland |     731200 |
| 006 | Rotterdam      | NLD   | Zuid-Holland  |     593321 |
| 007 | Haag           | NLD   | Zuid-Holland  |     440900 |
| 008 | Utrecht        | NLD   | Utrecht       |     234323 |
| 009 | Eindhoven      | NLD   | Noord-Brabant |     201843 |
| 010 | Tilburg        | NLD   | Noord-Brabant |     193238 |
+-----+----------------+-------+---------------+------------+
10 rows in set (0.00 sec)

-- desde el 2 hasta el 6, indicando (1, 5)
mysql> select * from ciudad limit 1, 5;
+-----+----------------+-------+---------------+------------+
| ID  | nombre         | sigla | estado        | población  |
+-----+----------------+-------+---------------+------------+
| 002 | Qandahar       | AFG   | Qandahar      |     237500 |
| 003 | Herat          | AFG   | Herat         |     186800 |
| 004 | Mazar-e-Sharif | AFG   | Balkh         |     127800 |
| 005 | Amsterdam      | NLD   | Noord-Holland |     731200 |
| 006 | Rotterdam      | NLD   | Zuid-Holland  |     593321 |
+-----+----------------+-------+---------------+------------+
5 rows in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- order by-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> order by  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>El set de datos obtenidos de la selección, SELECT, viene ordenado según  el motor que estemos utilizando. Por ejemplo en el motor por defecto InnoDB, el orden será de menor a mayor (asc) por la llave primaría, el motor MyISAM, los ordena según el orden de inserción.</p>
            <p>Si bien esta información resulta ser verdadera en un gran porcentaje de los casos, no se garantiza que este orden permanecerá a lo largo del tiempo. Es por ello que si el orden en el que se muestren los datos es importante, debemos usar la clausula ORDER BY.</p>
            <pre><code>
--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-- ordenar por id:
mysql> select * from ciudad order by id limit 10;
+-----+----------------+-------+---------------+------------+
| ID  | nombre         | sigla | estado        | población  |
+-----+----------------+-------+---------------+------------+
| 001 | Kabul          | AFG   | Kabol         |    1780000 |
| 002 | Qandahar       | AFG   | Qandahar      |     237500 |
| 003 | Herat          | AFG   | Herat         |     186800 |
| 004 | Mazar-e-Sharif | AFG   | Balkh         |     127800 |
| 005 | Amsterdam      | NLD   | Noord-Holland |     731200 |
| 006 | Rotterdam      | NLD   | Zuid-Holland  |     593321 |
| 007 | Haag           | NLD   | Zuid-Holland  |     440900 |
| 008 | Utrecht        | NLD   | Utrecht       |     234323 |
| 009 | Eindhoven      | NLD   | Noord-Brabant |     201843 |
| 010 | Tilburg        | NLD   | Noord-Brabant |     193238 |
+-----+----------------+-------+---------------+------------+

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-- ordenar por otro campo:
mysql> select * from ciudad order by nombre limit 10;
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 012 | Breda      | NLD   | Noord-Brabant |     160398 |
| 023 | Dordrecht  | NLD   | Zuid-Holland  |     119811 |
| 009 | Eindhoven  | NLD   | Noord-Brabant |     201843 |
| 015 | Enschede   | NLD   | Overijssel    |     149544 |
| 011 | Groningen  | NLD   | Groningen     |     172701 |
+-----+------------+-------+---------------+------------+
10 rows in set (0.00 sec)

--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-- ordenar por varios campos: 
-- (El orden es prioridad por la columna que está primero, si estas son iguales, se prioriza por la siguiente columna).
mysql> select * from ciudad order by nombre, id limit 10;
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 012 | Breda      | NLD   | Noord-Brabant |     160398 |
| 023 | Dordrecht  | NLD   | Zuid-Holland  |     119811 |
| 009 | Eindhoven  | NLD   | Noord-Brabant |     201843 |
| 015 | Enschede   | NLD   | Overijssel    |     149544 |
| 011 | Groningen  | NLD   | Groningen     |     172701 |
+-----+------------+-------+---------------+------------+
10 rows in set (0.00 sec)

-- ingresamos un campo repetido.
mysql> insert into ciudad values (null,'Almere','NLD','Flevoland',142465);
Query OK, 1 row affected (0.05 sec)

mysql> select * from ciudad order by nombre, id limit 10;
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 024 | Almere     | NLD   | Flevoland     |     142465 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 012 | Breda      | NLD   | Noord-Brabant |     160398 |
| 023 | Dordrecht  | NLD   | Zuid-Holland  |     119811 |
| 009 | Eindhoven  | NLD   | Noord-Brabant |     201843 |
| 015 | Enschede   | NLD   | Overijssel    |     149544 |
+-----+------------+-------+---------------+------------+
10 rows in set (0.00 sec)

            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>desc & asc</h3>
            <p>Es el orden en que aparecerán los registros, asc quiere decir que el orden será ascendente, mientras que desc, quiere decir que el orden será descendente.</p>
            <p>Se debe indicar que, esta clausula irá al dado de cada campo, ya que afecta al campo que se encuentra justamente atrás.</p>
            <pre><code>
mysql> select * from ciudad order by nombre desc, id limit 10 ;
+-----+-----------------+-------+---------------+------------+
| ID  | nombre          | sigla | estado        | población  |
+-----+-----------------+-------+---------------+------------+
| 019 | Zaanstad        | NLD   | Noord-Holland |     135621 |
| 008 | Utrecht         | NLD   | Utrecht       |     234323 |
| 010 | Tilburg         | NLD   | Noord-Brabant |     193238 |
| 020 | s-Hertogenbosch | NLD   | Noord-Brabant |     129170 |
| 006 | Rotterdam       | NLD   | Zuid-Holland  |     593321 |
| 002 | Qandahar        | AFG   | Qandahar      |     237500 |
| 014 | Nijmegen        | NLD   | Gelderland    |     152463 |
| 004 | Mazar-e-Sharif  | AFG   | Balkh         |     127800 |
| 022 | Maastricht      | NLD   | Limburg       |     122087 |
| 001 | Kabul           | AFG   | Kabol         |    1780000 |
+-----+-----------------+-------+---------------+------------+
10 rows in set (0.00 sec)

-- hay que notar que esta vez, el orden del id es de mayor a menor.
mysql> select * from ciudad order by nombre, id desc limit 10 ;
+-----+------------+-------+---------------+------------+
| ID  | nombre     | sigla | estado        | población  |
+-----+------------+-------+---------------+------------+
| 024 | Almere     | NLD   | Flevoland     |     142465 |
| 017 | Almere     | NLD   | Flevoland     |     142465 |
| 021 | Amersfoort | NLD   | Utrecht       |     126270 |
| 005 | Amsterdam  | NLD   | Noord-Holland |     731200 |
| 013 | Apeldoorn  | NLD   | Gelderland    |     153491 |
| 018 | Arnhem     | NLD   | Gelderland    |     138020 |
| 012 | Breda      | NLD   | Noord-Brabant |     160398 |
| 023 | Dordrecht  | NLD   | Zuid-Holland  |     119811 |
| 009 | Eindhoven  | NLD   | Noord-Brabant |     201843 |
| 015 | Enschede   | NLD   | Overijssel    |     149544 |
+-----+------------+-------+---------------+------------+
10 rows in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- distinct -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> distinct  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Cuando existen registros con datos duplicados, como es el caso del ejemplo  para el campo `sigla`, podemos especificar que queremos que el valor indicado aparezca una sola vez.</p>
            <pre><code>
-- realizar una consulta del tipo:
-- select distinct sigla, nombre, estado, poblacion from ciudad;
-- carece de sentido, ya que implica que nos debe traer todos 
-- los campos cuya combinación de (sigla, nombre, estado, 
-- poblacion) sea distinta, es decir que el resultado sería
-- el mismo que si sólo hubiéramos hecho un select normal.

-- se usa regularmente con un solo campo, pero podemos también 
-- en ocasiones, utilizar este comando, para buscar distintas 
-- combinaciones de campos.

mysql> select distinct sigla from ciudad;
+-------+
| sigla |
+-------+
| AFG   |
| NLD   |
+-------+
2 rows in set (0.00 sec)

mysql> select distinct sigla, nombre from ciudad;
+-------+-----------------+
| sigla | nombre          |
+-------+-----------------+
| AFG   | Kabul           |
| AFG   | Qandahar        |
| AFG   | Herat           |
| AFG   | Mazar-e-Sharif  |
| NLD   | Amsterdam       |
| NLD   | Rotterdam       |
| NLD   | Haag            |
| NLD   | Utrecht         |
| NLD   | Eindhoven       |
| NLD   | Tilburg         |
| NLD   | Groningen       |
| NLD   | Breda           |
| NLD   | Apeldoorn       |
| NLD   | Nijmegen        |
| NLD   | Enschede        |
| NLD   | Haarlem         |
| NLD   | Almere          |
| NLD   | Arnhem          |
| NLD   | Zaanstad        |
| NLD   | s-Hertogenbosch |
| NLD   | Amersfoort      |
| NLD   | Maastricht      |
| NLD   | Dordrecht       |
+-------+-----------------+
23 rows in set (0.00 sec)
            </code></pre>
        </div>
    </section>
</section>

<!-- check point-->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_5/modelo4.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> check point  </h2>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio</h3>
           <p>Crear una tabla en conjunto (es decir todos nosotros 🥂 ) que contenga la información de cursos y de alumnos.</p>
           <p>Cada alumno está en uno o dos cursos, estos datos estarán representados por 20 registros.</p>
           <p>Realizar una consulta que liste a los alumnos y otra a los cursos</p>
           <p>Realizar la consulta que liste los cursos, estos no se deben repetir.</p>
           <p>Realizar la consulta en la que se muestre la lista de cursos ordenamos por cantidad de alumnos.</p>
           <p>Realizar una consulta que muestre a los alumnos que pertenecen una clase determinada.(en la tabla alumno, debe ir un campo que refiera al curso)</p>
            <pre><code>

drop table if exists pelicula;

create table pelicula ( 
    id       int (3) zerofill auto_increment, 
    titulo   varchar(45), 
    actor    varchar(45), 
    duracion int(3) unsigned, 
    primary key (id) 
);

insert into pelicula (titulo,actor,duracion) 
values      ('Mision imposible','Tom Cruise',120),
            ('Harry Potter y la piedra filosofal','Daniel R.',180),
            ('Harry Potter y la camara secreta','Daniel R.',190),
            ('Mision imposible 2','Tom Cruise',120),
            ('Mujer bonita','Richard Gere',120),
            ('Tootsie','D. Hoffman',90),
            ('Un oso rojo','Julio Chavez',100),
            ('Elsa y Fred','China Zorrilla',110);


            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h4>Realizar un script en sql, que cumpla con lo siguiente:</h4>
            <p>1- Recuperar los registros cuyo actor sea "Tom Cruise" o "Richard Gere".</p>
            <p>2- ¿Cuantos registros cuyo actor sea "Tom Cruise" y "Richard Gere", existen?.</p>
            <p>3- Cambie la duración a 200, de las películas cuyo actor sea "Daniel R." y cuya duración sea 180.</p>
            <p>4- Borre todas las películas donde el actor NO sea "Tom Cruise" y cuya duración sea mayor o igual a 100</p>
            <p>5- ingrese 3 de sus películas favoritas.</p>
        </div>
    </section>
    
</section>



