<section data-background-repeat="repeat" data-background-image="../../lib/img/cards/file.jpeg"
    data-background-opacity="0.2">

    <h3><a href="../../archivos/mod_3/Ejercicio_Casos de_uso.pdf">💽  Casos de uso</a></h3>
    <h3><a href="../../archivos/mod_3/Ejercicio-Diagramas_clases.pdf">💽 Diagrama de clases</a></h3>
    <h3><a href="../../archivos/mod_3/ppt_mod_3.pptx">💽 Material</a></h3>
</section>