<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/cu_img.png"
    data-background-opacity="0.2">

    <h3>Ejercicios de diagramas de casos de uso </h3>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/cu_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 1 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p>Un juego de teléfono móvil dónde participan dos jugadores cada uno con su propia terminal.</p>
            <p>Cuando dos jugadores desean jugar, uno de ellos crea una nueva partida y el otro se conecta.</p>
            <p>El objetivo del juego es manejar una nave y disparar al contrario. Si uno de los dos jugadores acierta, la partida termina.</p>
            <p>Si uno de los dos jugadores deja la partida (o se pierde la conexión) la partida termina.</p>
        </div>
    </section>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/cu_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 2 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p>Un sistema personal de bolsa se conecta periódicamente a servidores que ofrecen información de las cotizaciones.</p>
            <p>El sistema personal permite marcar una serie de valores para realizar un seguimiento y consultar los datos de dichos valores.</p>
            <p>Si a la hora de actualizar las cotizaciones uno de los valores marcados presenta una gran subida o bajada, informará a usuario de ello.</p>
        </div>
    </section>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/cu_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 3 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p>Se desea desarrollar un sistema de encuentros virtuales (parecido a un chat).</p>
            <p>Cuando se conecta al servidor, un usuario puede entrar o salir de un encuentro.</p>
            <p>Cada encuentro tiene un manager.</p>
            <p>El manager es el usuario que ha planificado el encuentro (el nombre del encuentro, la agenda del  encuentro y el moderador del encuentro).</p>
            <p>Cada encuentro puede tener también un moderador designado por el manager.</p>
            <p>La misión del moderador es asignar los turnos de palabra para que los usuarios hablen.</p>
            <p>El moderador también podrá dar por concluido el encuentro en cualquier moment</p>
            <p>En cualquier momento un usuario puede consultar el estado del sistema, por ejemplo los  encuentros planeados y su información.</p>
        </div>
    </section>
</section>
