<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/class_img.png"
    data-background-opacity="0.2">

    <h3>Ejercicios de diagramas de clases </h3>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/class_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 1 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p>Se desea diseñar un diagrama de clases sobre la información de las reservas de una empresa dedicada al alquiler de automóviles, teniendo en cuenta que:</p>
            <p>1 - Un determinado cliente puede tener en un momento dado hechas varias reservas.</p>
            <p>2 - De cada cliente se desean almacenar su DNI, nombre, dirección y teléfono. Además dos clientes se diferencian por un código único.</p>
            <p>3 - Cada cliente puede ser avalado por otro cliente de la empresa.</p>
            <p>4 - Una reserva la realiza un único cliente pero puede involucrar varios coches.</p>
            <p>5 - Es importante registrar la fecha de inicio y final de la reserva, el precio del alquiler de cada uno de los coches, los litros de gasolina en el depósito en el momento de realizar la reserva, el precio total de la reserva y un indicador de si el coche o los coches han sido entregados.</p>
            <p>6 - Todo coche tiene siempre asignado un determinado garaje que no puede cambiar. De cada coche se requiere la matricula, el modelo el color y la marca.</p>
            <p>7 - Cada reserva se realiza en una determinada agencia.</p>
        </div>
    </section>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/class_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 2 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p>Una cadena de agencias de viajes desea disponer de una Base de Datos que contemple información relativa al hospedaje y vuelos de los turistas que la contratan. Los datos a tener en cuenta son:</p>
            <p>1 -La cadena de agencias está compuesta por un conjunto de sucursales. Cada sucursal viene definida por el código de sucursal, dirección y teléfono.</p>
            <p>2 -La cadena tiene contratados una serie de hoteles de forma exclusiva. Cada hotel estará definido por el código de hotel, nombre, dirección, ciudad, teléfono y número de plazas disponibles.</p>
            <p>3 -De igual forma, la cadena tiene contratados una serie de vuelos regulares de forma exclusiva. Cada vuelo viene definido por el número de vuelo, fecha y hora, origen y destino, plazas totales y plazas de clase turista de las que dispone.</p>
            <p>4 -La información que se desea almacenar por cada turista es el código de turista, nombre y apellidos, dirección y teléfono.</p>
            <p>5 -Por otra parte, hay que tener en cuenta la siguiente información:</p>
            <p>6 -A la cadena de agencias le interesa conocer que sucursal ha contratado el turista.</p>
            <p>7 -A la hora de viajar el turista puede elegir cualquiera de los vuelos que ofrece la cadena, y en que clase (turista o primera) desea viajar.</p>
            <p>9 -De igual manera, el turista se puede hospedar en cualquiera de los hoteles que ofrece la cadena, y elegir el régimen de hospedaje (media pensión o pensión completa). Siendo significativa la fecha de llegada y de partida.</p>
        </div>
    </section>
</section>

<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/mod_3/class_img.png"
    data-background-opacity="0.1">
    <section>
        <h2> Ejercicio 3 🧠</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <p> El Ministerio de Defensa desea diseñar una Base de Datos para llevar un cierto control de los soldados que realizan el servicio militar. Los datos significativos a tener en cuenta son:</p>
            <p>1- Un soldado se define por su código de soldado (único), su nombre y apellidos, y su graduación.</p>
            <p>2- Existen varios cuarteles, cada uno se define por su código de cuartel, nombre y ubicación.</p>
            <p>3- Hay que tener en cuenta que existen diferentes Cuerpos del Ejército (Infantería, Artillería, Armada, ....), y cada uno se define por un código de Cuerpo y denominación.</p>
            <p>4- Los soldados están agrupados en compañías, siendo significativa para cada una de éstas, el número de compañía y la actividad principal que realiza.</p>
            <p>5- Se desea controlar los servicios que realizan los soldados (guardias, imaginarias, cuarteleros, ...), y se definen por el código de servicio y descripción.(continúa...)</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Consideraciones de diseño:</p>
            <p>1- Un soldado pertenece a un único cuerpo y a una única compañía, durante todo el servicio militar. A una compañía pueden pertenecer soldados de diferentes cuerpos, no habiendo relación directa entre compañías y cuerpos.</p>
            <p>2- Los soldados de una misma compañía pueden estar destinados en diferentes cuarteles, es decir, una compañía puede estar ubicada en varios cuarteles, y en un cuartel puede haber varias compañías. Eso si, un soldado sólo está en un cuartel.</p>
            <p>3- Un soldado realiza varios servicios a lo largo de la milicia. Un mismo servicio puede ser realizado por más de un soldado (con independencia de la compañía), siendo significativa la fecha de realización.</p>
        </div>
    </section>
</section>



