<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png"
    data-background-opacity="0.2">

    <h3>GESTIÓN DE REQUISITOS PARA LA CONSTRUCCIÓN DE SOFTWARE </h3>
</section>

<!-- OBJETIVOS -->
<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo_3.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> OBJETIVOS 🏁 🏁</h2>
    </section>

    <section>
        <div class="font-justify font-size-28">

            <ul>
                <h5>Documenta requerimientos utilizando técnicas definidas.</h5>
                <li>Reconoce requerimientos y tipos de requerimientos, características y técnicas de levantamiento.
                </li><br />
                <li>Reconoce el lenguaje UML y sus diagramas como una herramienta de modelamiento de requisitos.</li><br />
                <li>Utiliza técnicas específicas para levantar y documentar los requerimientos de usuarios. </li><br />
            </ul>

        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">

            <ul>
                <h5>Realiza el proceso de levantamiento de requisitos de acuerdo a los mecanismos de levantamiento
                    definidos.</h5>
                <li>Realiza el levantamiento de requerimiento para cambios pequeños, trabajando con partes interesadas
                    utilizando técnicas de levamiento de requerimientos.</li><br />

                <li>Selecciona las técnicas de levantamiento de requisitos detallados de acuerdo al origen de los
                    requerimientos, la práctica establecida por los interesados para informar sus requerimientos, las
                    características y la cultura organizacional de aquellos que proporcionan los requerimientos.</li>

            </ul>

        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">

            <ul>
                <h5>Realiza el proceso de levantamiento de requisitos de acuerdo a los mecanismos de levantamiento
                    definidos.</h5>
                <li>Asegura la trazabilidad entre los requerimientos y su origen, a través de la documentación de
                    requerimientos levantados.
                    Analiza la adherencia y consistencia de los requerimientos del cliente a los objetivos de negocio,
                    realizando los cambios necesarios.</li><br />
                <li>Prioriza requerimientos con los interesados.</li>
            </ul>

        </div>
    </section>

    <section>

        <p class="font-justify">🏁 El estudiante logra comprender, entender y crear requerimientos formalizando con
            lenguaje UML.</p>
        <p class="font-justify">🏁 Trabajo en grupo, para realizar actividades de enriquecimiento de análisis
            fundamentación y participación activa de resolución de casos de la vida real.</p>

    </section>

</section>
<!-- #OBJETIVOS -->


<!-- Definición de Requerimientos y de Análisis de Requerimientos -->
<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Definición de Requerimientos y de Análisis de Requerimientos</h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h5>¿Qué es un Requerimiento?</h5>
            <p>
                La definición más general alrededor de esta noción es la que brinda el Instituto de Ingeniería
                Electrónica
                y Eléctrica (IEEE, https://standards.ieee.org/).
            </p>
            <p>Una condición o necesidad de un usuario para resolver un problema o alcanzar un objetivo.</p>
            <p>Una condición o capacidad que debe estar presente en un sistema o componentes de sistema para satisfacer
                un
                contrato, estándar, especificación u otro documento formal.</p>
            <p>Una representación documentada de una condición o capacidad documentada como las descritas en
                anteriormente.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h5>¿Qué es un Requerimiento?</h5>
            <p>Esta definición expresa la perspectiva clásica de los requerimientos como elementos de un producto, o
                criterios para acuerdos. Sin embrago, otros autores son más específicos frente a la relación de los
                requerimientos con relación al sistema que van a representar</p>

        </div>
        <div class="font-justify font-size-22">
            <blockquote cite="#">
                &ldquo;Los requerimientos son una especificación de lo que debe ser implementado. Estos son
                descripciones
                de cómo el sistema se debe comportar, de las propiedades y atributos del mismo. Deben ser una
                restricción
                del proceso de desarrollo del sistem.&rdquo;
                <br /><br />
                <small>SOMMERVILLE Ian y SAWYER,Peter. Requirements engineering: A good practice guide.
                    3ed.Chinchester,
                    Inglaterra: John Wiley & Sons Ltd., 2000.</small>
            </blockquote>
        </div>

    </section>

    <section>
        <div class="font-justify font-size-28">
            <h5>Tipos de Requerimiento</h5>
            Los requerimientos se clasifican principalmente en los siguientes: <br /><br />
            <ul>
                <li>Del Usuario</li> <br />
                <li>Del Sistema<br /><br />
                    <ul>
                        <li>Funcionales</li> <br />
                        <li>No Funcionales</li> <br />
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h5>Requerimientos del Usuario</h5>
            <p>Son declaraciones, en <span class="destaca-me"> lenguaje natural y en diagramas</span>, de los servicios
                que
                se espera que el sistema
                proporcione y de las restricciones bajo las cuales debe funcionar.</p>
        </div>
    </section>

    <section>
        <div class=" font-justify font-size-28">
            <h5>Requerimientos Funcionales del Sistema</h5>
            <p>Los requerimientos funcionales de un sistema describen <span class="destaca-me">la funcionalidad o los
                    servicios</span> que se espera que
                éste provea. Estos dependen del tipo de software y del sistema que se desarrolle asi como también de
                los
                posibles usuarios de este.
                .</p>
            <p>En algunos casos, los requerimientos funcionales de los sistemas también declaran explícitamente lo que
                el
                sistema no debe hacer.
            </p>
            <p>Cuando se expresan como requerimientos del usuario, habitualmente se describen de forma general mientras
                que
                los requerimientos funcionales del sistema describen con detalle la función de éste, sus entradas y
                salidas, excepciones, etc.</p>
        </div>
    </section>

    <section>
        <div class=" font-justify font-size-28">
            <h5>Requerimientos No Funcionales</h5>
            <p>Son restricciones de los servicios o funciones ofrecidos por el sistema. Incluyen <span class="destaca-me">restricciones
                    de tiempo,
                    sobre el proceso de desarrollo, estándares, y otros.</span>
            </p>
            <p> Son aquellos requerimientos que no se refieren directamente a las funciones específicas que entrega el
                sistema, sino a las propiedades emergentes de éste como la <span class="destaca-me">fiabilidad, la
                    respuesta en el tiempo y la
                    capacidad de almacenamiento.</span></p>

            <p>Definen las restricciones del sistema como la capacidad de los dispositivos de entrada/salida y la
                representación de datos que se utiliza en la interface del sistema. </p>
        </div>
    </section>

    <section>
        <div class=" font-justify font-size-28">
            <h5>Características de los Requerimiento
            </h5>
            <p>Único: El requerimiento debe poder ser <span class="destaca-me">interpretado inequívocamente de una sola
                    manera.</span>
            </p>
            <p>Verificable: Su implementación debe poder ser comprobada. El test debe dar como resultado CORRECTO o
                INCORRECTO.
            </p>
            <p>Claro: Los requerimientos <span class="destaca-me">no deben contener terminología innecesaria.</span>
                Deben
                ser establecidos de forma clara
                y simple.
            </p>
            <p>Viable (realista y posible): El requerimiento debe ser <span class="destaca-me">factible</span> según
                las
                restricciones actuales de tiempo,
                <span class="destaca-me">dinero y recursos disponibles.</span></p>
            <p>Necesario: Un requerimiento no es necesario si ninguno de los interesados necesita el requerimiento o
                bien
                si la retirada de dicho requerimiento no tiene ningún efecto.</p>
        </div>
    </section>

    <section>
        <h5>Partes Interesadas o StakeHolders (Quien sostiene la estaca)</h5>
        <div class=" font-justify font-size-28 align-left-se">

            <p>Persona u organización que puede afectar, verse <span class="destaca-me">afectada</span> o percibirse
                como
                afectada por una decisión o
                actividad.</p>

            <p>Personas que tienen influencia para impedir o impulsar la actividad de la empresa.</p>

            <p>Por Ejemplo : Clientes, propietarios, personal de una organización, proveedores, sindicatos, socios o la
                sociedad que pueden incluir competidores o grupos de presión contrarios.</p>
        </div>
        <div class="align-right-se">
            <img data-src="../../lib/img/materia_01/mate_01.svg" alt="">
        </div>
    </section>

    <section>
        <h5>Alcance del proyecto</h5>
        <div class=" font-justify font-size-28">
            <p>Es el trabajo realizado para entregar un producto, servicio o resultado con las funciones y
                características
                especificadas. En ocasiones se considera que el término alcance del proyecto incluye el alcance del
                producto.
            </p>
            <p>
                <small> 2013 Project Management Institute. Guía de los Fundamentos para la Dirección de Proyectos (Guía
                    del
                    PMBOK 105 ®) — Quinta edición </small>
            </p>
        </div>
    </section>

    <section>
        <img data-src="../../lib/img/materia_01/reque_01.jpg" alt="">
    </section>

</section>
<!-- #Definición de Requerimientos y de Análisis de Requerimientos -->
<!-- Especificación de Requerimientos -->
<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo_4.jpg"
    data-background-opacity="0.1">

    <section>
        <h2>Especificación de Requerimientos - Principios de Especificación</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Principios de Especificación </h5>
            <p>Se proponen ocho principios para una buena especificación.</p>
            <p> 1. Separar funcionalidad de implementación: Es decir que no se toman en cuenta aspectos técnicos, como
                por
                ejemplo, el lenguaje en el que será desarrollado.</p>
            <p> 2. Se necesita un lenguaje de especificación de sistemas orientado al proceso: Es decir, que se debe
                usar
                modelos de proceso y no las funciones que se emplean, tampoco usar un lenguaje de programación.</p>
            <p> 3. Una especificación debe abarcar el sistema del cual el software es una componente: Cuando se
                especifica
                un requerimiento, este último debe estar en el contexto del Software que se está implementando.</p>
            <p> 4. Una especificación debe abarcar el entorno en el que el sistema opera: Con que sistemas o entornos
                que
                opere el requerimiento debe ser especificado, por ejemplo si se está en la nube o local.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Principios de Especificación </h5>
            <p> 5. Una especificación de sistema debe ser un modelo cognitivo: Procesos mentales como la percepción, la
                memoria o el lenguaje deben ser estimulados con la especificación (Los modelos deben estar presentes)</p>
            <p> 6. Una especificación debe ser operacional: Deben estar en un lenguaje formal y su finalización debe
                poder
                ser probada y validada.</p>
            <p> 7. La especificación del sistema debe ser tolerante con la incompletitud y aumentable: La
                especificación
                del sistema debe ser tolerante con la incompletitud y aumentable. Ninguna especificación puede ser
                siempre
                totalmente completa. El entorno en el que existe es demasiado complejo para ello. Una especificación es
                siempre un modelo, una abstracción, de alguna situación real (o imaginada). Por tanto, será incompleta.</p>
            <p> 8. Una especificación debe ser localizada y débilmente acoplada: La especificación, parece una entidad
                estática, pero no lo es, esta sufre cambios con el paso del tiempo, es por ello que debe estar
                débilmente
                acoplada, para que cuando sufra cambios, no afecte o afecte lo menos posible a los demás
                requerimientos.</p>
        </div>
    </section>

    <section>
        <div class="font-size-22">
            <h3>Actividad grupal</h3>
            <img src="../../lib/img/materia_01/actividad.jpg" alt="">
        </div>
    </section>

    <section>
        <div class="font-size-22">
            <img width="50px" height="50px" src="../../lib/img/materia_01/manzolog.png" alt="">
            <h3>Equipo Gugl </h3>
            <h4>Net-Map</h4>
            <ul>
                <li>Alberto Iriarte</li>
                <li>Camilo Villarroel</li>
                <li>Karol Henriquez</li>
                <li>Pedro Ticuna</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img width="50px" height="50px" src="../../lib/img/materia_01/manzolog.png" alt="">
            <h3>Equipo Correcaminos </h3>
            <h4>G->Route</h4>
            <ul>
                <li>Blanca Arcos</li>
                <li>Carlos Vera</li>
                <li>Rafael San Martín</li>
                <li>Santiago Inostroza</li>
            </ul>
        </div>
    </section>

    <section>
        <div class="font-size-22">
            <img width="50px" height="50px" src="../../lib/img/materia_01/manzolog.png" alt="">
            <h3>Equipo K-paz 1 </h3>
            <h4> Rock->hola </h4>
            <ul>
                <li>Carlos Femenias</li>
                <li>Victor Delgado</li>
                <li>Michael Droguett</li>
                <li>José Miranda</li>
            </ul>
        </div>

    </section>


    <section>
        <div class="font-size-22">
            <img width="50px" height="50px" src="../../lib/img/materia_01/manzolog.png" alt="">
            <h3>Equipo K-paz 2 </h3>
            <h4> Super Map </h4>
            <ul>
                <li>Javiera Tapia</li>
                <li>Belén Verdejo</li>
                <li>Vicente Carvajal</li>
            </ul>
        </div>

    </section>

    <section>
        <div class="font-size-22">
            <img width="50px" height="50px" src="../../lib/img/materia_01/manzolog.png" alt="">
            <h3>Grow apps, cultivamos tus ideas </h3>
            <h4> Ri-phone </h4>
            <ul>
                <li>Diego Orellana</li>
                <li>Francisco Varas</li>
                <li>Lucas Acevedo</li>
                <li>Jorge Lagos</li>
            </ul>
        </div>
    </section>

</section>
<!-- Especificación de Requerimientos -->


<!-- La Documentación -->
<section data-background-size="5em" data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/cu.png"
    data-background-opacity="0.1">

    <section>
        <h2>Especificación de Requerimientos - La Documentación</h2>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Historias de Usuario </h5>
            <p>Una historia de usuario, es una representación de un requisito escrito en pocas frases (Recomendable un
                máximo de tres) utilizando el
                <span class="destaca-me"> lenguaje común del usuario </span></p>
            <p>Para una mejor interpretación deberían ser escritos por la persona que maneja el negocio o lo mismos
                usuarios</p>
            <p>Pueden ser escritos con lenguaje natural siempre y cuando se puedan estimar, priorizar y validar</p>
            <p>Para poder identificarlas, se recomienda nombrarlas</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Características de las historias de usuario </h5>
            <p>Independientes. Deben ser atómicas en su definición. Es decir, se debe intentar que no dependa de otras
                historias para poder completarla.</p>
            <p>Negociables. Como he dicho anteriormente, son entidades vivas. Deben ser ambiguas en su enunciado para
                poder debatirlas, dejando su concreción a los criterios de aceptación.</p>
            <p>Valoradas. Deben ser valoradas por el experto del negocio. Para poder saber cuanto aporta al Valor de la
                aplicación y junto con la estimación, convertirse en un criterio de prioridad.</p>
            <p>Estimables. Deben poder ser estimadas. Tener su alcance lo suficientemente definido como para poder
                suponer una medida de trabajo en la que pueda ser completarla.</p>
            <p>Pequeñas. Para poder realizar una estimación con cierta validez y no perder la visión de la Historia de
                Usuario, se recomienda que sean mayores de dos días y menores de dos semanas.</p>
            <p>Verificables. Este es el gran avance de las Historias de Usuario. Que, junto con el cliente, se acuerdan
                los <span class="destaca-me">criterios de aceptación</span> que verifican si se ha cumplido con las
                funcionalidades descritas y esperadas.</p>

        </div>
    </section>

    <section>
        <h5>Ejemplo real de una história de usuario</h5>
        <img data-src="../../lib/img/materia_01/cureal.png">
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejemplo historias de usuario menos formal </h5>
            <img data-src="../../lib/img/materia_01/historia_02.png">
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22 align-left-se">
            <h5>Los casos de uso </h5>
            <p>Depende de las acciones del usuario y de la respuesta del sistema al usuario</p>
            <p>Describe, como el sistema responderá al usuario dado un escenario </p>
            <p>
                El modelo de caso de uso, plasma el acuerdo entre <strike>clientes</strike> StakeHolders y
                desarrolladores, y es un modelo del sistema
                desde la perspectiva de la manera como se utiliza el sistema por los usuarios.</p>
            <p> En un modelo de caso de uso se incluyen los casos de uso y actores, además de sus relaciones.</p>
            <p> En UML queda representado como un paquete que se compone de un sistema de caso de uso, que a su vez
                agrega
                a un conjunto de actores y casos de uso.
            </p>

        </div>
        <div class="font-justify font-size-22 align-right-se">
            <img src="../../lib/img/materia_01/usecase_01.png" alt="">
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Los casos de uso </h5>
            <p>En un caso de uso, la funcionalidad se expresa mediante la transformación que se hace de los flujos de entrada, para producir flujos de salida. </p>
            <p>Los diagramas de casos de uso <span class="destaca-me">NO</span> son una herramienta exclusivamente de captura de requerimientos. </p>
            <p>Un caso de uso es una función (servicio o transacción) atómica ofrecida por el sistema al entorno (actores). </p>
            <p>Un caso de uso en general no modela un particionamiento o detalle funcional interno del sistema. </p>
            <p>Se le llama <span class="destaca-me">escenario</span> a una instancia de un caso de uso. </p>
            <p>La <span class="destaca-me">especificación</span> de un caso de uso, describe el curso básico y alternativo de los eventos. Es decir; se describen los flujos normales y alternativos de cada caso de uso. Ej: Caso de uso "Ingresar", flujo normal; El usuario ingresa sus credenciales, el sistema acepta. Flujo alternativo 1; el usuario ingresa sus credenciales el sistema no lo acepta y retorna error. Flujo alternativo n... </p>
            <p>Los actores de un sistema representan, en particular, personas (más precisamente roles que interpretan personas), dispositivos u otros sistemas, y en general, cualquier cosa que interactúa con dicho sistema. </p>
            <p>Los casos de uso, sus especificaciones y el diagrama de casos de uso de un sistema permiten acordar, entre el equipo de desarrollo y el cliente, los límites y los requerimientos funcionales de dicho sistema. </p>
            <p>La secuencia de acciones; en un caso de uso, comienza siempre por la acción de un actor.</p>
            

        </div>
    </section>

    <section>
        <div class="font-size-22">
            <h5>Ejemplo de Caso de Uso : Sistema de VideoClub.</h5>
            <img src="../../lib/img/materia_01/usecase_02.png" alt="">
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22 align-left-se">
            <h3>Uso del &lt;&lt;include&gt;&gt; en los casos de uso </h3>
            <p>
                En términos muy simples, cuando relacionamos dos casos de uso con un “include”, estamos diciendo que el
                primero (el caso de uso base) incluye al segundo (el caso de uso incluido). Es decir, el segundo es
                parte esencial del primero. Sin el segundo, el primero no podría funcionar bien; pues no podría cumplir
                su objetivo.
            </p>
            <p>Las relaciones de inclusión se pueden anidar, es decir un include a un caso de uso, puede tener otro include</p>
        </div>
        <div class="font-justify font-size-22 align-right-se">
            <img src="../../lib/img/materia_01/include.gif" alt="">
        </div>
    </section>

    <section>
        <div class="font-size-22">
            <h3>Uso del &lt;&lt;include&gt;&gt; en los casos de uso </h3>
        </div>
        <div class="font-justify font-size-22 align-left">
            <img src="../../lib/img/materia_01/include_1.png" alt="">
        </div>
        <div class="font-justify font-size-22 align-right">
            <img src="../../lib/img/materia_01/include_2.png" alt="">
        </div>
    </section>

    <!-- extend -->
    <section>
        <div class="font-justify font-size-22 align-left-se">
            <h3>Uso del &lt;&lt;extend&gt;&gt; en los casos de uso </h3>
            <p>hay situaciones en que el caso de uso de extensión no es indispensable que ocurra, y cuando lo hace
                ofrece
                un valor extra (extiende) al objetivo original del caso de uso base.</p>
             <p>En cambio en el “include” es necesario que ocurra el caso incluido, tan sólo para satisfacer el
                objetivo
                del caso de uso base.</p>
            <p>Ejemplo: Puedes “Realizar Venta” sin “Acumular Puntos de Cliente VIP”, cuando no eres un cliente VIP.
                Pero,
                si eres un cliente VIP sí acumularás puntos. </p>
        </div>
        <div class="font-justify font-size-22 align-right-se">
            <img src="../../lib/img/materia_01/extends.gif" alt="">
        </div>
    </section>

    <!-- extend -->

    <!-- abuso -->
    <section>
        <div class="font-justify font-size-22 align-left-se">
            <h3>El abuso en los casos de uso</h3>
            <p>Es importante comprender que el objetivo de estos tipos de relaciones NO consiste en motivar la división
                de
                los casos de uso en la mayor cantidad de partes.
            </p>
        </div>
        <div class="font-justify font-size-22 align-right-se">
            <img src="../../lib/img/materia_01/abuso.gif" alt="">
        </div>
    </section>
    <!-- abuso -->

    <!-- mockup -->
    <section>
        <div class="font-justify font-size-22 align-left-se">
            <h3>Mocksups - (maquetas != prototipo)</h3>
            <p>Los Mock Ups son fotomontajes que permiten a los diseñadores gráficos y web mostrar al cliente cómo
                quedaran
                sus diseños.</p>
            <p>Tanto si es un logotipo, como una tarjeta de visita, un folleto o una página web</p>
            <p>Además, permiten ahorrar en gastos de impresión y de montajes ya que, gracias a estas maquetas, podemos
                enseñar a nuestros clientes una idea más aproximada de cómo se vería su diseño en diferentes formatos:
                papel, páginas web, papelería, rótulos, vinilos, carteles con resultados muy realistas y bastante
                aproximados a la realidad.</p>
            <p>Es un diseño de mediana fidelidad</p>
        </div>
        <div class="font-justify font-size-22 align-right-se">
            <img src="../../lib/img/materia_01/mockups.jpeg" alt="">
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22 align-left">
            <img src="../../lib/img/materia_01/mockups_2.png" alt="">
        </div>
        <div class="font-justify font-size-22 align-right">
            <img src="../../lib/img/materia_01/mockups_3.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22 align-left">
            <img src="../../lib/img/materia_01/mockups_2.png" alt="">
        </div>
        <div class="font-justify font-size-22 align-right">
            <img src="../../lib/img/materia_01/mockups_3.png" alt="">
        </div>
    </section>

    <!-- mockup -->

    <section>
        <div class="font-justify font-size-22">
            <img src="../../lib/img/materia_01/ppt_24.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <img src="../../lib/img/materia_01/ppt_25.png" alt="">
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Lenguaje unificado de modelado (UML, por sus siglas en inglés, Unified Modeling Language)
            </h3>
            <p>El lenguaje de modelado unificado (UML) es "un lenguaje estándar para escribir diseños de software. El
                UML
                puede usarse para visualizar, especificar, construir y documentar los artefactos de un sistema de
                software."</p>
            <p>Tal como los arquitectos de edificios crean planos para que los use la compañía constructora, los
                arquitectos de software crean diagramas UML para ayudar a los desarrolladores de software a construir
                software.</p>
        </div>
    </section>

</section>
<!-- La Documentación -->


<!-- materia -->
<section>
    <section>
        <div class="font-size-28">
            <h3>Artefactos de modelado para el desarrollo orientado a objetos</h3>
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva27.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva28.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva29.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva31.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva32.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva33.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva34.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva35.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva36.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva37.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva38.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva39.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva40.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva41.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva42.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva43.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva44.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva45.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva46.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva47.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva48.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva49.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva50.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva51.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva52.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva53.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva54.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva55.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva56.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva57.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva58.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva59.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <section>
        <div class="font-size-22">
            <img src="../../lib/img/materia_01/materia/Diapositiva60.png" alt="">
        </div>
    </section>
    <!-- #materia -->
