<section 
data-background-repeat="repeat"
data-background-size="20em"
data-background-image="../../lib/img/scrum/fondo_1.jpg"
data-background-opacity="0.2">

    <h3>Metodología ágil de gestión de proyectos</h3>
    <h2>scrum</h2>
</section>

<!-- HISTORIA -->
<section 
data-background-size="10em"
data-background-repeat="repeat"
data-background-image="../../lib/img/scrum/historia.png"
data-background-opacity="0.1">
    <section>
        <h2> Historia de Scrum 🎌 </h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <p>Su origen se remonta al año 1986 en el estudio: [The New New Product Developement Game, por Hirotaka
                Takeuchi (Hitotsubashi University) y Ikujiro Nonaka. Harvard Business Review, Enero-Febrero de 1986].<span
                    class="destaca-me"> En este estudio se comparaba la forma de trabajo de estos equipos altamente
                    productivos y multi disciplinares con la colaboración entre los jugadores de Rugby y su formación de
                    Scrum</span></p>
            <p>Notaron que los procesos de desarrollo utilizados en productos exitosos, Los equipos que desarrollaron estos
                productos partían de requisitos muy generales, así como novedosos, y debían salir al mercado en mucho menos
                del tiempo del que se tardó en lanzar productos anteriores. Estos equipos seguían patrones de ejecución de
                proyecto muy similares. Ej: (cámaras de fotos de Canon, fotocopiadoras de Xerox, automóviles de Honda,
                ordenadores de HP y otros)</p>
        </div>
    </section>

    <section>
        <img data-src="../../lib/img/scrum/scrumformation.jpg" alt="">
    </section>

    <section>
        <div class="font-justify font-size-28">
            <p>En 1993 se realizó el primer Scrum para desarrollo de software [Jeff Sutherland, John Scumniotales y Jeff McKenna concibieron, ejecutaron y documentaron el primer Scrum para desarrollo ágil de software en 1993, utilizando el estudio de gestión de equipos de Takeuchi y Nonaka como base.]</p>
            <p>en 1995 el proceso fue formalizado</p>
            <p>En 2001 se escribieron los valores fundamentales de los procesos ágiles(Manifiesto Ágil)</p>
            <p>En la actualidad, Scrum se está utilizando en diferentes tipos de negocio y, especialmente, en el desarrollo de software. La Scrum Alliance es la organización sin ánimo de lucro que se encarga de difundir Scrum en este ámbito.</p>
        </div>
    </section>


</section>
<!-- #HISTORIA -->

<!-- Manifiesto Ágil -->
<section 
data-background-size="10em"
data-background-repeat="repeat"
data-background-image="../../lib/img/scrum/historia.png"
data-background-opacity="0.1">
    <section>
        <h2>Agilismo 🤔</h2>

    </section>
    <section>
        <h2>Manifiesto para el Desarrollo Ágil de Software</h2>
        <small>
            <p>
                Kent Beck, Mike Beedle, Arie van Bennekum, Alistair Cockburn, Ward Cunningham, <span class="destaca-me">Martin Fowler</span>, James
                Grenning, Jim Highsmith, Andrew Hunt, Ron Jeffries, Jon Kern, Brian Marick, Robert C. Martin, Steve Mellor,
                Ken Schwaber, Jeff Sutherland, Dave Thomas., 2001
            </p>
        </small>

    </section>

    <section>
        <div class="font-justify font-size-28">
            <blockquote cite="http://agilemanifesto.org/iso/es/manifesto.html">
                &ldquo;Estamos descubriendo mejores maneras de desarrollar software haciéndolo y ayudando a otros a
                hacerlo. Este trabajo nos ha llevado a valorar:
                <ul>
                    <li>Individuos e interacciones más que procesos y herramientas.</li>
                    <li>Software que funciona más que documentación exhaustiva.</li>
                    <li>Colaboración con el cliente más que negociación de contratos.</li>
                    <li>Responder ante el cambio más que seguimiento de un plan.&rdquo;</li>
                </ul>
            </blockquote><br>
            Esto es, aunque los elementos a la derecha tienen valor, nosotros valoramos más los que están a la izquierda
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>Los doce principios del desarrollo ágil 4/12</h4>

            <p>Nuestra principal prioridad es satisfacer al cliente a través de la entrega temprana y continua de software
                que aporte valor.</p>
            <p>Aceptamos de buen grado cambios en los requisitos, incluso si llegan tarde al desarrollo. Los procesos
                ágiles aprovechan el cambio como una ventaja competitiva del cliente.</p>
            <p>Entregar con frecuencia software que funcione, desde un par de semanas hasta un par de meses, con
                preferencia a la escala de tiempo más corta.</p>
            <p>La gente de negocio y los desarrolladores deben trabajar juntos de forma cotidiana durante todo el proyecto.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h4>Los doce principios del desarrollo ágil 8/12</h4>

            <p>Construir proyectos en torno a individuos motivados. Darles el entorno y el apoyo que necesitan y confiar en
                que ellos conseguirán hacer el trabajo.</p>
            <p>El método más eficiente y efectivo de comunicar información dentro de un equipo de desarrollo, es la
                conversación cara a cara.</p>
            <p>El software que funciona es la principal medida de progreso.</p>
            <p>Los procesos ágiles promueven el desarrollo sostenido. Los promotores, desarrolladores y usuarios deben ser
                capaces de mantener un ritmo constante de forma indefinida.</p>

        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h4>Los doce principios del desarrollo ágil 12/12</h4>

            <p>La atención continua a la excelencia técnica y el buen diseño, mejora la agilidad.</p>
            <p>La simplicidad, el arte de maximizar la cantidad de trabajo que no se hace, es esencial.</p>
            <p>Las mejores arquitecturas, requisitos y diseños emergen de equipos auto organizados.</p>
            <p>En intervalos regulares, el equipo reflexiona en cómo ser más efectivo, se afina y ajusta su comportamiento
                de acuerdo con esto.</p>

        </div>
    </section>

</section>
<!-- #Manifiesto Ágil -->

<!-- Componentes scrum -->
<section 
data-background-size="10em"
data-background-repeat="repeat"
data-background-image="../../lib/img/scrum/agilislismo_2.png"
data-background-opacity="0.1">
    <section>
        <h2>Componentes 🎬</h2>
        <img data-src="../../lib/img/scrum/agile_1.jpg">

    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Product Backlog</h3>
            <p>Es la lista de tareas extraídas de los <span class="destaca-me">requerimientos</span>, estas tareas además incluyen, características, errores, tareas de investigación o capacitación, etc. Es cualquier tarea que involucre la realización del proyecto. Se definen entre el (equipo o líder) y el Product Owner, aunque es este último quien las prioriza.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Product Owner 😎</h3>
            <p>Es la persona que <span class="destaca-me"></span>domina el negocio</span>, es quien maneja las ventajas que significa para la organización, el poseer la nueva herramienta. Sabe qué actividades son prioritarias, decide que actividades serán primero y en qué orden.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Sprint Planning</h3>
            <p>Una vez que se tiene el Product Owner y el Product Backlog, se procede a la planificación del sprint. Se reune a todo el equipo de trabajo, donde se resuelven las dudas, se estiman los puntos de história y finalmente se define el Sprint Backlog.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Sprint Backlog</h3>
            <p>Se definen las tareas que formarán parte del Sprint (mínimo una semana y máximo un mes, siempre con un objetivo tangible para el product owner al término). Hay que recordar que las tareas ya se deben encontrarse previamente estimadas y asignadas.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Daily Scrum</h3>
            <p>Es una reunión periódica, de no más de 15 minutos en donde se deben hacer y responder las siguientes preguntas:</p>
            <p>¿Qué se hizo ayer? 🤔</p>
            <p>¿Que dificultades se tuvo? 🤔</p>
            <p>¿Qué se hará hoy? 🤔</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Sprint Review</h3>
            <p>Terminadas las tareas del sprint, se presentan los avances (tangibles) al Product Owner. En esta etapa suelen surgir nuevas ideas, estas ideas, se ingresan al Product Backlog, las que son priorizadas para formar parte de los nuevos Sprints.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>Sprint Retroespecting</h3>
            <p>En esta etapa se debe analizar el recientemente pasado Sprint. En donde debemos hacer y responder las siguientes preguntas:</p>
            <p>¿Qué debemos empezar a hacer? 🤔</p>
            <p>¿Qué debemos dejar de hacer? 🤔</p>
            <p>¿Qué debemos continuar haciendo? 🤔</p>
            <p>Se registran los acuerdos y compromisos con la finalidad que sean aplicados en el siguiente sprint.</p>
        </div>
    </section>

</section>
<!-- #Componentes scrum -->

<!-- Fin-->
<section 
data-background-repeat="repeat"
data-background-size="20em"
data-background-image="../../lib/img/scrum/hakerman.gif"
data-background-opacity="0.8">
    <section>
        <h2> Fin, agilidad en gestión de proyectos adquirida</h2>
    </section>
</section>
<!-- #Fin-->