.align-left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

.align-left-se {
    left:-8.33%;
    text-align: left;
    float: left;
    width:70%;
    z-index:-10;
}

.align-right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

.align-right-se {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:28%;
}

.font-justify {
    text-align: justify; 
    text-justify: inter-word;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.left-padding-10 {
    padding-left: 10px !important;
}

.destaca-me{
    background-color: blueviolet;
}

.padding-top{
    padding-top: 1em;
}