<section data-background-repeat="repeat" data-background-image="../../lib/img/cards/file.jpeg"
    data-background-opacity="0.2">

    <h3><a href="../../archivos/mod_4/Mod_4_2.pptx">💽  Plataforma de trabajo</a></h3>
    <h3><a href="../../archivos/mod_4/Mod_4_1.pptx">💽  Desarrollo de software</a></h3>
</section>