<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

<h2> Ejercicios de código II 🤓 </h2>
</section>

<!-- EJE_1 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 1 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir una aplicación en Java que sume los valores de un arreglo. El largo y los valores de el arreglo, son indicados por el usuario utilizando la consola.
            <pre><code>
Output: Indique el largo de el arreglo.
Input: 2
Output: Ingrese el valor 1.
Input: 5
Output: Ingrese el valor 2.
Input: 4
Output: El resultado de la suma es: 9.
            </code></pre>
        </div>
    </section>

    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/nLYNfNrW" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_2 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 2 💪🏼</h2>
        <div class="font-justify font-size-22">
            <p>Escribir una aplicación en Java que dado un arreglo de elementos enteros, encuentre el índice de ese elemento. El largo y los valores de el arreglo, son indicados por el usuario utilizando la consola.</p>
            <p>La funcionalidad de búsqueda se debe hacer con un método `buscar_indice()`, este método debe tener como parámetros un arreglo y el elemento a buscar</p>
            <pre>
public static int  buscar_indice (int[] mi_arreglo, int elemento) {
    // Retorna el índice.
    // En caso de no enontrarlo retornar -1
}
            </pre>
            
            <pre><code>
Output: Indique el largo de el arreglo.
Input: 2
Output: Ingrese el valor 1.
Input: 5
Output: Ingrese el valor 2.
Input: 4
Output: Ingrese el valor a buscar.
Input: 5
Output: El índice del elemento 5 es el 1.
            </code></pre>
        </div>
    </section>

    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/mDdh3sAw" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
    <section>
        <h5>Solución 2</h5>
        <iframe src="https://pastebin.com/embed_iframe/ize91QL0" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_3 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 3 💪🏼</h2>
        <div class="font-justify font-size-22">
            <p>Realizar el ejercicio anterior utilizando ArrayList.</p>
        </div>
    </section>
</section>

<!-- EJE_4 -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
data-background-opacity="0.1">
<section>
    <h2>Ejercicio: 4 💪🏼</h2>
    <div class="font-justify font-size-22">
        <p>Escribir una aplicación en java, que invierta los valores de un arreglo de enteros ingresados por el usuario. Finalmente se deben imprimir ambos resultados.</p>
        <p>La funcionalidad de invertir el arreglo debe ser con un método, que retorne el arreglo invertido y reciba el arreglo.</p>
        <pre><code>
&#62;Ingrese el primer valor del arreglo.
:2
&#62;Seguir (y/n)
:y
&#62;Ingrese el siguiente valor del arreglo.
:4
&#62;Seguir (y/n)
:n
&#62; Arreglo ordenado: [2,4]
&#62; Arreglo invertido: [4,2]
        </code></pre>
    </div>
</section>



</section>
