<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

<h2> Ejercicios de código III 🤓 </h2>
</section>

<!-- EJE_1 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 1 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escriba un programa en java, que acepte una cantidad de minutos y los transforme en días y años.
            <pre><code>
Input:  3456789
Output: 3456789 minutos, son aproximadamente 6 años y 210 días.
            </code></pre>
        </div>
    </section>

</section>

<!-- EJE_2 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 2 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un programa en java, que acepte números enteros y este responda si los números son positivos o negativos (Se deben manejar las excepciones).
            <pre><code>
Input: 35
Output esperado :
El número es positivo.
            </code></pre>
        </div>
    </section>

</section>

<!-- EJE_3 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 3 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un programa en java, que resuelva la ecuación cuadrática, indicando los valores de a, b y c: [(-b + raiz(b^2 -4*a*c))/2*a] & [(-b - raiz(b^2 -4*a*c))/2*a] (Se deben manejar las excepciones).
            <pre><code>
Input a: 1 
Input b: 5 
Input c: 1
Output esperado:
Los resultados son: -0.20871215252208009 and -4.7912878474779195 
            </code></pre>
        </div>
    </section>

</section>

<!-- EJE_4 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 4 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un método, que entregue verdadero o falso si es que las palábras "cat" & "dog", aparecen la misma cantidad de veces.
            <pre><code>
catDog("catdog") → true
catDog("catcat") → false
catDog("1cat1cadodog") → true
            </code></pre>
        </div>
    </section>

</section>


<!-- EJE_5 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 5 💪🏼</h2>
        <div class="font-justify font-size-28">
            Dada una cadena y un entero, debemos crear un método que me entregue los últimos caracteres de dicha cadena, este entero debe ir desde cero hasta el largo de la cadena. 
            <pre><code>
repetirFin("Hello", 3) → "llollollo"
repetirFin("Hello", 2) → "lolo"
repetirFin("Hello", 1) → "o"
            </code></pre>
        </div>
    </section>

</section>
