<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

<h2> Ejercicios de código I 🤓 </h2>
</section>

<!-- EJE_1 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 1 💪🏼</h2>
        <div class="font-justify font-size-28">
            Imprimir en pantalla "Hola mundo".
        </div>
    </section>
    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/38DKSqfT" style="border:none;width:100%; height: 500px;"></iframe>
    </section>
</section>

<!-- EJE_2 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 2 💪🏼</h2>
        <div class="font-justify font-size-28">
            Definir dos variables enteras, asignarles valor y mostrar por consola; la suma de estos dos números.
        </div>
    </section>

    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/BPk6pEx5" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_3 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 3 💪🏼</h2>
        <div class="font-justify font-size-28">
            Tomar el ejercicio anterior y agregar los resultados para la resta, multiplicación, división y módulo (resto de la división).
        </div>
    </section>
    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/W9G5gnCe" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
</section>

<!-- EJE_4 -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 4 💪🏼</h2>
        <div class="font-justify font-size-28">
            Declarar dos variables enteras, luego indicar cual es mayor de los dos. Si son iguales indicarlo también.
        </div>
    </section>

    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/s2X9cCMM" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
</section>

<!-- EJE_5 -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 5 💪🏼</h2>
        <div class="font-justify font-size-28">
            El sistema debe leer un nombre y este, debe entregar un mensaje de bienvenida: EJ: "Bienvenido Luis."
        </div>
    </section>
    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/z8aYqdZp" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
</section>

<!-- EJE_6 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 6 💪🏼</h2>
        <div class="font-justify font-size-28">
            Se debe pedir el radio de una circunferencia y este, debe calcular el área e imprimirla por consola.
        </div>
    </section>

    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/SazzyAmg" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
    <section>
        <h5>Solución 2</h5>
        <iframe src="https://pastebin.com/embed_iframe/L9K5p487" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_7 -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 7 💪🏼</h2>
        <div class="font-justify font-size-28">
            Se debe pedir un número entero, el sistema debe entregar si el número es par o si no lo es.
        </div>
    </section>

    <section>
        <h5>Solución</h5>
        <iframe src="https://pastebin.com/embed_iframe/LexN2Atr" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_8 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 8 💪🏼</h2>
        <div class="font-justify font-size-28">
            <p>Escribir un programa en java que imprima su multiplicación desde el 1 al 10, dado un entero ingresado por el usuario</p>
<pre>
Ej:
Entrada: 
6
Salida:
La tabla del 6 es:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

</pre> 

        </div>
    </section>
    
    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/a6PwK0YB" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
    <section>
        <h5>Solución 2</h5>
        <iframe src="https://pastebin.com/embed_iframe/KPDpkzXG" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_9 -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 9 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un programa en Java, que pida un entero y que el programa retorne la suma de sus dígitos
            <pre>
Ej:
Entrada: 123, Salida:6

Tip:
123 % 10 = 3
123 - 3 = 120
120 / 10 = 12

12 % 10 = 2 ...
</pre>

        </div>
    </section>

    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/Ta65tAkz" style="border:none;width:100%; height: 12em;"></iframe>
    </section>
    <section>
        <h5>Solución 2</h5>
        <iframe src="https://pastebin.com/embed_iframe/kEwhd0E6" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_10 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 10 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un programa en Java, que pida dos enteros e imprima su relación de igualdad:
<pre>
Ej:
Entrada: num_1 = 2 y num_2 = 2 
Salida: 2 = 2

Entrada: num_1 = 2 y num_2 = 3 
Salida: 2 < 3

Entrada: num_1 = 3 y num_2 = 2 
Salida: 3 > 2

</pre> 
                    
        </div>
    </section>

    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/DVgda2r2" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

    <section>
        <h5>Solución 2</h5>
        <iframe src="https://pastebin.com/embed_iframe/qyGvwAKZ" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>

<!-- EJE_11 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2>Ejercicio: 11 💪🏼</h2>
        <div class="font-justify font-size-28">
            Escribir un programa en Java, que pida el tipo de unidad(Fahrenheit, Celsius), luego que pida un valor real. El sistema como resultado debe entregar la conversión de uno a otro.
<pre>
Ejemplo:
Ingresar el tipo de unidad.
1 - Fahrenheit.
2 - Celsius.
input: 1

Ingresar el valor a convertir.
input: 11

11.0 grados Fahrenheit son -11,67 grados Celsius.

Tip:
Celsius = (5(Fahrenheit - 32))/9
Fahrenheit = (9 * Celsius + (32 * 5))/5

</pre> 
                    
        </div>
    </section>

    <section>
        <h5>Solución 1</h5>
        <iframe src="https://pastebin.com/embed_iframe/D0g30zVq" style="border:none;width:100%; height: 12em;"></iframe>
    </section>

</section>