
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Ciclos en java </h3>
</section>
<!-- definición -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <div class="font-justify font-size-22">
        <h5>Definición</h5>
        <p>Un bucle o ciclo (loop): Es un proceso, sistema o estructura circular, la cual termina donde comienza y viceversa.</p>
        <p>Revisaremos tres  tipos de ciclos en java:</p>
        <p>El ciclo for.</p>
        <p>El ciclo while.</p>
        <p>El ciclo do while.</p>
    </div>
</section>
<!-- definición -->
<!-- Ciclo for -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-28">
            <h5>Ciclo for</h5>
            <pre>
                for (desde; condición de salida; incremento) { bloque de código }
                
                for (int i = 0; i < 3; i++) {}
            </pre>
            <p>El ciclo for se compone de tres secciones:</p>
            <p>La primera sección se ejecuta solamente cuando el ciclo entra por primera vez.</p>
            <p> La segunda sección es "el guardián de la puerta", si devuelve true, ejecutamos las instrucciones en el
                bucle, si devuelve false, salimos del bucle. Se ejecuta justo después de la primera sección por primera
                vez, luego cada vez que se completa el ciclo y se ejecuta la tercera sección.</p>
            <p>La tercera sección es la declaración final que se ejecutará cada vez que se ejecute el bucle. Es donde se
                incrementa o decrementa el valor declarado en la primera sección.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h5>Funcionamiento ⚙️</h5>
            <pre><code>
for (int i = 0; i < 3; i++) {
    // dentro del loop
}

// veamos que es lo que pasa.
int i = 0;
i < 3 // 0 < 3 = true
// dentro del loop

i++ // i es ahora 1
i < 3 // 1 < 3 = true
// dentro del loop

i++ // i es ahora 2
i < 3 // 2 < 3 = true
// dentro del loop

i++ // i es ahora 3
i < 3 // 3 < 3 = false
// bucle finalizado...
            </code></pre>
            
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejemplo: Escribir una aplicación en Java, que imprima los pares e impares en dos listas, dado un entero positivo entregado por el usuario.</h5>
            <iframe src="https://pastebin.com/embed_iframe/mZBNQLH0" style="border:none;width:100%; height: 15em;"></iframe>
        </div>
    </section>

</section>
<!-- Ciclo for -->

<!-- Ciclo while -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-28">
            <h5>Ciclo while</h5>
            <pre>
                while (condición de salida) { bloque de código }
                
                while (salir == true) {}
            </pre>
            <p>La condición se ejecutará por primera vez al ingresar y cada vez que se realice el ciclo. Si devuelve falso, el bucle no se ejecutará.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejemplo: Escribir una aplicación en Java, que imprima los pares e impares en dos listas, dado un entero positivo entregado por el usuario.</h5>
            <iframe src="https://pastebin.com/embed_iframe/dte45dW0" style="border:none;width:100%; height: 15em;"></iframe>
        </div>
    </section>

</section>
<!-- Ciclo while -->

<!-- Ciclo do while -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-28">
            <h5>Ciclo do while</h5>
            <pre>

                do {
                    // todo el bloque de código acá.
                } while(condition);

            </pre>
            <p>El ciclo while ejecutará su bloque al menos una vez, para luego comprobar si la condición de salida se cumple, si no se cumple, el ciclo se termina.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejemplo: Escribir una aplicación en Java, que imprima los pares e impares en dos listas, dado un entero positivo entregado por el usuario.</h5>
            <iframe src="https://pastebin.com/embed_iframe/gUSV4wwj" style="border:none;width:100%; height: 15em;"></iframe>
        </div>
    </section>

</section>
<!-- Ciclo do while -->

<!-- #break and continue -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <div class="font-justify font-size-28">
            <h5>break && continue</h5>
            <p>Estas dos palabras clave nos ayudan a controlar el bucle desde dentro.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>break; hará que el bucle se detenga e irá inmediatamente a la siguiente declaración después del bucle:</h5>
            <pre><code>
int i;
for (i = 0; i < 5; i++) {
    if (i >= 2) {
        break;
    }
    System.out.println("Entró");
}
System.out.println(i);
// Output:
// Entró
// Entró
// 2
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>continue; detendrá la iteración actual y se moverá a la siguiente. Tenga en cuenta que dentro de un bucle for, todavía se ejecutará la tercera sección(i++).</h5>
            <pre><code>
int i;
for (i = 0; i < 5; i++) {
    if (i >= 3) {
        break;
    }
    System.out.println("Antes para i = " + i);
    if (i >= 1) {
        continue;
    }
    System.out.println("Despés para i = " + i);
}
System.out.println(i);
/*
output:
    Antes para i = 0
    Despés para i = 0
    Antes para i = 1
    Antes para i = 2
    3
*/
                    </code></pre>
        </div>
    </section>

</section>
<!-- #break and continue -->
