
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Manejo de excepciones en Java ♨️ </h3> 
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3><a href="https://docs.oracle.com/javase/tutorial/essential/exceptions/definition.html">Introducción</a></h3>
    </section> 
    <section>
        <div class="font-justify font-size-28">
            <h3>¿Que es una excepción?</h3>
            <p>Una excepción, es un evento, que ocurre durante la ejecución de un programa, interrumpiendo el flujo normal de sus instrucciones.</p>
            <p>Cuando se produce un error dentro de un método, este método crea un objeto y se lo entrega al runtime-system. Este objeto es llamado Exception Object.</p>
            <p>Este objeto contiene información acerca del error, incluyendo el tipo de error y el estado del programa cuando ocurrió.</p>
            <p><span class="destaca-me">Crear un un Exception Object y entregarlo al runtime-system se le llama; lanzar una excepción.(throws exception).</span></p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>Después de que un método lanza una excepción, el runtime-system intenta encontrar algo para poder manejarlo.</p>
            <p>El conjunto de posibles "cosas" para manejar la excepción, es; la pila (Stack) de métodos, que se habían llamado para llegar al método donde ocurrió el error.</p>
            <p>El runtime-system, busca en la pila de llamadas, algún método que contenga un bloque de código que pueda manejar la excepción.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>Este bloque de código es llamado  manejador de excepciones(exception handler).</p>
            <p>La búsqueda comienza en el método donde se produjo el error y continúa a través de la pila de llamadas, en el orden inverso en que se llamaron los métodos.(Desde el último al primero).</p>
            <p>Un manejador de excepciones, se considera apropiado, si el Exception Object lanzado, coincide con el tipo que controla el manejador de excepciones.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>Finalmente el exception handler escogido seré quien atrape (catch) el error.</p>
            <p>Si el runtime-system, busca en todos los métodos de la pila y no encuentra ningún handler apropiado, el runtime-system termina y en consecuencia también lo hará el programa.</p>
        </div>
    </section>
    <section>
            <h3>Stack de métodos</h3>
            <img data-src="../../lib/img/mod_4/exceptions-callstack.gif" alt="">
    </section>
    <section>
            <h3>Stack de métodos en búsqueda de un handler. 👀</h3>
            <img data-src="../../lib/img/mod_4/exceptions-errorOccurs.gif" alt="">
    </section>
</section>

<!-- Clases que componen las excepciones. -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Clases que componen las excepciones.</h3> 
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>java.lang.Throwable</h3>
            <p>Clase que representa lo que se puede lanzar desde los métodos al runtime-system.</p>
            <p>Contiene una fotografía del estado de la pila de métodos, en el momento en el que se creó el Exception Object.</p>
            <pre><code>
// métodos que lo componen.
addSuppressed()
fillInStackTrace()
getCause()
getLocalizedMessage()
getMessage()            // destacado.
getStackTrace()
getSuppressed()
initCause()
printStackTrace()
printStackTrace()
printStackTrace()
setStackTrace()
toString()
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>java.lang.Error</h3>
            <p>Hereda de Throwable, entonces posee todos sus métodos, además de algunos que hacen de Error, la case encargada de los errores críticos de java, estos errores, no dependen de la programación de las instrucciones, si no más bien de errores de sistema como falta de memoria o incluso de la java virtual machine entre otros.</p>
            <p>Se puede ver los tipos de errores que gestiona si miramos las clases que heredan de Error:[AnnotationFormatError, AssertionError, AWTError, CoderMalfunctionError, FactoryConfigurationError, FactoryConfigurationError, IOError, LinkageError, ServiceConfigurationError, ThreadDeath, TransformerFactoryConfigurationError, VirtualMachineError]</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>java.lang.Exception</h3>
            <p>Cuando se descuida la programación y por alguna razón, se ejecuta alguna instrucción que rompe con las reglas de java, desde una división por cero hasta ingresar, un elemento en un arreglo, en una posición que supera su largo; esta clase nos proporciona las herramientas para poder manejarla.</p>
            <p>Posee una gran lista de subclases; entre los que destacan: RuntimeException y IOException</p>
            <p>RuntimeException: Es la super-clase de las excepciones, que se pueden lanzar durante el funcionamiento normal, de la Máquina Virtual de Java.</p>
            <p>IOException: Señala, que se ha producido una excepción de Entrada/Salida de algún tipo. Esta clase es la clase general de excepciones producidas por operaciones de E/S o I/O, fallidas o interrumpidas.</p>
            <pre><code>
//Lista completa de sub-clases.
AclNotFoundException, ActivationException, AlreadyBoundException, ApplicationException, AWTException, BackingStoreException, BadAttributeValueExpException, BadBinaryOpValueExpException, BadLocationException, BadStringOperationException, BrokenBarrierException, CertificateException, CloneNotSupportedException, DataFormatException, DatatypeConfigurationException, DestroyFailedException, ExecutionException, ExpandVetoException, FontFormatException, GeneralSecurityException, GSSException, IllegalClassFormatException, InterruptedException, IntrospectionException, InvalidApplicationException, InvalidMidiDataException, InvalidPreferencesFormatException, InvalidTargetObjectTypeException, IOException, JAXBException, JMException, KeySelectorException, LastOwnerException, LineUnavailableException, MarshalException, MidiUnavailableException, MimeTypeParseException, MimeTypeParseException, NamingException, NoninvertibleTransformException, NotBoundException, NotOwnerException, ParseException, ParserConfigurationException, PrinterException, PrintException, PrivilegedActionException, PropertyVetoException, ReflectiveOperationException, RefreshFailedException, RemarshalException, RuntimeException, SAXException, ScriptException, ServerNotActiveException, SOAPException, SQLException, TimeoutException, TooManyListenersException, TransformerException, TransformException, UnmodifiableClassException, UnsupportedAudioFileException, UnsupportedCallbackException, UnsupportedFlavorException, UnsupportedLookAndFeelException, URIReferenceException, URISyntaxException, UserException, XAException, XMLParseException, XMLSignatureException, XMLStreamException, XPathException
            </code></pre>
        </div>
    </section>

</section>

<!-- Clases que componen las excepciones. -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Usos del control de excepciones.</h3> 
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Try - > catch</h3>
            <p>Try: Indica que lo que se ejecute dentro de sus llaves, se intentanrá y en caso de caer en un error caerá en un catch.</p>
            <p>catch: Es como un else if(), si el try falla, se irá revisando entre cada uno de los catch que existe la excepción específica que es lanzada, en orden de las clases hijas hacia los padres. Es decir comunmente se viaja de algunas de las excepciones hijas de la clase Exception hasta el mismo Exception.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Sintaxis del control de una excepción.</h3>
            <p>Hay que tener claro que en Exception e, el e no es un alias, como se piensa en muchos casos; e, es el nombre de la variable del tipo Exception.</p>
            <pre><code>
// básico
try {
    // acá está el bloque que se intentará.
}catch (Exception e) {
    // Bloque que se ejecutará si existe alguna excepción del tipo  Exception.
}

// Podemos además ser más específicos en nuestros errores, 
// por ejemplo ante una división por cero tenemos un error 
// de ArithmeticException, entonces podemos controlar este 
// error ya que al bajar por los catch, se busca desde 
// el detalle a lo general.

try {
    // acá está el bloque que se intentará.
}catch (ArithmeticException e) {
    // Bloque que se ejecutará si existe alguna excepción del tipo  ArithmeticException..
}catch (Exception e) {
    // Bloque que se ejecutará si existe alguna excepción del tipo  Exception.
}

// Además podemos indicar un bloque que siempre se ejecutará, 
// ya sea ocurra un error o no, hay que tener en cuenta que 
// este bloque no es un default, ya que finally, siempre se ejecutará.
try {
    // acá está el bloque que se intentará.
}catch (ArithmeticException e) {
    // Bloque que se ejecutará si existe alguna excepción del tipo  ArithmeticException..
}catch (Exception e) {
    // Bloque que se ejecutará si existe alguna excepción del tipo  Exception.
}finally{
    System.out.println("Me ejecuto siempre al final de los bloques anteriores");
}
            </code></pre>
        </div>
    </section>
<section>
    <div class="font-justify font-size-22">
        <h3>throw new ...</h3>
        <p>Cuando estamos escribiendo código y no estamos dentro de un try - catch, posiblemente bajo alguna condición, por ejemplo un if, querríamos lanzar alguna excepción en caso de cumplir ciertas condiciones que nos demos cuenta.</p>
        <p>Este tipo de lanzamientos, nos permiten lanzar a algún método que esté en la pila de métodos esta excepción para que la maneje como es debido y no como lo hemos hecho hasta ahora, usando un System.out.println().</p>
        <pre><code>
public static int foo(){
    int num = 0;
    if(num == 0){
        throw new ArithmeticException(); // lanzamos la excepción.
    }
    return 3/num;
}

// En el main estará implementado el catch y main llama a foo, 
// por tanto esta excepción será atrapada.
        </code></pre>
    </div>
</section>
<section>
    <div class="font-justify font-size-22">
        <h3>throws ...</h3>
        <p>Cuando implementamos un método, este no tiene problemas para indicar que arrojará una excepción, siempre y cuando vengan de RuntimeException o sus hijos, ya que esta está arrojado implícitamente en cada método que construimos.</p>
        <p>El problema es que si no utilizamos una excepción que no pertenezca a RuntimeException, debemos especificarlo.</p>
        <pre><code>
public static int foo() throws UnsupportedEncodingException{
    if(true){
        throw new UnsupportedEncodingException(); 
    }
    return 3;
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Inventar nuestras propias excepciones</h3>
        <p>Para poder crear nuestras propias excepciones, hay que crear una clase y heredar algún tipo de Exception. de esta forma podemos sobre escribir los métodos dependiendo de nuestra necesidad.</p>
        <pre><code>
package exception001;

public class Exception001 {

    public static int foo(){
        int num = 1;
        if(num == 0){
            throw new problemaDivisionPorCero();
        }
        return 3/num;
    }
    
    public static void main(String[] args){ 
        
        try {
            System.out.println(foo());
        }catch (problemaDivisionPorCero a){       
            System.out.println("Soy un error aritmético: " + a.getMessage()); // se ejecuta ya que hereda de ArithmeticException.
        }catch (IndexOutOfBoundsException e){       
            System.out.println("Soy un error IndexOutOfBounds: " 
                    + e.toString());
        }catch (Exception e) {
            System.out.println("El error es : " + e.getMessage());
        }finally{
            System.out.println("Me ejecuto siempre al final de los bloques anteriores.");
        }
        System.out.println("Yo me ejecutaré después del error");
    }
}
// Acá se demuestra que la pila viajó con el error dede el main 
// hasta que lo capturó.

class problemaDivisionPorCero extends ArithmeticException {
    @Override
    public String getMessage(){
        return "Problema al dividir por cero";
    }
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Ejercicio propuesto.</h3>
        <p>Con la aplicación realizada para las colecciones, realizar un buen manejo de excepciones, por ejemplo para los casos en que se quiera eliminar antes de tener algo creado.</p>
        <pre><code>
// Todo.
        </code></pre>
    </div>
</section>


</section>