
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Programación orientada a objetos(POO) II ♨️ </h3>
</section>

<!-- Herencia -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>Herencia(inheritance) en Java ♨️</h3>
        </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Introducción</h5>
            <p>Uno de los grandes atractivos de la programación orientada a objetos es la facilidad que nos ofrece para la re-utilización de código.</p>
            <p>La programación puede llegar a ser muy repetitiva.</p>
            <p>La re-utilización de código consiste en no volver a escribir una y otra vez los mismos algoritmos para resolver situaciones similares.</p>
            <p>La clave para conseguir esto en Java va a ser <span class="destaca-me">la herencia.</span> Si alguna vez ha tratado de reutilizar un código ya escrito para tratar de modificar su comportamiento, habrás comprobado lo complejo que resulta y cómo es muy frecuente cometer errores.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Veamos un ejemplo: 👀</h3>
            <p>Imagina  que dispones de un sistema de información geográfica donde cada punto geográfico es representado por la clase GeoPunto.  Los atributos de esta clase son longitud y latitud.</p>
            <pre><code>
class GeoPunto{
    private double longitud;
    private double latitud;

    public GeoPunto(double longitud, double latitud) {
        this.longitud = longitud;
        this.latitud = latitud;
    }
    
    public double sumaPuntos(){
        return longitud + latitud;
    }
    
}
            </code></pre>
            <p>Imagina que debemos ahora agregar un campo más. Por ejemplo que se requiera agregar la altitud.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Una opción podría ser reescribir la clase GeoPunto y modificar todos sus métodos.</p>
            <p>Puede parecer sencillo, pero imagina que esta clase tuviera 10.000 líneas de código.🤯</p>
            <p>El tiempo empleado y los errores cometidos serían frecuentes. <span class="destaca-me">Además todo el código que ya utilizaba la clase GeoPunto tendría que ser modificado.</span></p>
            <p>Java nos proporciona una forma mejor de trabajar. La idea consiste en definir una nueva clase, por ejemplo NuevoGeoPunto, <span class="destaca-me">que herede de GeoPunto</span> y que añada el nuevo atributo.</p>
            <p>De esta forma podremos añadir nuevas funcionalidades sin tener que modificar la clase de partida. </p>
            <p>Más todavía, es posible que ni siquiera dispongamos del código de una clase para poder heredar de ella.</p>
            <p>Vamos a describir como la herencia nos permite resolver el problema de la re-utilización de código de forma sencilla, pero a su vez eficiente.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>extends ...</h3>
            <p>Cuando queremos construir una nueva clase es muy frecuente que ya dispongamos de otra que realice parte de la que queremos hacer.</p>
            <p>La herencia consiste en crear la nueva clase a partir de otra que llamaremos padre.</p>
            <p>La clase hija va a heredar los atributos y métodos de la clase padre y podrá crear nuevos atributos y métodos para completar su comportamiento.</p>
            <pre><code>
class NuevoGeoPunto extends GeoPunto{

}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>super</h3>
            <p>El constructor de la clase hija suele comenzar llamando al constructor de la clase padre, para ello escribiremos como primera línea de código: super.[[método]]([[parámetros]]);</p>
            <p>La clase hija también puede volver a definir los métodos de la clase padre. En tal caso es recomendable (no obligatorio) indicarlo con @Override; de esta forma evitamos errores habituales cuando cambiamos algún carácter o parámetro.</p>
            <p> Si un método ha sido sobrescrito podemos acceder al de la clase padre con el siguiente prefijo super.[[método]]([[parámetros]]).</p>
            <pre><code>
class NuevoGeoPunto extends GeoPunto{
    double altitud;
    public NuevoGeoPunto(double longitud, double latitud, double altitud){
        super(longitud, latitud);
        this.altitud = altitud;
    }

    @Override
    public double sumaPuntos() {
        return altitud + super.sumaPuntos();
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio propuesto</h3>
            <p>Crear un juego de caballeros y troles </p>
            <p>Para ello se debe crear lo siguiente:</p>
            <p>Una clase Jugador que contenga 2 atributos: nombre(String) y energía(int)</p>
            <p>Debe implementar los métodos:</p>
            <pre><code>
protected int poder(){
    return  (int)(Math.ceil(Math.random() * 10));
}
protected void setDanio(int danio){
    if(this.energia > danio){
        this.energia -= danio; 
    }else{
        this.energia = 0;
    }
}
            </code></pre>
            <p>Además de los getters y los setters</p>
            <p>Se deben crear dos clases: Caballero, Troll; estas deben heredar de jugador y deben sobre-escribir los métodos poder y setDanio, para darle ventaja al caballero al ataque y desventaja en resistencia, el efecto contrario debe pasar en los troles, es decir, poco ataque pero gran resistencia.</p>
            <p>Una vez que que se tengan las clases,se presentará la forma de aplicar la pelea.</p>
        </div>
    </section>
</section>
<!-- #Herencia -->


<!-- Sobre carga -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>Sobrecarga en Java ♨️</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Definición</h3>
                <p>Java permite varias versiones de un mismo método, siempre que cambien entre sí los parámetros.  </p>
                <p>Es decir que dispondremos de dos o más métodos distintos con un mismo nombre.</p>
                <p>Java los diferenciará al tener parámetros diferentes. Esta forma de trabajar se conoce como sobrecarga.</p>
                <pre><code>
public class Operacion {

    int sumar(int num1, int num2){
        return num1 +  num2;
    }
    
    double sumar(double num1, double num2){
        return num1 + num2;
    }
    
    int sumar(double num1, double num2, double num3){
        return (int)(num1 + num2 + num3);
    }
    
    int sumar(int num1, int num2, int num3){
        return num1 + num2 + num3;
    }

}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio propuesto</h3>
                <p>Crear una clase que contenga dos constructores.</p>
                <p>El primer constructor no admite parámetros, imprime "Hola desde el prier constructor!!"</p>
                <p>El segundo constructor admite un parámetro entero,Por ejemplo si se le pasa un 3, imprime "Hola soy el otro constructor y me llegó este parámetro. 3</p>
            </div>
        </section>
</section>

<!-- Polimorfismo -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>El polimorfismo en Java ♨️</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Definición</h3>
                <p>El polimorfismo consiste en declarar un objeto de una clase, pero instanciarlo como un descendiente de dicha clase (lo contrario no es posible). Es decir, utilizaremos la siguiente expresión:</p>
                <p>Es la capacidad que tienen las variables y métodos de comportarse de múltiples formas, de esta manera programaremos a nivel general y no para un caso especifico</p>
                <pre><code>
[[ Clase_padre ]] [[ objeto ]] = new [[ Clase_hija ]]([[ parámetros ]]);
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejemplo</h3>
                <p>Caso variable con multi forma</p>
                <pre><code>
class Figura {}
    
class Triangulo extends Figura {}
    
public class Principal{
    
        public void metodo(){
        Figura triangulo = new Triangulo();
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejemplo</h3>
                <p>Caso método con multi forma</p>
                <pre><code>
class Figura {}
    
class Triangulo extends Figura { getArea(){"Implementación para el triángulo"} }
class Cuadrado extends Figura { getArea(){"Implementación para el cuadrádo"} }
class Circulo extends Figura { getArea(){"Implementación para el círculo"} }
    
public class Principal{
    
        public void metodo(){
        Figura triangulo = new Triangulo();
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Consideraciones.</h3>
                <p>La variable polimórfica debe ser de un solo tipo, como cualquier variable que se declara normalmente.</p>
                <p>Se pueden referenciar y convertirse en polifórmico.</p>
                <pre><code>
Figura figura = new Figura();
Cuadrado cuadrado = new Cuadrado();

figura = cuadrado;
                </code></pre>
                <p>Esto puede ser realizado por cualquier elemento del mismo tipo, si existe una relación de herencia.</p>
                <p>Si cuadrado tiene hijas, estas también pueden ser referenciadas a Figura, no al revés.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio</h3>
                <p>Crear la clase Cuadrilátero, que como hijas a las clases Cuadrado y Rectángulo.</p>
                <p>Hacer que el método getArea sea polimórfico.</p>
                <p>Crear dos variables polimórficas, Cuadrilatero cuadrado = new Cuadrado(2) y Cuadrilatero rectangulo = new Rectangulo(2, 4).</p>
                <p>Ingresarlas a un ArrayList e imprimir sus áreas.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Cuadrilatero.java</h3>
                <iframe src="https://pastebin.com/embed_iframe/RyhN6Pui" style="border:none;width:100%; height: 500px;"></iframe>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Cuadrado.java</h3>
                <iframe src="https://pastebin.com/embed_iframe/JDxJtcQe" style="border:none;width:100%; height: 500px;"></iframe>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Rectangulo.java</h3>
                <iframe src="https://pastebin.com/embed_iframe/wynQ7wUu" style="border:none;width:100%; height: 500px;"></iframe>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>polimorfismo1.java</h3>
                <iframe src="https://pastebin.com/embed_iframe/ZAnFxUTV" style="border:none;width:100%; height: 500px;"></iframe>
            </div>
        </section>
</section>

<!-- Clases abstractas, interfaces y herencia múltiple-->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>Clases abstractas, interfaces y herencia múltiple ♨️</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Clases abstractas</h3>
                <p>Una clase abstracta es aquella que no implementa alguno de sus métodos. Veamos un ejemplo:</p>
                <pre><code>
abstract class Figura {
    protected double x;
    protected double y;

    public Figura(double x, double y){
        this.x = x;
        this.y = y;
    }  

    abstract double perimetro();
}
                </code></pre>
                <p>Observa como el método perimetro() de esta clase no se implementa por lo que hay que utilizar la palabra reservada abstract. </p>
                <p>Este método se dice que es abstracto. Toda clase que contenga algún método abstracto también es abstracta, e igualmente, hay que etiquetarla con la palabra reservada abstract.</p>
                <p>No se puede instanciar un objeto de una clase abstracta, dado que no se ha definido todo su comportamiento.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Una clase abstracta solo se utiliza para definir subclases. Veamos un ejemplo:</p>
                <pre><code>
class Circulo extends Figura {

    private double radio;
    public Circulo(double x, double y, double radio){
    super(x,y);
        this.radio = radio;
    }  
    public double perimetro(){
        return 2 * Matth.PI * radio;
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <p>Se puede crear una referencia a una clase abstracta:</p>
                <pre><code>
Figura miFigura;
                </code></pre>
                <p>Pero no se puede crea un objeto de una clase abstracta:</p>
                <pre><code>
miFigura = new Figura(100,100); // Error!!!
                </code></pre>
                <p>podemos asignar cualquier objeto descendiente a una referencia de una clase abstracta, siempre que el descendiente no sea abstracto:</p>
                <pre><code>
miFigura = new Circulo(100,100,50); // polimorfismo.!!
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <h3>Interfaces</h3>
                <p>La interfaz es una clase abstracta pura, es decir, una clase donde se indican los métodos, pero no se implementa ninguno.</p>
                <p> Permite al programador establecer una estructura que ha de seguir toda clase que implemente esta interfaz.</p>
                <p>En la interfaz solo se indica los nombres de los métodos, sus parámetros y tipos que retornan, pero no el código de cada método.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <p>Una interfaz también puede contener constantes, es decir, campos de tipo static y final, pero nunca pude campos de otro tipo. Veamos un ejemplo.</p>
                <pre><code>
public interface Dibujable {  
    int AZUL = 0x0000FF;
    void dibuja(int color);
    void borra();
    boolean estaDibujado();
}
                </code></pre>
                <p>Aunque no se haya indicado AZUL es declarado de tipo static y final. Es decir, una interfaz puede definir constantes, pero nunca encapsular datos.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Una clase puede implementar una interface. En este caso está obligada a definir todos los métodos indicados. Veamos un ejemplo:</p>
                <pre><code>
public class Dibujo implements Dibujable {  
    …
    void dibuja(int color){
        …
    }
    void borra(){
        …
    }
    boolean estaDibujado(){
        …
    }
}
                </code></pre>
                <p>La clase Dibujo implementa la interface, por lo que ha de declarar todos los métodos y escribir el código correspondiente</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <h3>Herencia múltiple(No soportada)</h3>
                <p>Algunos lenguajes orientados a objeto, como C++ o Python, soportan la herencia múltiple.</p>
                <p>Es decir, pueden extender simultáneamente más de una clase.</p>
                <p>Esta característica presenta cierta ambigüedad a la hora de acceder a los atributos de los padres, lo que hace que aumente la complejidad del lenguaje.</p>
                <p>Otros lenguajes, como <span class="destaca-me">Java</span>, C#, Delphi o Objective-C, <span class="destaca-me">no soportan herencia múltiple</span>.</p>
                <p> Por lo que solo pueden extender de una clase; lo que simplifica en gran medida el lenguaje. </p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Lo que sí que van a permitir estos lenguajes es que una clase además de extender de su padre puedan implementar varios interfaces.</p>
                <p>La implementación de una interface resulta mucho más sencilla dado que no incorpora variables, solo obliga a la clase a definir una lista de métodos. Veamos un ejemplo:</p>
                <pre><code>
class Circulo extends Figura implements Dibujable {  
    …
}
                </code></pre>
                <p>En este caso Circulo extiende Figura; por lo que va a incorporar las variables x e y además del método abstracto perimetro().</p>
                <p>Además, implementa Dibujable por lo que ha de definir los tres métodos de esta interfaz.</p>
                <p>De esta forma la clase Circulo tiene un doble comportamiento el heredado de Figura, además nos aseguramos que puede ser dibujado al implementar Dibujable:</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio propuesto</h3>
                <p>Tomar el ejemplo de las figuras geométricas y realizar la interface Figura, se debe implementar en cada uno de las clases Circulo, Triangulo.</p>
                <p>Crear la clase Cuadrilatero que implementa a Figura. y Crear dos hijos (Cuadrado y Rectangulo).</p>
                <p>Luego imprimimos sus áreas y perímetros en nuestro método main.</p>
            </div>
        </section>
</section>

<!-- Casting en java  -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>La técnica ninja del Casting en java 👊🏼 🇯🇵 ♨️ </h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Definición</h3>
                <p>Casteo(Cast: lanzar): Es un procedimiento para transformar una variable primitiva de un tipo a otro, o transformar un objeto de una clase a otra clase siempre y cuando haya una relación de herencia  entre ambas.</p>
                <p>Sabemos que al momento de declarar una variable, esta variable nos guarda la referencia a ese objeto, es por ello que el cast, lanza o proyecta esta referencia a lo que necesitemos.</p>
                <pre><code>
short variable = (short) numeroEntero;
                </code></pre>
            </div>
        </section>

        <section>
            <h3>¿Pero cuando la debemos o podemos utilizar? 🤔</h3>
        </section>

        <section>
            <h3>Casteo en los primitivos 👨🏼‍🍳</h3>
        </section>

        <section>
            <div class="font-justify font-size-22">
                <h3>Casteo Implícito (Widening Casting)</h3>
                <p> El casteo implícito radica en que no se necesita escribir código para que se lleve a cabo.</p>
                <p>Ocurre cuando se realiza una conversión ancha – widening casting – es decir, cuando se coloca un valor pequeño en un contenedor grande.</p>
                <pre><code>
public static void main(String[] args) {

    byte _byte = 127;           // 8 bits
    int _int = _byte;           // 8 bits en 32 bits
    long _long = _int;          // 32 bits en 64 bits
    float _float = _long;       // 64 bits en 32 bits ya que todo 
                                // numero real se puede representar como 
                                // (Mantisa * 10 ^ Exponente ) 
                                // ej: -1x10^(-99) 1x10^(-99).
                                // Norma IEEE 754.
    
    double _double = _float;    // 32 bits en 64 bits
    
    // También pueden ser aplicados desde el char de 16 bits.
    char __char = 's';
    int __int = __char;
    long __long = __int;
    float __float = __long;
    double __double = __float;    
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Casteo Explicito (Narrowing Casting)</h3>
                <p>Se produce cando se realiza una conversión estrecha – narrowing casting – es decir, cuando se coloca un valor grande en un contenedor pequeño. </p>
                <p>Son susceptibles de perdida de datos y deben realizarse a través de código fuente, de forma explicita.</p>
                <pre><code>
public static void main(String[] args) {

    // Buena conversión
    long manzoniquenum = 999999999L;
    int numerin = (int) manzoniquenum;   
    System.out.println(numerin); // 999999999

    // Mala conversión
    long manzoniquenum2 = 9999999999L;
    int numerin2 = (int) manzoniquenum2;   
    System.out.println(numerin2); // 1410065407
}
                </code></pre>
                <p>Se debe tener cuidado con esta conversión ya que en si no tenemos cuidado con el tamaño que estamos convirtiendo puede causar conflictos y el resultado final puede ser inesperado</p>
            </div>
        </section>
        <section>
            <h3>Casteo en los objetos 👨🏼‍🍳</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Los objetos también se pueden castear (o hacer que sus direcciones de memoria apunten a una distinta).</p>
                <pre><code>
Empleado emp = new Ejecutivo (“Máximo Dueño”, 2000);
Ejecutivo ej = (Ejecutivo) emp;
                </code></pre>
            </div>
        </section>
        <section>
            <h3>Pero, otra vez,¿cuando la debemos o podemos utilizarlo? 😅</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Upcasting(variable polimórfica)</h3>
                <p>El Upcasting, es en donde un objeto de una clase derivada, se asigna a una referencia, cuyo tipo es alguna de las superclases</p>
                <p>Suponiendo que existe una clase Empleado y clase Ejecutivo, la cual es una subclase de esta. Un Ejecutivo entonces es un Empleado y se puede escribir de la siguiente forma:</p>
                <p>Se debe tener cuidado ya que; para la referencia e1, no existen los atributos y métodos que se definieron en la clase Ejecutivo(Al menos no todos), aunque la referencia apunte a un objeto de este tipo.</p>
                <pre><code>
//Instancia un ejecutivo en una variable de tipo Empleado
Empleado e1 = new Ejecutivo (“K-pasito”, 100);
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Si ahora existe una variable de tipo Empleado y se desea acceder a los métodos de la clase derivada – suponiendo  que contiene un método ejecutarPlanificacion() en la clase Ejecutivo – teniendo una referencia de una clase base, como en el ejemplo anterior, hay que convertir explícitamente la referencia de un tipo  a otro.</p>
                <p>Esto se hace con el operador de cast de la siguiente forma:</p>
                <pre><code>
//Instancia un ejecutivo en una variable de tipo Empleado
Empleado emp = new Ejecutivo (“K-pasito”, 100);

//Se convierte (o castea) la referencia de tipo
Ejecutivo ej = (Ejecutivo) emp;

//Usamos el método de la clase Ejecutivo
ej.ejecutarPlanificacion();
// También funciona usando:
((Ejecutivo)e1).ejecutarPlanificacion();
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>La expresión (Ejecutivo ej = (Ejecutivo) emp;)convierte la referencia de tipo Empleado asignándola a una referencia de tipo Ejecutivo. Para el compilador es correcto porque Ejecutivo es una clase derivada de Empleado.</p>
                <p>De forma contraria esto no da resultados, nos dará problemas de compilación.</p>
                <pre><code>
Empleado emp = new Empleado (“Mario Gómez”, 2000);
Ejecutivo ej = (Ejecutivo) emp;
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio propuesto</h3>
                <p>1- Construir la clase abstracta Animal.</p>
                <p>2- Esta clase tiene un atributo: String nombre;, este tendrá un método abstracto: String habla()</p>
                <p>3- Crear la clase perro que extiende de Animal, sobre escribir el método hablar e implementar el método llorar()</p>
                <p>4- En la clase principal creamos una instancia: Animal foo = new Perro("bar");</p>
                <p>5- imprimimos el resultado de ambos métodos y estudiaremos el resultado.</p>
            </div>
        </section>
</section>

<!-- Genericidad  -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>Genericidad en Java ♨️</h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Definición</h3>
                <p>Facilidad de un lenguaje de programación para definir clases parametrizadas con tipos de datos.</p>
                <p>Tiene sentido para los lenguajes fuertemente tipados.</p>
                <p>Se aprovecha del tipo Object para definir clases contenedoras (listas, conjuntos, diccionarios, etc.)</p>
                <p>Una referencia de tipo Object puede referenciar a cualquier tipo de datos del lenguaje (objetos, tipos primitivos).</p>
                <p>Por ejemplo definimos una clase Contenedor, esta clase servirá de wrapper de cualquier tipo de datos.</p>
                <pre><code>
class Contenedor {
    private Object contenido;
    public void setContenido(Object contenido) {
        this.contenido = contenido;
    }
    public Object getContenido() {
        return contenido;
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>¿Cual es el problema?</h3>
                <p>Esta clase posee dos métodos y uno de ellos inicia el atributo contenido.</p>
                <p>El compilador toma esto como correcto, por lo tanto los problemas ocurrirán en tiempo de ejecución de nuestra aplicación.</p>
                <p>Queda entonces en manos del desarrollador el correcto manejo del tipo de datos que se utilizará</p>
                <p>Para extraer objetos es necesario hacer siempre un casting que podría fallar</p>
                <pre><code>
public static void main(String[] args) {
    Contenedor contenedor = new Contenedor ();
    contenedor.setContenido("hola");

    Deposito d = (Deposito) contenedor.getContenido(); 
    // Error de casting en tiempo de ejecución
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <h3>Genericidad usando object no es la respuesta.</h3>
                <p>A partir de la versión 1.5 de java tenemos a disposición la genericidad de forma mucho más manejable.</p>
                <p>Una clase genérica; es una clase que en su declaración, utiliza un tipo variable &#60;parámetro&#62;, que será establecido cuando sea utilizada.</p>
                <p>Al parámetrode la clase genérica se le proporciona un nombre (T, K, V, etc.) que permite utilizarlo como tipo de datos en el código de la clase.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Clase genérica Contenedor</h3>
                <p>Sobre las variables cuyo tipo sea el parámetro (T, K, V, etc.) sólo es posible aplicar métodos de la clase Object; por ejemplo K.toString()</p>
                <p>Esto es dado que representan “cualquier dato”, sólo podemos aplicar operaciones disponibles en todos los tipos de datos del lenguaje Java</p>
                <pre><code>
public class Contenedor&#60;K&#62; {
    private K contenido;

    public Contenedor(K contenido) {
        this.contenido = contenido;
    }

    public K getContenido() {
        return contenido;
    }

    public void setContenido(K contenido) {
        this.contenido = contenido;
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Operaciones sobre el tipo del parámetro (K)</h3>
                <p>métodos públicos de la clase Object</p>
                <p>Asignación (=) y la comparación ede identidad (==)(!=).</p>
                <p>Dentro de la clase genérica, NO es posible construir objetos de los tipos parametrizados</p>
                <pre><code>
T contenido = new T(); // error en tiempo de compilación.
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Uso de una clase genérica</h3>
                <p>La parametrización de una clase genérica, se realiza en la declaración de una variable y en la construcción de objetos.</p>
                <pre><code>
public static void main(String[] args) {
    // TODO code application logic here
    Contenedor&#60;String&#62; contenedor = new Contenedor&#60;&#62;("hola");
    System.out.println(contenedor.getContenido()); // hola
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Genericidad y tipos primitivos</h3>
                <p>Las clases genéricas no pueden ser parametrizadas a tipos primitivos, pero podemos utilizar los de tipo wrapper como Integer. Es tarea del compilador tratar a los wrappers y los primitivos de la misma manera, a este proceso se le conoce como autoboxing</p>
                <pre><code>
public static void main(String[] args) {
    // TODO code application logic here
    Contenedor&#60;Integer&#62; contenedor = new Contenedor&#60;&#62;(10);
    System.out.println(contenedor.getContenido());
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Varios parámetros</h3>
                <p>También podemos aceptar varios parámetros</p>
                <pre><code>
public class Contenedor  &#60;K, Y &#62; {
    private K valor;
    private Y otroValor;

    public Contenedor(K valor, Y otroValor) { this.valor = valor; this.otroValor = otroValor;}
    public K getValor() {return valor;}
    public void setValor(K valor) {this.valor = valor;}
    public Y getOtroValor() {return otroValor;}
    public void setOtroValor(Y otroValor) {this.otroValor = otroValor;}
}

public class Genericidad3 {

    public static void main(String[] args) {
        Contenedor&#60;Integer, String&#62; con = new Contenedor&#60;&#62;(10, "diez");
        Contenedor&#60;Character, Boolean&#62; con2 = new Contenedor&#60;&#62;('x', true);
        
        System.out.println(con.getValor());         // 10
        System.out.println(con.getOtroValor());     // diez
        System.out.println(con2.getValor());        // x
        System.out.println(con2.getOtroValor());    // true
    }
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Generalidad con restricciones</h3>
                <p>Si no especificamos el parámetro, este asumirá Object, esto significa que cualquier variable dentro de una clase genérica que sea del tipo parámetro (para este caso K o Y), solamente podá utilizar los métodos existen en la clase Object.</p>
                <p>Podemos saber de antemano si esta clase genérica trabajará con algunos tipos de datos, y esta forma es restringiendo los tipos de objetos que le llegarán.</p>
                <p>Tenemos formas de crear restricciones, con la finalidad de poder utilizar los métodos de otras clases y no solamente poder usar lo de la clase Object. El problema es que nuestros parámetros estarán restringidos y no podremos utilizar otros tipos.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <p>Si queremos que otros tipos de clases, implementen otros métodos; podemos seguir agregando restricciones utilizando el operador &, pero las siguientes restricciones, deben ser interfaces.</p>
<pre><code>
interface MiInteger {
    void implementame();
}

public class Contenedor &#60;K extends String & MiInteger, Y extends Integer&#62; {
    private K valor;
    private Y otroValor;

    public Contenedor(K valor, Y otroValor) { 
        this.valor = valor; 
        this.otroValor = otroValor;
    }

    public K getValor() {
        return valor;
    }

    public void setValor(K valor) {
        this.valor = valor;
    }

    public Y getOtroValor() {
        return otroValor;
    }

    public void setOtroValor(Y otroValor) {
        this.otroValor = otroValor;
    }
    
    public void implementame(){
        System.out.println("Implemntado");
    }
}

// luego en la clase principal tenemos los siguientes resultados:
public static void main(String[] args) {
    // no le paso los tipos, están implícitos, ya no asume Object.
    Contenedor contenedor = new Contenedor("dos", 1);
    
    System.out.println(contenedor.getValor());      // dos
    System.out.println(contenedor.getOtroValor());  // 1
    
    contenedor.implementame();                      // Implemntado
}
</code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio propuesto</h3>
                <p>1- Crear una clase parametrizada con la restricción de Integers.</p>
                <p>2- Implementar un parámetro del tipo de la parametrización.</p>
                <p>3- Implementar el constructor de ese parámetro, los setters y los geters.</p>
                <p>4- En la clase principal, se deben instanciar dos objetos del tipo Contenedor de Integers. y debemos imprimir su comparación de valores con el .equal()</p>
                <pre><code>
// Todo
                </code></pre>
            </div>
        </section>
</section>