
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

    <h3>INTRODUCCIÓN A JAVA 👨🏻‍💻 {☕️} 👩🏽‍💻</h3>

</section>

<!-- video youtube -->
<section>
    <h3>Todo el mundo debería saber programar 😎</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/C_PB_DX6shc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<!-- #video youtube -->

<!-- definición de lenguaje -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> ¿Qué es un lenguaje de programación? 🤨</h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>👨🏻‍🏫</h3>
            
            <p>
                Según la <a href="https://definicion.de">definición</a> teórica, como lenguaje se entiende a un <span class="destaca-me">sistema de comunicación que posee una determinada estructura, contenido y uso.</span> La programación es, en el vocabulario propio de la informática, el procedimiento de escritura del código fuente de un software. De esta manera, puede decirse que <span class="destaca-me">la programación le indica al programa informático qué acción tiene que llevar a cabo y cuál es el modo de concretarla.</span>
            </p>
            <p>
                Con estas nociones en claro, podemos afirmar que un lenguaje de programación <span class="destaca-me">es aquella estructura que, con una cierta base sintáctica y semántica, imparte distintas instrucciones a un programa de computadora.</span>
            </p>
        </div>
    </section>

</section>
<!-- #definición de lenguaje -->

<!-- História de java -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> História del lenguaje de programación Java 👝</h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <p>En diciembre de 1950, <a href="https://en.wikipedia.org/wiki/Patrick_Naughton">Patrick Naughton</a>, ingeniero de Sun Microsystems, reclutó a varios colegas entre ellos <a href="https://es.wikipedia.org/wiki/James_Gosling"> James Gosling</a> y <a href="https://bluechairgroup.com/team/mike-sheridan/"> Mike Sheridan</a> para trabajar sobre un nuevo proyecto conocido como <span class="destaca-me"> "El proyecto verde".</span></p>
            <p>Con la ayuda de otros ingenieros, empezaron a trabajar en una pequeña oficina en Sand Hill Road en Menlo Park, California. Y así interrumpió todas las comunicaciones regulares con Sun y trabajó sin descanso durante 18 meses.</p>
            <p>Intentaban desarrollar una nueva tecnología para programar <span class="destaca-me">la siguiente generación de dispositivos inteligentes</span>, en los que Sun veía un campo nuevo a explorar. Crear un lenguaje de programación fácil de aprender y de usar. </p>
            <p>Comienza con la modificación del lenguaje c++, mutó hasta llegar a un lenguaje completamente nuevo e independiente de la arquitectura. </p>
            <p> Por cuestiones de propiedad intelectual, se cambia el nombre de Oak a Java, mientras tomaban café (Java es nombre de un tipo de café, originario de Asia), aunque otros afirman que el nombre deriva de las siglas de James Gosling, Arthur Van Hoff, y Andy Bechtolsheim.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>El resultado fue un lenguaje que tenía similitudes con C, C++ y Objetive C y que no estaba ligado a un tipo de CPU concreta. al que llamo Oak (roble en inglés, según la versión mas aceptada, por el roble que veía a través de la ventana de su despacho).</p>
            <p>Para agosto de 1991 Oak ya corría sus primeros programas.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>El 29 de septiembre de 1994 se termina el desarrollo del prototipo de HotJava. Cuando se hace la demostración a los ejecutivos de Sun, se reconoce el potencial de Java y se acepta el proyecto.</p>
            <p>El 23 de mayo de 1995, en la conferencia SunWorld `95, John Gage, de Sun Microsystems, y Marc Andreessen, cofundador y vicepresidente de Netscape, anunciaban la versión alpha de Java, que en ese momento solo corría en Solaris, y el hecho de que Java iba a ser incorporado en Netscape Navigator, el navegador mas utilizado de Internet.</p>
            <p>En enero de 1995 Sun formá la empresa Java Soft para dedicarse al desarrollo de productos basados en la tecnologías Java, y así trabajar con terceras partes para crear aplicaciones, herramientas, sistemas de plataforma y servicios para aumentar las capacidades del lenguaje. Ese mismo mes aparece la versión 1.0 del JDK.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>Datos 🕶</p>
            <p>2009 El grupo estadounidense de software Oracle alcanza un acuerdo para comprar Sun Microsystems por un monto estimado de 5.600 millones de dólares</p>
            <p>2010 Oracle demanda a google por el uso indebido de Java en Android, Oracle sostiene en la demanda que Google copió interfaces de programación de aplicaciones (API) de su código Java, unas 11.000 líneas, para desarrollar su sistema operativo Android, que es utilizado por la mayoría de teléfonos móviles del mundo, y reclama que debía haber pagado una licencia o escrito su lenguaje.</p>
            <p>Marzo 2018 - Oracle gana la demanda pidiendo más de 9 mil millones de dólares a Google lo que supone un cuestionamiento el uso de este lenguaje en futuras aplicaciones de gran envergadura..</p>
        </div>
    </section>

</section>
<!-- #História de java -->

<!--Development Kit -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Development Kit (Kit de desarrollo)</h2>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>SDK</h3>
            <p>Es el acrónimo de “Software Development Kit” (Kit de desarrollo de software). El SDK reúne un grupo de herramientas que permiten la programación de aplicaciones. Este conjunto de herramientas se puede dividir en 3 categorías: SDK para entornos de programación o sistemas operativos (iOS, Android, etc.), Es por ello que para java utilizamos el JDK.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h3>JDK</h3>
            <p>Java Development Kit (JDK) es un software que provee herramientas de desarrollo para la creación de programas en Java. Puede instalarse en una computadora local o en una unidad de red. En la unidad de red se pueden tener las herramientas distribuidas en varias computadoras y trabajar como una sola aplicación. En el enlace dado, se puede descargar además el Integrated Development Environment (IDE) NetBeans, o en este <a href="https://www.oracle.com/technetwork/es/java/javase/downloads/jdk-netbeans-jsp-3413139-esa.html">Link</a> </p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>JRE</h3>
            <p>El <a href="https://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html">JRE</a>  (Java Runtime Environment) es una <span class="destaca-me">máquina virtual</span> de Java y su función es hacer de intermediario entre una aplicación programada en Java y el sistema operativo que se este usando. De este modo, cualquier aplicación puede funcionar en cualquier sistema operativo que disponga del JRE.</p>
        </div>
    </section>

</section>
<!-- #Development Kit -->

<!-- Ranking -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <p>Los diez primeros puestos de Lenguajes Programación más usados en el mundo según <a href="https://www.tiobe.com/tiobe-index/"> Tiobe</a>. En este cuadro podréis ver la comparación de las posiciones con los datos de 2017 y 2018.</p>
    <img src="../../lib/img/mod_4/ranking.jpg" alt="">
</section>
<!-- #Ranking -->

<!-- tipos de datos -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h2> Tipos de datos en Java ✍🏼</h2>
    </section>

    <section>
        <h4> Datos Primitivos </h4>
    </section>
    
    <section>
        <div class="font-justify font-size-28">
            <p>
                Java es un lenguaje de tipado estático. Es decir, se define el tipo de dato de la variable a la hora de
                definir esta. Es por ello que todas las variables tendrán un tipo de dato asignado.
            </p>
            <p>
                <ul> Los tipos primitivos en Java son:
                    <li>byte</li>
                    <li>short</li>
                    <li>int</li>
                    <li>long</li>
                    <li>float</li>
                    <li>double</li>
                    <li>boolean</li>
                    <li>char</li>
                </ul>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>byte</h4>
            <p>Representa un tipo de dato de 8 bits, enteros con signo. De tal manera que puede almacenar los valores numéricos del <span class="destaca-me">-128 al 127 </span> (ambos inclusive).</p>
            <p>
                Ejemplo: <br/>
                <code>byte numero = -128;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>short</h4>
            <p>Representa un tipo de dato de 16 bits, enteros con signo. De esta manera almacena valores numéricos del <span class="destaca-me">-32.768 al 32.767</span></p>
            <p>
                Ejemplo: <br/>
                <code>short numero = -32768;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>int</h4>
            <p>Representa un tipo de dato de 32 bits, enteros con signo. De esta manera almacena valores numéricos del <span class="destaca-me">-2147483648 al 2147483647</span></p>
            <p>
                Ejemplo: <br/>
                <code>int numero = 2147483647;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>long</h4>
            <p>Representa un tipo de dato de 64 bits, enteros con signo. De esta manera almacena valores numéricos del <span class="destaca-me">-9223372036854775808 al 9223372036854775807 </span></p>
            <p>
                Ejemplo: <br/>
                <code>long numero = -9223372036854775808L;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>float</h4>
            <p>Es un tipo dato para almacenar números en coma flotante con precisión simple de 32 bits. De esta manera almacena valores numéricos del <span class="destaca-me">±1.4xE-45 al ±3.4028235xE38</span></p>
            <p>
                Ejemplo: <br/>
                <code>float numero = 3.4028235E38f;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>double</h4>
            <p>Es un tipo de dato para almacenar números en coma flotante con doble precisión de 64 bits. De esta manera almacena valores numéricos del <span class="destaca-me">±4.9xE-324 al ±1.7976931348623157xE+308</span></p>
            <p>
                Ejemplo: <br/>
                <code>double numero = 1.7976931348623157E+308d;</code>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>char</h4>
            <p>Es un tipo de dato para almacenar un carácter(16 bits) unicode. De esta manera almacena valores numéricos del <span class="destaca-me">\u0000 al  \uFFFF</span></p>
            <p>
                Ejemplo:
                <p><code>char caracter =  '\u0110';</code></p>
                <p>Es lo mismo que decir que:</p>
                <p><code>char caracter =  'Đ';</code></p>
                <p>Para ver más detalle de los caracreres unicode, <a href="https://unicode-table.com/es/#basic-latin">AQUÍ</a></p>
            </p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>boolean</h4>
            <p>Es un tipo de dato para almacenar dos valores <span class="destaca-me">(true, false)</span></p>
            <p>
                Ejemplo: <br />
                <code>boolean proposicion = true;</code>
            </p>
        </div>
    </section>

    <section>
        <h4> Datos No Primitivos(Clases Integer y String) </h4>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>Integer</h4>
            <p>La clase Integer encierra un valor primitivo del tipo int en un objeto. Un único objeto de tipo entero contiene un único campo cuyo tipo es int. Ademas esta clase proporciona varios métodos para convertir un int en una cadena y una cadena en un int así como otras constantes y métodos útiles para tratar un int.</p>
            <p>
                Ejemplo: <br />
                <code>
                    Integer num = 3;
                    // Al imprimir num.floatValue() el resultado es: 3.0.
                </code>
            </p>
            <p>Esto quiere decir que el optar a usar Integer en logar de int, nos permite utilizar el abanico de funcionalidades extras de la clase Int que podemos ver <a href="https://docs.oracle.com/javase/7/docs/api/java/lang/Integer.html">AQUÍ</a></p>
            <p>También podría declararse de la siguiente forma:</p>
            <p><code>Integer num = new Integer(3);</code></p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-28">
            <h4>String</h4>
            <p>Dentro de un objeto de la clase String, Java crea un conjunto de caracteres. A este conjunto; se accede a través de las funciones miembro de la clase.</p>
            <p>Si ponemos a una cadena de caracteres dentro de comillas dobles, "", será un String Implícito. </p>
            <p>
                Ejemplo explícito: <br />
                <code>String palabra = "Esta es una palabra";</code><br />
                <code>// Al imprimir palabra.length() el resultado es: 19, ya que es ese el largo de la cadena.</code>
                
            </p>
            <p>Esto quiere decir que el optar a usar String, nos permite utilizar el abanico de funcionalidades extras de la clase String que podemos ver <a href="https://docs.oracle.com/javase/7/docs/api/java/lang/String.html" target="_blank">AQUÍ</a></p>
        </div>
    </section>


    
</section>
<!-- tipos de datos -->

<!-- Api de java -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>La Api de Java ✍🏼</h3>
    </section>

    <section>
            <div class="font-justify font-size-28">
                <p>La API Java es una interfaz de programación de aplicaciones (API, por sus siglas del inglés: Application Programming Interface) <span class="destaca-me">provista por los creadores del lenguaje de programación Java</span>, que da a los programadores, los medios para desarrollar aplicaciones Java.</p>
                <p>Como el lenguaje Java es un lenguaje orientado a objetos, la API de Java provee de un conjunto de clases utilitarias para efectuar toda clase de tareas necesarias dentro de un programa.</p>
                <p>Para conocer más detalle de la API de java, pueden visitar el siguiente <a href="https://docs.oracle.com/javase/7/docs/api/" target="_blank">ENLACE</a></p>

            </div>
        </section>


    <section>
        <h2> java.lang ✍🏼</h2>
    </section>

    <section>
        <h4><code>System.out.println("Hola mundo 👻");</code></h4>
    </section>
    
    <section>
        <div class="font-justify font-size-28">
            <p>Contiene clases variadas pero imprescindibles para el lenguaje, como <span class="destaca-me">System</span>, Object, Thread, Math... El paquete
                java.lang es importado por defecto en el ficheros de código Java.</p>
        </div>
    </section>

</section>
<!-- Api de java -->





