
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

    <h3>CONDICIONALES EN JAVA 🤔</h3>

</section>


<!-- Operadores booleanos -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
        <div class="font-justify font-size-22">
            <h5>Operadores booleanos</h5>
            <pre><code>
int a = 4;
int b = 5;
boolean result;

result = a < b; // true

result = a > b; // false

result = a <= 4; // true

result = b >= 6; // false

result = a == b; // false

result = a != b; // true

result = a > b || a < b; // true

result = 3 < a && a < 6; // true

result = !result; // false

// Algunas cosas de la clase String:
String a = new String("Wow");
String b = new String("Wow");
String sameA = a;

boolean r1 = a == b;      // Falso, ya que a y b no son el mismo objeto.
boolean r2 = a.equals(b); // Verdadero, Utilizamos el método de la clase string para comparar.
boolean r3 = a == sameA;  // Verdadero, ya que a y sameA son el mismo objeto.

    </code></pre>
        </div>
    </section>

</section>
<!-- #Operadores booleanos -->

<!-- sentencia if -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
        <div class="font-justify font-size-22">
                <h2>Condicional if</h2>
            <pre><code>
// Sentencia simple.
if (var_1 == var_2) {
    // Si var_1 es igual a var_2, hagamos algo genial!! 😎
}
// Sentencia anidada
if (var_1 == var_2) {
    // Si var_1 es igual a var_2, hagamos algo genial!! 😎
}else if(var_2 == var_3){
    // var_1 no fue igual a var_2 😞,
    // pero var_1 es igual a var_3, hagamos algo genial!! 😎
}else{
    // Nada fue verdad ... 😞, pero hagamos algo genial!! 😎
}

/*
Podemos seguir anidando cuantas condiciones necesitemos.
El else es opcional. 
Hay que evitar inicializar las variables dentro del if
*/

// Otra forma de escribir los if (El operador ternario). (No se recomienda).

int a = 4;
int result = a == 4 ? 1 : 8;

// Es lo mismo que hacer el siguiente código:
int a = 4;
int result;
if (a == 4) {
    result = 1;
} else {
    result = 8;
}

// No se recomienda ya que es complejo de leer
        </code></pre>
        </div>
    </section>

</section>
<!-- #sentencia if -->

<!-- sentencia switch -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
        <div class="font-justify font-size-22">
                <h2>Condicional switch</h2>
            <pre><code>
// El switch, evalúa el resultado de una variable.
int month = 8;
String monthString;
switch (month) {
    case 1:  monthString = "January";
        break;
    case 2:  monthString = "February";
        break;
    case 3:  monthString = "March";
        break;
    case 4:  monthString = "April";
        break;
    case 5:  monthString = "May";
        break;
    case 6:  monthString = "June";
        break;
    case 7:  monthString = "July";
        break;
    case 8:  monthString = "August";
        break;
    case 9:  monthString = "September";
        break;
    case 10: monthString = "October";
        break;
    case 11: monthString = "November";
        break;
    case 12: monthString = "December";
        break;
    default: monthString = "Invalid month";
        break;
}

// Ejemplo 2.
String month = "january";
int monthNumber = 0;

switch (month.toLowerCase()) {
    case "january": monthNumber = 1;
        break;
    case "february": monthNumber = 2;
        break;
    case "march": monthNumber = 3;
        break;
    case "april": monthNumber = 4;
        break;
    case "may": monthNumber = 5;
        break;
    case "june": monthNumber = 6;
        break;
    case "july": monthNumber = 7;
        break;
    case "august": monthNumber = 8;
        break;
    case "september": monthNumber = 9;
        break;
    case "october": monthNumber = 10;
        break;
    case "november": monthNumber = 11;
        break;
    case "december": monthNumber = 12;
        break;
    default:  monthNumber = 0;
        break;
}
        </code></pre>
        </div>
    </section>

</section>
<!-- #sentencia switch -->
