
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Hilos (Threads) en Java ♨️ </h3> 
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Introducción</h3>
    </section> 
    <section>
        <div class="font-justify font-size-22">
            <h3>Proceso</h3>
            <p>(RAE) La acción de avanzar o ir para adelante, al paso del tiempo y al conjunto de etapas sucesivas advertidas en un fenómeno natural o necesarias para concretar una operación artificial.</p>
            <p>En informática, es un conjunto de procedimientos o funciones que tienen uno o más objetivos. es decir, es una secuencia de pasos dispuesta con algún tipo de lógica, que se enfoca en lograr algún resultado específico.</p>
            <p>Un proceso está compuesto por múltiples hilos.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Diferencias entre multi-tarea y multi-hilos</h3>
            <p>Multi-tarea; se refiere a la habilidad que posee una computadora, para realizar múltiples trabajos concurrentes.</p>
            <p>Esto no quiere decir que cada tarea se ejecuta completamente en un núcleo de nuestro procesador. Imaginemos que un sistema operativo como son Android, Ios, Windows, etc., pudieran ejecutar sólo un proceso por cada nucleo. Los sistemas no podrían ejecutar mas de un programa a la vez.</p>
            <p>Las tareas(procesos), llegan a una cola de procesos, en donde se les asigna una prioridad(cantidad de tiempo ejecutando sus instrucciones en el procesador), Terminado su tiempo, este proceso puede o no haber sido ejecutado completamente. si aún no ha terminado vuelve a la cola a esperar su turno.</p>
            <p>Procesadores con múltiples núcleos, ayudan a realizar estas tareas a mayor velocidad, es como poner más cajeros en un banco.</p>
        </div>
    </section>
    <section>
        <img src="../../lib/img/mod_4/multitask.png" alt="">
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Multithreading (múltiples hilos)</h3>
            <p>Un hilo o thread, es una simple secuencia de ejecución dentro de un programa.</p>
            <p>Multithreading, se refiere al control de múltiples hilos de un programa específico. Es decir que, cada programa puede ejecutar múltiples hilos dentro de él.</p>
        </div>
    </section>
    <section>
        <img src="../../lib/img/mod_4/Multithreading.jpg" alt="">
    </section>
</section>

<!-- Clases principales -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Clases principales</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>interface java.lang.Runnable</h3>
            <p>Esta interfaz, debe ser implementada por cualquier clase cuyas instancias estén destinadas a ser ejecutadas por un hilo. Se debe definir un método sin parámetros llamado run().</p>
            <p>Notamos esta anotación: @FunctionalInterface, veremos cual es su ventaja más adelante. 😎 </p>
            <pre><code>
package java.lang;


@FunctionalInterface // esto quiere decir posee exactamente un método abstracto.
public interface Runnable {

    public abstract void run();
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>java.lang.Thread</h3>
            <p>Thread es un hilo de ejecución en un programa, la máquina virtual de java, permite que una aplicación tenga múltiples hilos de ejecución.</p>
            <p>Esta clase implementa a Runnable y si heredamos de thread, entonces también debemos sobre escribir el método run().</p>
            <pre><code>
// declaración:
class Thread implements Runnable
// métodos
blockedOn()
init()
init() // v2
clone()
start()                // destacado.
start0()
run()
interrupt()
interrupted()
isInterrupted()
isInterrupted(()
isAlive()
setPriority()
getPriority()
setName()
getName()
getThreadGroup()
join()
join() // v2
join() // v3
setDaemon()
isDaemon()
checkAccess()
toString()
getContextClassLoader()
setContextClassLoader()
getStackTrace()
getAllStackTraces()
getId()
getState()

// métodos estáticos.
nextThreadNum()
nextThreadID()
currentThread()
yield()
sleep()                 // destacado.
sleep() // v2
activeCount()
enumerate()
dumpStack()
holdsLock()

            </code></pre>
        </div>
    </section>
</section>

<!-- Clases principales -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Formas de implementar un hilo.</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Implementando Runnable.</h3>
            <p>La primera forma de crear un hilo es implementando la interface Runnable.</p>
            <p>Solo debemos sobre escribir el método run(), este método será capaz de ser ejecutado "Paralelamente", invocando el método Thread.start() </p>
            <pre><code>

public class Principal{

    public static void main(String[] args) {
        Thread tarea1 = new Thread(new MiHilo());
        Thread tarea2 = new Thread(new MiHilo());

        tarea1.start();
        tarea2.start();
    }
}

class MiHilo implements Runnable{

    @Override
    public void run() {
        for (int i = 0; i < 10; i++) {
            System.out.println("i: " + i + ", id: " 
                    + Thread.currentThread().getId());
            espera(1);
        }
    }
    
    public void espera(int segundos){
        try {
            Thread.sleep(segundos * 1000);
        } catch (InterruptedException ex) {
            System.out.println(ex.getMessage());
        }
    }
}

            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Implementando Thread.</h3>
            <p>Acá ya no debemos pasar una nueva instancia al constructor de la clase Thread, ni no que ocupamos el polimorfismo.</p>
            <p>Al igual que antes, sobrescribimos nuestro método run()</p>
            <pre><code>
public class Principal {

    public static void main(String[] args) {
        Thread tarea1 = new MiHilo();
        Thread tarea2 = new MiHilo();
        tarea1.start();
        tarea2.start();
    }

    public void espera(int segundos){
        try {
            Thread.sleep(segundos * 1000);
        } catch (InterruptedException ex) {
            System.out.println(ex.getMessage());
        }
    }
}

class MiHilo extends Thread{
    @Override
    public void run() {
        for (int i = 0; i < 10; i++) {
            System.out.println("i: " + i + ", id: " 
                    + Thread.currentThread().getId());
            espera(1);
        }
    }
    
    public void espera(int segundos){
        try {
            Thread.sleep(segundos * 1000);
        } catch (InterruptedException ex) {
            System.out.println(ex.getMessage());
        }
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Opción funcional. @FunctionalInterface 🤯  🤯  🤯 </h3>
            <p>Desde java 8, se han implementado nuevas grandes funcionalidades en el lenguaje, como por ejemplo la posibilidad de ocupar objetos anónimos con el fin de asemejar una función interna de esa implementación, como si fuera solo la función la cual podemos implementar solo en el momento en que es usada, como lo que pasa en la programación funcional.</p>
            <p>Este tipo de funciones, son usualmente llamadas funciones lambda.</p>
            <pre><code>
public class Principal {

    public static void main(String[] args) {
        Thread tarea1 = new Thread(new Runnable() {
            @Override
            public void run() {
                for (int i = 0; i < 10; i++) {
                    System.out.println("i: " + i + ", id: "
                            + Thread.currentThread().getId());
                    try {
                        Thread.sleep(1000);
                    } catch (InterruptedException ex) {
                        System.out.println(ex.getMessage());
                    }
                }
            }
        });
        
        Thread tarea2 = new Thread(new Runnable() {
            @Override
            public void run() {
                for (int i = 0; i < 10; i++) {
                    System.out.println("i: " + i + ", id: "
                            + Thread.currentThread().getId());
                    try {
                        Thread.sleep(1000);
                    } catch (InterruptedException ex) {
                        System.out.println(ex.getMessage());
                    }
                }
            }
        });

        tarea1.start();
        tarea2.start();
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Funciones Lambda</h3>
            <p>Esta definición es un azúcar sintáctico, es decir, que lo que realmente hacemos es sobrescribir el método run. de Runnable.</p>
            <p>no queremos entonces escribir  new Runnable(){@Override public void run() {..., es entonces cuando debemos utilizar una sintaxis que haga lo mismo. pero de forma reducida. Esto se ejemplifica en el siguiente código.</p>
            
            <pre><code>
// Implementación lambda de una @FunctionalInterface, normal.

Thread tarea2 = new Thread(new Runnable() {
    @Override
    public void run() {
        for (int i = 0; i < 10; i++) {
            System.out.println("i: " + i + ", id: "
                    + Thread.currentThread().getId());
            try {
                Thread.sleep(1000);
            } catch (InterruptedException ex) {
                System.out.println(ex.getMessage());
            }
        }
    }
});

// Implementación lambda de una @FunctionalInterface, usando el azúcar sintáctico proporcionado por Java.

Thread tarea1 = new Thread(() -> {
    for (int i = 0; i < 10; i++) {
        System.out.println("i: " + i + ", id: "
                + Thread.currentThread().getId());
        try {
            Thread.sleep(1000);
        } catch (InterruptedException ex) {
            System.out.println(ex.getMessage());
        }
    }
});

// Podemos ver que todo este código:
new Runnable() {
    @Override
    public void run() {

// Fué reemplazado con: 
() -> {
            </code></pre>
        </div>
    </section>
</section>


<!-- Clases principales -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
            <h3>Ciclo de vida de un thread.</h3>
        <img src="../../lib/img/mod_4/cicloDeVidaThread.png" alt="">
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio propuesto</h3>
            <p>Crear dos clases Procesador y Proceso, además de la clase Principal, que contendrá el método principal. Proceso tendrá dos atributos. String nombre, int[] tareas, además de constructor, getters y setters</p>
            <p>Procesador posee un atributo: String nombre, constructor, getters y setters, además de un método procesar que mientras tanto estará vacío. Además de esto tendremos una clase de servicios a la que llamaremos Alfred. 🧐, estará mientras tanto vacía.</p>

        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
                <p>Una vez finalizada la estructura procederemos a implemementar el código restante hasta obtener la simulación de proceso. Luego mejoraremos los tiempos, utilizando Hilos. (En el ejemplo se muestra la salida sin hilos.)</p>
                <pre><code>
    // salida esperada
    run:
    -------------------------------------------------
    Procesador: Procesador 1
        Proceso: Proceso 1
        Tiempo inicio: 0segundos
    -------------------------------------------------
    ---------------------------------------------
    Tarea: 1
    Procesado tarea: 1 -> Tiempo: 2seg
    ---------------------------------------------
    Tarea: 2
    Procesado tarea: 2 -> Tiempo: 4seg
    El procesador: Procesador 1 terminó de procesar Proceso 1 en: 4segundos.
    -------------------------------------------------
    Procesador: Procesador 2
        Proceso: Proceso 2
        Tiempo inicio: 4segundos
    -------------------------------------------------
    ---------------------------------------------
    Tarea: 1
    Procesado tarea: 1 -> Tiempo: 6seg
    ---------------------------------------------
    Tarea: 2
    Procesado tarea: 2 -> Tiempo: 7seg
    El procesador: Procesador 2 terminó de procesar Proceso 2 en: 7segundos.
    BUILD SUCCESSFUL (total time: 7 seconds)
                </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Sin usar hilos:</h3>
            <pre><code>
package ejercicio_threads;

public class Ejercicio_threads {

    public static void main(String[] args) {
        int[] tarea_de_procesos_1 = { 2, 2 };
        int[] tarea_de_procesos_2 = { 2, 1 };

        Proceso proceso1 = new Proceso("Proceso 1", tarea_de_procesos_1);
        Proceso proceso2 = new Proceso("Proceso 2", tarea_de_procesos_2);

        Procesador procesador1 = new Procesador("Procesador 1");
        Procesador procesador2 = new Procesador("Procesador 2");

        // Hora del computador cuando comenzamos.
        long hora_actual = System.currentTimeMillis();

        procesador1.procesar(proceso1, hora_actual);

        // la hora actual ha cambiado.
        procesador2.procesar(proceso2, hora_actual);
    }
    
}


class Proceso {
    private String nombre;
    private int[] tareas;

    public Proceso(String nombre, int[] tareas) {
        this.nombre = nombre;
        this.tareas = tareas;
    }

    public String getNombre() {
        return nombre;
    }

    public void setNombre(String nombre) {
        this.nombre = nombre;
    }

    public int[] getTareas() {
        return tareas;
    }

    public void setTareas(int[] tareas) {
        this.tareas = tareas;
    }

}

class Procesador {
    private String nombre;

    public Procesador(String nombre) {
        this.nombre = nombre;
    }

    public String getNombre() {
        return nombre;
    }

    public void setNombre(String nombre) {
        this.nombre = nombre;
    }
    
    public void procesar(Proceso proceso, long timeStamp) {
        long total_segundos;
        
        System.out.println("-------------------------------------------------");
        System.out.println("Procesador: " + nombre);
        System.out.println("\tProceso: " + proceso.getNombre());
        System.out.println("\tTiempo inicio: " 
                + Alfred.tiempo(timeStamp) + " segundos");
        System.out.println("-------------------------------------------------");

        for (int i = 0; i < proceso.getTareas().length; i++) {
            // Simulando el tiempo de proceso
            Alfred.esperarXsegundos(proceso.getTareas()[i]); 
            System.out.println("---------------------------------------------");
            System.out.println("Tarea: " + (i + 1));

            System.out.println("Procesado tarea: " + (i + 1) +  " -> Tiempo: " 
                    + Alfred.tiempo(timeStamp) + " seg");
        }

        System.out.println("El procesador: " + nombre + " terminó de procesar " 
                + proceso.getNombre() + " en: " + Alfred.tiempo(timeStamp)
                + "segundos.");
    }
    
}

class Alfred {
    
    // retorna los segundos transcurridos desde que comienza el proceso.
    public static long tiempo(long timeStamp){
        return (System.currentTimeMillis() - timeStamp) / 1000;
    }
    
    // pone el hilo donde es ejecutado a esperar x segundos.
    public static void esperarXsegundos(int segundos) {
            try {
                    Thread.sleep(segundos * 1000);
            } catch (InterruptedException ex) {
                    Thread.currentThread().interrupt();
            }
    }
}
                
            </code></pre>
            
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Usando hilos.</h3>
            <pre><code>
package ejercicio_threads;


public class Ejercicio_threads extends Thread{
    private Proceso proceso;
    private Procesador procesador;
    private long hora_actual;

    public Ejercicio_threads(Proceso proceso, Procesador procesador, long hora_actual) {
        this.proceso = proceso;
        this.procesador = procesador;
        this.hora_actual = hora_actual;
    }

    public static void main(String[] args) {
        int[] tarea_de_procesos_1 = { 2, 2 };
        int[] tarea_de_procesos_2 = { 2, 1 };

        Proceso proceso1 = new Proceso("Proceso 1", tarea_de_procesos_1);
        Proceso proceso2 = new Proceso("Proceso 2", tarea_de_procesos_2);

        Procesador procesador1 = new Procesador("Procesador 1");
        Procesador procesador2 = new Procesador("Procesador 2");
        

        Thread tarea1 = new Ejercicio_threads(
            proceso1, 
            procesador1, 
            System.currentTimeMillis()
        );
        
        Thread tarea2 = new Ejercicio_threads(
            proceso2, 
            procesador2, 
            System.currentTimeMillis()
        );
        
        // ejecutando los los procesos.
        tarea1.start();
        tarea2.start();

    }

    @Override
    public void run() {
        procesador.procesar(proceso, hora_actual);
    }
    
}

class Proceso {
    private String nombre;
    private int[] tareas;

    public Proceso(String nombre, int[] tareas) {
        this.nombre = nombre;
        this.tareas = tareas;
    }

    public String getNombre() {
        return nombre;
    }

    public void setNombre(String nombre) {
        this.nombre = nombre;
    }

    public int[] getTareas() {
        return tareas;
    }

    public void setTareas(int[] tareas) {
        this.tareas = tareas;
    }

}

class Procesador {
    private String nombre;

    public Procesador(String nombre) {
        this.nombre = nombre;
    }

    public String getNombre() {
        return nombre;
    }

    public void setNombre(String nombre) {
        this.nombre = nombre;
    }
    
    public void procesar(Proceso proceso, long timeStamp) {
        long total_segundos;
        
        System.out.println("-------------------------------------------------");
        System.out.println("Procesador: " + nombre);
        System.out.println("\tProceso: " + proceso.getNombre());
        System.out.println("\tTiempo inicio: " 
                + Alfred.tiempo(timeStamp) + " segundos");
        System.out.println("-------------------------------------------------");

        for (int i = 0; i < proceso.getTareas().length; i++) {
            // Simulando el tiempo de proceso
            Alfred.esperarXsegundos(proceso.getTareas()[i]); 
            System.out.println("---------------------------------------------");
            System.out.println("Tarea: " + (i + 1));

            System.out.println("Procesado tarea: " + (i + 1) +  " -> Tiempo: " 
                    + Alfred.tiempo(timeStamp) + " seg");
        }

        System.out.println("El procesador: " + nombre + " terminó de procesar " 
                + proceso.getNombre() + " en: " + Alfred.tiempo(timeStamp)
                + " segundos.");
    }
    
}

class Alfred {
    
    // retorna los segundos transcurridos desde que comienza el proceso.
    public static long tiempo(long timeStamp){
        return (System.currentTimeMillis() - timeStamp) / 1000;
    }
    
    // pone el hilo donde es ejecutado a esperar x segundos.
    public static void esperarXsegundos(int segundos) {
            try {
                    Thread.sleep(segundos * 1000);
            } catch (InterruptedException ex) {
                    Thread.currentThread().interrupt();
            }
    }
}
                
            </code></pre>
        </div>
    </section>
</section>