
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Tipos enumerados en Java ♨️ </h3> 
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>java.lang.Enum</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3></h3>
            <p>Los tipos enumerados, Son clases que heredan de java.lang.Enum. Las constantes enum son en realidad instancias (es decir, objetos).</p>
            <p>Un enumerado (o Enum) es una clase especial, que limita la creación de objetos  a los especificados explícitamente en la implementación de la clase.</p>
            <p>La única limitación que tienen los enumerados respecto a una clase normal, es que si tiene constructor, este debe de ser privado para que no se puedan crear nuevos objetos.</p>
            <pre><code>
// Ejemplo.
public enum Color{ ROJO, VERDE, AZUL }
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Declarado como atributo</h3>
            <p>Los elementos(objetos) van con mayúsculas por convención.</p>
            <pre><code>
public class Principal {
    public enum Color{ ROJO, VERDE, AZUL }
    
    public static void main (String args[]){  
        System.out.println(Color.ROJO);
    }  
}
            </code></pre>
        </div>
    </section>
</section>

<!-- métodos -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>enum: métodos</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejemplo de los métodos</h3>
            <pre><code>
public class Principal {
    public enum Color{ ROJO, VERDE, AZUL }
    
    public static void main (String args[]){  
        Color color = Color.AZUL;
        Color color2 = Color.VERDE;
        Color color3 = Color.AZUL;
        
        System.out.println(color.name()); // "AZUL"
        System.out.println(color.ordinal()); // 2 
        System.out.println(color.toString()); // "AZUL"
        System.out.println(color.compareTo(color2)); // 1
        System.out.println(color.compareTo(color3)); // 0 Distancia.
        
        
        for(Color co: Color.values()){
            System.out.println(co.name());
        }
        //ROJO
        //VERDE
        //AZUL
        
    }  
}
            </code></pre>
        </div>
    </section>
</section>

<!-- métodos -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>enum: constructor privado</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Implementación</h3>
            <p>Podemos aumentar la funcionalidad implementando la clase.</p>
            <pre><code>
public class Principal {
    public enum Color{ ROJO, VERDE, AZUL }
    
    public static void main (String args[]){  
        Meses mes = Meses.ENERO;
        System.out.println(mes.name()+ " tiene " + mes.getDias() + " días");
    }  
}

enum Meses {
    ENERO(31), FEBRERO(28), MARZO(30);
    private int dias;

    private Meses(int dias) {
        this.dias = dias;
    }

    public int getDias() {
        return dias;
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Uso del swith</h3>
            <pre><code>
//Una enumeración de transporte
enum Transporte{
    COCHE, CAMION, AVION, TREN, BARCO;
}
class Enumerados {
    public static void main(String[] args) {
        Transporte tp;
        tp=Transporte.AVION;
        System.out.println("Valor de tp: "+tp);
        System.out.println();
        tp=Transporte.TREN;
        //Comparación de 2 valores enum
        if (tp==Transporte.TREN)
            System.out.println("tp tiene el valor de TREN\n");
        //enum para controlar sentencia switch
        switch(tp){
            case COCHE:
                System.out.println("Un auto lleva personas.");
                break;
            case CAMION:
                System.out.println("Un camión lleva carga.");
                break;
            case AVION:
                System.out.println("Un avión vuela.");
                break;
            case TREN:
                System.out.println("Un tren corre sobre rieles.");
                    break;
            case BARCO:
                System.out.println("Un barco navega en el agua.");
                break;
        }
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejercicio</h3>
            <p>Una tienda tiene descuentos dependiendo el día de la semana.</p>
            <p>lunes:10%, martes:5%, miércoles: 25%, jueves: 30%, viernes, sábado y domingo 15%</p>
            <p>Diseñe un programa utilizando enum para indicarle a un usuario que ingresa el monto y el día por consola, en cuanto queda el total, con el descuento aplicado.</p>
            <pre><code>
package ejercicioenum;

import java.util.Scanner;

public class EjercicioEnum {

    public static  void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        Descuento ds;
        
        System.out.println("Ingrese el día");
        String dia = sc.next();
        System.out.println("Ingrese el valor");
        double monto = sc.nextInt();
        ds = Descuento.NULO;
        switch(dia){
            case "lunes":
                ds = Descuento.LUNES;
                break;
            case "martes":
                ds = Descuento.MARTES;
                break;
            case "miercoles":
                ds = Descuento.MIERCOLES;
                break;
            case "jueves":
                ds = Descuento.JUEVES;
                break;
            case "viernes":
                ds = Descuento.VIERNES;
                break;
            case "sabado":
                ds = Descuento.SABADO;
                break;
            case "domingo":
                ds = Descuento.DOMINGO;
                break;
        }
        System.out.println("El total es: " 
                + ( monto - (monto * ds.getDescuento())));
    }
    
}

enum Descuento {
    NULO("", 0),
    LUNES("lunes", 0.1), 
    MARTES("martes", 0.05), 
    MIERCOLES("miercoles", 0.25),
    JUEVES("jueves", 0.3),
    VIERNES("viernes", 0.15),
    SABADO("sabado", 0.15),
    DOMINGO("domingo", 0.15);

    String nombre;
    double descuento;

    private Descuento(String nombre, double descuento) {
        this.nombre = nombre;
        this.descuento = descuento;
    }

    public String getNombre() {
        return nombre;
    }

    public double getDescuento() {
        return descuento;
    }
    
}
                
            </code></pre>
        </div>
    </section>
</section>