
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Programación orientada a objetos(POO) I ♨️ </h3>
</section>

<!-- definición -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>Creación de clases en Java ♨️ 🎭</h3>
        </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Definición</h5>
            <p>Clase: define un tipo de objeto concreto.</p>
            <p>Objeto: entidad que dispone de unas propiedades (atributos) y comportamiento (métodos).</p>
            <p>Por ejemplo, si quisiéramos escribir un programa en Java para gestionar los libros de una biblioteca,
                crearíamos la clase Libro, y luego un objeto de esta clase, por cada libro que tengamos en la
                biblioteca.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Una clase en Java está formada por:</h5>
            <p>Atributos: (o campos/propiedades) Almacenan algún tipo de información del objeto. Definen su estado.</p>
            <p>Constructor(es): Método que se utiliza para inicializar un objeto.</p>
            <p>Métodos: Son utilizados para modificar o consultar el estado de un objeto. Equivalentes a las funciones o
                procedimientos de otros lenguajes.</p>
            <p>En Java solo hay dos excepciones al uso de objetos, además de estos podemos utilizar variables primitivas
                como int, boolean, etc. y arrays como int[], boolean[], etc..</p>
        </div>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>Pasos para crear una clase en java 1</h5>
                <p>Para crear una nueva clase, lo primero que hay que hacer, es crear un fichero que ha de llamarse exactamente igual que la clase y con extensión .java. Recuerda, siempre un fichero por clase(no es obligatorio, pueden existir varias clases en un solo archivo, pero se recomienda 1 fichero -> 1 clase).</p>
                <p>Las clases son agrupadas en paquetes, por este motivo, al principio de este fichero se debe indicar el paquete al que pertenecerá esta clase. Por ejemplo: package ejemplos;</p>
                <p>Si necesitamos clases de otros paquetes podemos agregar luego los import. ej import java.util.Scanner;</p>
            </div>
        </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>Pasos para crear una clase en java 2</h5>
                <p>Para declarar una clase sigue el siguiente esquema:</p>
                <pre><code>
class &#60;clase&#62;  {
    //declaración de atributos
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;atributo&#62; [= valor];
    ...
    //declaración de constructor
    public &#60;clase&#62;(&#60;argumentos&#62;) {
        &#60;instrucciones&#62;;
    }
    //declaración de métodos
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;método&#62;(&#60;argumentos&#62;) {
        &#60;instrucciones&#62;;
    }
    ...
}
                </code></pre>
                <p>Donde:</p>
                <p>[visibilidad] = public, protected o private</p>
                <p>[modificadores] = final, static y abstract</p>
                <p>El significado de estas palabras, se explica con mayor profundidad más adelante.</p>
        </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Pasos para crear una clase en java 3</h5>
            <p>Una clase comienza por la palabra reservada class seguida del nombre de la clase. Por convenio los nombres con la inicial mayúsculas. Si queremos usar varias palabras, las concatenamos sin espacios con las iniciales en mayúscula. A continuación se definen los atributos, seguido del constructor/es y de la declaración de métodos.</p>
            <p>Un ejemplo de una clase se muestra a continuación:</p>
            <pre><code>
package ejemplos;

class Complejo {
    //declaración de atributos
    private double real, imaginario;
    //declaración de constructor
    public Complejo(double real, double imaginario) {
        this.real= real;
        this.imaginario= imaginario;
    }
    //declaración de métodos
    /** Transcribe el complejo a String.
    * @returnun string con la parte entera y la imaginaria
    */
    public String toString() { // se ejecuta por defecto en el sout
        return real + "+"+ imaginario + "i";
    }
    /** Suma al complejo de este objeto otro complejo.
    * @param v el complejo que sumamos
    */
    public void suma(Complejo v) {
        this.real = real + v.real;
        this.imaginario = imaginario + v.imaginario;
    }
}

public class Ejemplo {

    // Método principal
    public static void main(String[] args) {
        Complejo complejo = new Complejo(1, 2);
        Complejo complejo2 = new Complejo(3, 4);
        
        complejo.suma(complejo2);
        System.out.println(complejo);
        
    }

}
            </code></pre>
            </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Una clase necesita almacenar algún tipo de información que defina el objeto en cuestión. Esto se hará en los atributos o campos de la clase. En el ejemplo queremos representar un número complejo, y por lo tanto vamos a necesitar almacenar la parte real y la parte imaginaria del número.</p>
            <p>El siguiente paso suele ser declarar el constructor. Un constructor es un método que tiene el mismo nombre de la clase y que se utiliza para inicializar un objeto. Tiene una serie de parámetros separados por comas, en nuestro ejemplo, la parte real y la parte imaginaria del número complejo. El código de este método (las instrucciones entre {…} ) se limita a copiar estos valores en los atributos del objeto. Aunque aquí aparece un problema, los parámetros del método (real, imaginario) y los atributos de la clase (real, imaginario) se llaman igual. Para resolverlo podemos anteponer a los atributos la palabra reservada this. De esta forma indicamos que nos referimos a los atributos del objeto.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Para terminar declaramos los métodos de la clase. Los métodos son equivalentes a las funciones o procedimientos de otros lenguajes y son utilizados para modificar o consultar el estado de nuestro objeto.</p>
            <p>Los métodos suelen comenzar indicando su visibilidad (public,protected o private). El significado de cada una de estas palabras se explica más adelante. A continuación los métodos indican el tipo de datos que devuelven. En el ejemplo el primer método devuelve un String y el segundo void, o lo que es lo mismo nada. Luego sigue el nombre del método y los parámetros. Dentro del primer método se utiliza la palabra reservada return para indicar el valor devuelto por el método.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Ejercicio</h5>
            <p>Implementar la clase Cuadrado e Implementar los métodos: toString(), getArea(), getPerimetro(), setLado(), getLado()</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Ejercicio 2</h5>
            <p>Implementar las clases, Círculo, Triángulo, Rectángulo, con los mismos métodos del ejercicio anterior.</p>
        </div>
    </section>
</section>
<!-- definición -->

<!-- definición -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
        <section>
            <h3>El encapsulamiento y la visibilidad en Java ♨️ </h3>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Encapsulamiento y visibilidad</h3>
                <p>Para un diseño adecuado del software resulta imprescindible un correcto encapsulamiento del código. El mayor problema reside en que <span class="destaca-me">el software tiende a cambiar con mucha facilidad</span>, (siempre encontramos mejores formas de resolver un problema) y resulta imprescindible que estos cambios afecten lo menos posible a otras partes de código. Pasemos a definir algunos términos de forma más precisa.</p>
                <p>Cuando diseñamos un software hay dos aspectos que resultan fundamentales:</p>
                <p><span class="destaca-me">Interface: </span>Cómo este software puede ser utilizado.</p>
                <p><span class="destaca-me">Implementación: </span>El código utilizado para resolver los distintos algoritmos.</p>
                <p>El concepto de interfaz se define en Java como los elementos de una clase que son visibles desde fuera de esta <span class="destaca-me">(con visibilidad public)</span>. La implementación se define creando unos determinados atributos y escribiendo el código de los diferentes métodos.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3></h3>
                <p>El <span class="destaca-me">encapsulamiento</span> consiste en ocultar la implementación y los atributos de un objeto, de manera que sólo se puede cambiar su estado mediante ciertas operaciones definidas en el interface del objeto. Dicho de otra forma, <span class="destaca-me"> procurar que el interface sea lo más independiente posible de la implementación</span>.</p>
                <p>En Java el encapsulamiento está estrechamente relacionado con la visibilidad. Para indicar la visibilidad de un elemento (tanto atributos como métodos) podemos anteceder una de las siguientes palabras reservadas:</p>
                <p><span class="destaca-me">public:</span> accesibles desde cualquier clase.</p>
                <p><span class="destaca-me">private:</span> sólo son accesibles por la clase actual.</p>
                <p><span class="destaca-me">protected:</span> sólo por la clase actual, sus descendientes y clases de nuestro paquete.</p>
                <p>[[si no indicamos nada]] sólo son accesibles por clases de nuestro paquete.</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Acceso a los atributos de la clase</h3>
                <p><span class="destaca-me">Los atributos de una clase están estrechamente relacionados con su implementación. Por esta razón conviene marcarlos como private e impedir su acceso desde fuera.</span> De esta forma en un futuro podremos cambiar la representación interna del objeto sin alterar su interface.</p>
                <p>Aunque en la teoría esta afirmación parece lógica, en la práctica resulta difícil de seguir. Pensemos en la clase de los números complejos, al haber puesto private en los atributos no vamos a permitir que acceder la parte entera e imaginaria del objeto:</p>
                <pre><code>
class Complejo {
    private double real;
    private double imaginario;
    …
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Acceso a los atributos de la clase</h3>
                <p>Resulta imposible consultar o modificar esta información desde fuera de la clase. Para solucionar este problema vamos a utilizar los métodos <span class="destaca-me">getters y setters (obtención y establecimiento)</span>. Estos métodos son utilizados <span class="destaca-me">para consultar el valor de un atributo (getter)</span> o <span class="destaca-me">para modificarlo (setter)</span>. Resulta imprescindible indicar que tienen una visibilidad public para que puedan ser invocados desde fuera de la clase. Por ejemplo, para el atributo real escribiríamos los métodos:</p>
                <pre><code>
public double getReal() {
    return real;
}
public void setReal(double real) {
    this.real = real;
} 
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h6>Esta forma de trabajar puede parecer algo engorrosa, pero tiene sus ventajas:</h6>
                <p>Podemos cambiar la representación interna de la clase sin alterar el interface. Por ejemplo verificar si los valores de llegada a un getter, son los correctos:</p>
                <pre><code>
public void getCociente(double divisor) {
if (divisor == 0) {
    // Realizamos las acciones ante el valor de llegada.
}
else return this.divedendo / divisor;
}
                </code></pre>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-22">
                <h3>Ejercicio propuesto 😎 ☕️</h3>
                <p>Crear la clase Pelicula, esta clase tendrá los atributos: titulo, director, genero y duracion.</p>
                <p>La clase debe estar correctamente encapsulada y se deben implementar sus getters y sus setters.</p>
                <p>Una vez hecho esto, en la clase principal se deben crear 5 películas, las que serán mostradas por consola, para mostrarlas, se debe sobre-escribir el método toString(), en donde el detalle será: Pelicula{titulo, director, genero y duración}</p>
            </div>
        </section>
</section>