
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Resumen del módulo ♨️ </h3> 
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Variables</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Constantes - final</h3>
            <pre><code>
// declaración
final [[tipo]] [[CONSTANTE]] = [[valor]];

// donde [[valor]] se escribe: 
// byte:(byte)64, 
// short:(short)64, 
// int: 64, 
// long: 64L,
// float: 64.0f, 
// double: 64.0, 
// char: ‘@’ ó ‘\u0040’, 
// boolean: true / false
// objetos: null, 
// String: “64”, 
// 
// Ejemplo: 

final int MAX_ELEM = 20;
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Tipos simple o primitivos</h3>
            <pre><code>
[[tipo_simple]] [[variable]] [ = [[valor]] ];
// Ejemplo:
int i = 0;

TIPO        TAMAÑO      RANGO                                               ENVOLVENTE

byte        8 bits      [-128 - 127]                                        Byte
short       16 bits     [-32.768 - 32.767]                                  Short
int         32 bits     [-2.147.483.648 - 2.147.483.647]                    Integer
long        64 bits     [-9.223.372·1012 - 9.223.372.036.854.775.807]       Long
float       32 bits     [-3.4·1038 - 3.4·1038 (mínimo 1.4·10–45)]           Float
double      64 bits     [-1.8·10308 - 1.8·10308(mínimo 4.9·10-324)]         Double
boolean     1 bits      [false - true]                                      Boolean
char        16 bits     [Unicode 0 - Unicode 216-1]                         Character
void        0 bits      []                                                  Void
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Tipos compuestos new</h3>
            <p>Pueden ser: arrays, clases creadas o consumidas de librerías. Son referencias (punteros)</p>
            <pre><code>
[[tipo_compuesto]] [[variable]] = new [[tipo_compuesto]]([[param]]);

// Ejemplo:
Persona referencia = new Persona("Luis Herrera");
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Arrays</h3>
            <p></p>
            <pre><code>
// declaración.
{{tipo}}{{array}}[]..[] = new {{tipo}}[{{num}}]..[{{num}}];

// El primer elemento es el 0, al crearlos (new) hay que saber su tamaño

// Ejemplos
float v[] = new float[10];              //Una dimensión y 10 elementos
float M[][]= new float[3][4];           //Dos dimensiones
String s[] = {"hola", "adiós"};         // elementos inicializados

// Llenamos el arreglo con ceros.
for (int i = 0; i &#60; M.length; i++){
    for (int j = 0; j &#60; M[i].length; j++){
        M[i][j] = 0;
    }
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Cadena caracteres String</h3>
            <pre><code>
// declaración.
String {{nombre_variable}} [= "{{cadena de caracteres}}"];
Ejemplo: String s = "Hola"; ó String s = new String("Hola");

Métodos de la clase String:
.equals(String s2)              // compara dos Strings
.clone()                        // crea una copia de un String
.charAt(int pos)                // retorna el carácter en una posición
.concat(String s2)              // concatena con otro Strings
.indexOf(char c, int pos)       // devuelve posición de un carácter
.length()                       // devuelve la longitud del String
.replace(char c1, char c2)      // reemplaza un carácter por otro
.substring(int pos1, int pos2)  // extrae una porción del string
.toLowerCase()                  // convierte el String a minúsculas
.toUpperCase()                  // convierte el String a mayúsculas
.valueOf(int/float/... numero)  // convierte un número a String
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Colecciones</h3>
            <p>El API de Java nos proporciona colecciones donde guardar series de datos de
                cualquier clase. Dichas colecciones no forman parte del lenguaje, sino que son
                clases definidas en el paquete java.util.</p>
            <pre><code>
// definición.
{{ Tipo_colecc }} &#60;{{ Clase }}&#62; {{ colección }} = new {{ Tipo_colecc }} &#60;{{ Clase }}&#62;();

// Hay tres tipos, cada uno con un interfaz común y diferentes implementaciones:

Listas – interfaz: List&#60;E&#62; Estructura secuencial, donde cada elemento tiene un índice o posición: ArrayList&#60;E&#62; (acceso rápido), 
    LinkedList&#60;E&#62; (inserción/borrado rápido), Stack&#60;E&#62; (pila), Vector&#60;E&#62; (obsoleto).

Conjunto – interfaz: Set&#60;E&#62; Los elementos no tienen un orden y no se permiten duplicados: HashSet&#60;E&#62; (la implementación usa tabla hash),
    LinkedHashSet&#60;E&#62; (+ doble lista enlazada), TreeSet&#60;E&#62; (usa árbol).

Diccionario o Matriz asociativa – interfaz: Map&#60;K,V&#62; Cada elemento tiene asociada una clave que usaremos para recuperarlo
    (en lugar del índice de un vector): HashMap&#60;K,V&#62;, TreeMap&#60;K,V&#62;, LinkedHashMap&#60;K,V&#62;

Las interfaces Iterator y ListIterator facilitan recorrer colecciones.

La clase estática Collections nos ofrece herramientas para ordenar y buscar en colecciones..
    ArrayList&#60;Complejo&#62; lista = new ArrayList&#60;Complejo&#62;();
    lista.add( new Complejo(1.0, 5.0) );
    lista.add( new Complejo(2.0, 4.2) );
    lista.add( new Complejo(3.0, 0.0) );

for (Complejo c: lista) {
    System.out.println( c.getNombre() );
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Enumerados Enum (Java 5)</h3>
            <p>Clase especial, que provee una forma de trabajo de objetos pre-definida</p>
            <pre><code>
// definición.
enum [[nombre_enumeracion]] { [[CONSTANTE]], ..., [[ CONSTANTE]] } 

// Ejemplo:
    enum estacion { PRIMAVERA, VERANO, OTOÑO, INVIERNO };

    estacion a = estacion.VERANO;
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ámbito, contexto, scope.</h3>
            <p>Indica la vida de una variable, se determina por la ubicación de llaves <span class="destaca-e">{ }</span> donde se ha definido.</p>
            <pre><code>
{
    int a = 10; // sólo a disponible
    {       
        int b = 20; // a y b disponibles
    }
    // sólo a disponible
}
            </code></pre>
        </div>
    </section>
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Expresiones y sentencias</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Comentarios</h3>
            <pre><code>
// Comentario de una línea

/* Comentario de
varias líneas */
/** Comentario javadoc: para crear automáticamente la
documentación de tu clase */
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Operadores</h3>
            <pre><code>
asignación      : =
aritméticos     : ++, --, +, -, *, /, %
comparación     : ==, ¡=, &#60;, &#60;=, &#62;, &#62;=, !, &&, ||, ?:
manejo bits     : &, |, ^, ~, &#60;, &#62;&#62;, &#62;&#62;&#62;
conversión      : (&#60;tipo&#62;)
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Conversión de tipos</h3>
            <pre><code>
// Entre tipos compatibles se puede hacer asignación directa o utilizar un typecast (Casteo).
byte b = 3;
int i = b; float f = i; //int a byte y float a int
b =(byte)i; // hay que hacer un typecast(Casteo)
String s = Integer.toString(i);
b = Byte.parseByte(s);
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Estructura condicional if - else</h3>
            <pre><code>
if (&#60; proposición &#62;) {
    // instrucciones
} else {
    // instrucciones
}
// Ejemplo
if (b != 0) {
System.out.println("x = " + a / b);
} else {
    System.out.println("Error");
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Estructura condicional switch - case default</h3>
            <pre><code>
switch (&#60;expresión&#6;) {
    case &#60;valor&#6;:
        &#60;instrucciones&#6;;
        break;
    case &#60;valor&#6;:
        &#60;instrucciones&#6;;
        break;
    ...

    [default: &#60;instrucciones&#6;;]
}
// Ejemplo
switch (opcion) {
    case 1:
        x = x * Math.sqrt(y);
        break;
    case 2:
        x = x / Math.log(y);
        break;
    default:
    System.out.println("Error");
}
            </code></pre>
        </div>
    </section>
<section>
    <div class="font-justify font-size-22">
        <h3>Estructuras iterativas</h3>
        <p></p>
        <pre><code>
// while
while (&#60;condición&#62;) {
    // instrucciones;
}
                        
i = 0;
while (i &#60; 10) {
    v[i]=0;
    i++;
}

// For
for (&#60;inicialización&#62;; &#60;comparación&#62;; &#60;incremento&#62;) {
    &#60;instrucciones&#62;;
}

// foreach (Java 5)
for (&#60;tipo&#62; &#60;variable&#62;:&#60;colección&#62;) {
    &#60;instrucciones&#62;;
} 

// Ejemplos:
for (i = 0; i &#60; 10; i++) {
    v[i] = 0;
}

for (Complejo c: lista) {
    c.toString();
}

// do while
do {
    &#60;instrucciones&#62;;    
} while (&#60;condición&#62;)

// Ejemplo:
i = 0;
do {
    v[i] = 0;
    i++;
} while (i &#60; 10)
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Sentencias de salto</h3>
        <pre><code>
break;                  : fuerza la terminación inmediata de un bucle ó de un switch.
continue;               : fuerza una nueva iteración del bucle o salta a una etiqueta.
return [&#60;valor&#60;];       : sale de la función, puede devolver un valor.
exit([int código]);     : sale del programa, puede devolver un código.
        </code></pre>
    </div>
</section>


</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Clases y objetos</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>class</h3>
            <p>Cada clase ha de estar en un fichero separado con el mismo nombre de la clase y con extensión .class. Por convenio los identificadores de clase se escriben en mayúscula.</p>
            <pre><code>
class &#60;Clase&#62; [extends &#60;Clase_padre&#62;][implement &#60;interfaces&#62;] {
    //declaración de atributos
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;atributo&#62; [= valor];
    ...
    //declaración de constructor
    public &#60;Clasee&#62;(&#60;argumentos&#62;) {
        &#60;instrucciones&#62;;
    }
    //declaración de métodos
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;método&#62;(&#60;argumentos&#62;) {
        &#60;instrucciones&#62;;
    }
    ...
}

donde: [visibilidad] = public, protected o private
[modificadores] = final, static y abstract

class Complejo {
    private double re, im;
    public Complejo(double re, double im) {
        this.re = re; this.im = im;
    }
    public String toString() {
        return(new String(re + "+" + im + "i"));
    }
    public void suma(Complejo v) {
        re = re + v.re;
        im = im + v.im;
    }
}

Uso de objetos:
Complejo z, w;
z = new Complejo(-1.5, 3.0);
w = new Complejo(-1.2, 2.4);
z.suma(w);
System.out.println("Complejo: " + z.toString());
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Sobrecarga</h3>
            <p>Podemos escribir dos métodos con el mismo nombre si cambian sus parámetros.</p>
            <pre><code>
public &#60;tipo> &#60;método>(&#60;parámetros>) {
    &#60;instrucciones>;
}
public &#60;tipo> &#60;método>(&#60;otros parámetros>) {
    &#60;otras instrucciones>;
}

ejemplo:
public Complejo sumar(Complejo c) {
    return new Complejo(re + c.re, im + c.im);
}
public Complejo sumar(double r, double i) {
    return new Complejo(re + r, im + i);
}
            </code></pre>
        </div>
    </section>
<section>
    <div class="font-justify font-size-22">
        <h3>Herencia</h3>
        <p></p>
        <pre><code>
class &#60;Clase_hija&#62; extends &#60;Clase_padre&#62; {
    ...
}

// La clase hija va a heredar los atributos y métodos de la clase padre. Un objeto
// de la clase hija también lo es de la clase padre y de todos sus antecesores.
// La clase hija puede volver a definir los métodos de la clase padre, en tal caso es
// recomendable (no obligatorio) indicarlo con <span class="destaca-me">@Override;</span> de esta forma evitamos
// errores habituales cuando cambiamos algún carácter o parámetro. Si un método
// ha sido sobrescrito podemos acceder al de la clase padre con el siguiente prefijo
super.&#60;método&#62;(&#60;parámetros&#62;).
        </code></pre>
    </div>
</section>
<section>
    <div class="font-justify font-size-22">
        <h3>Constructor</h3>
        <p></p>
        <pre><code>
// Método que se ejecuta automáticamente cuando se instancia un objeto de una
// clase. Ha de tener el mismo nombre que la clase. Cuando se crea un objeto
// todos sus atributos se inicializan en memoria a cero y las referencias serán null.
// Una clase puede tener más de un constructor (véase sobrecarga). Un
// constructor suele comenzar llamando al constructor de la clase padre, para lo
// cual escribiremos como primera línea de código: super(&#60;parámetros&#60;);
// Una clase puede tener más de un constructor (ver sobrecarga).
// Un constructor suele comenzar llamando al constructor de la clase padre, para
// ello escribiremos como primera línea de código: super(&#60;parámetros&#60;);

class ComplejoAmpliado extends Complejo {
    private Boolean esReal;
    public ComplejoAmpliado(double re, double im) {
        super(re, im);
        esReal = im ==0;
    }
    public ComplejoAmpliado(double re) {
        super(re, 0);
        esReal = true;
    }
    @Override
    public Complejo sumar(double re, double im) {
        esReal = im == -this.im;
        return super.sumar(re,im);
    }
    public boolean esReal(){
        return esReal;
    }
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Visibilidad</h3>
        <pre><code>
// La visibilidad indica quien puede acceder a un atributo o métodos. Se define
// antecediendo una de las palabras. (por defecto public)
public: accesibles por cualquier clase.

private: sólo son accesibles por la clase actual.

protected: sólo por la clase que los ha declarado y por sus descendientes.

&#60;si no indicamos nada&#60; sólo son accesibles por clases de nuestro paquete.
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Modificadores</h3>
        <pre><code>
final:  Se utiliza para declarar una constante (delante de un atributo), un
        método que no se podrá re-definir (delante de un método), o una clase de la que
        ya no se podrá heredar (delante de una clase).

abstract:   Denota un método del cual no se escribirá código. Las clases con
            métodos abstractos no se pueden instanciar. Las clases descendientes deberán escribir el código de sus métodos abstractos.

static:     Se aplica a los atributos y métodos de una clase que pueden utilizarse
            sin crear un objeto que instancie dicha clase. El valor de un atributo estático,
            además, es compartido por todos los objetos de dicha clase.
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Comparación y asignación de objetos</h3>
        <p></p>
        <pre><code>
// Podemos comparar valores de variables con el operador ==, y asignar un valor a
// una variable con el operador =.
// En cambio, el nombre de un objeto de una clase no contiene los valores de los
// atributos, sino la posición de memoria donde residen dichos valores de los
// atributos (referencia indirecta). Utilizaremos el operador == para saber si dos
// objetos ocupan la misma posición de memoria (son el mismo objeto), mientras
// que utilizaremos el método equals(&#60;Obeto&#60;) para saber si sus atributos tienen
// los mismos valores. Utilizaremos el operador = para asignar a un objeto otro
// objeto que ya existe (serán el mismo objeto) y clone() para crear una copia
// idéntica en un nuevo objeto.
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Polimorfismo</h3>
        <pre><code>
// Se trata de declarar un objeto de una clase, pero instanciarlo como un descendiente de dicha clase (lo contrario no es posible):

&#60;Clase_padre&#62; &#60;objeto&#62; = new &#60;Clase_hija&#62;(&#60;parámetros&#62;);

// Podemos preguntar al sistema si un objeto es de una determinada clase con:
&#60;objeto&#62; instanceof &#60;Clase&#62;

// Podemos hacer un tipecast a un objeto para considerarlo de otra clase:
(&#60;Clase&#62;) &#60;objeto&#62;

Ejemplo:

Complejo c = new ComplejoAmpliado(12.4);

if (c instanceof Complejo)... //true
if (c instanceof ComplejoAmpliado)... //true
if (((ComplejoAmpliado)c).esReal())...

    </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Recolector de basura</h3>
        <p></p>
        <pre><code>
Cuando termina el ámbito de un objeto y no existen más referencias a él, el sistema lo elimina automáticamente.

{
    Complejo a; // sólo a disponible, pero no inicializado
    {
        Complejo b = new Complejo(1.5,1.0); // Se crea un objeto
        a = b; // Dos referencias a un mismo objeto
    }
// sólo a disponible
} // el objeto es destruido liberando su memoria

Para eliminar un objeto el sistema llama a su método finalize(). Podemos rescribir
este método en nuestras clases:
@Override
protected void finalize() throws Throwable {
    try {
        close(); // cerramos fichero
    } finally {
        super.finalize();
    }
}
        </code></pre>
    </div>
</section>
<section>
    <div class="font-justify font-size-22">
        <h3>métodos con parámetros variables en número</h3>
        <pre><code>
[visibilidad] [modificadores] &#60;tipo&#62; &#60;método&#62;(&#60;Clase&#62;... args) {
    &#60;instrucciones&#62;;
}
Ejemplo:
public void sumar(Complejo... args) {
    for (int i = 0; i &#60; args.length; i++) {
        re = re + args[i].re;
        im = im + args[i].im;
    }
}
        </code></pre>
    </div>
</section>
<section>
    <div class="font-justify font-size-22">
        <h3>Interfaces</h3>
        <pre><code>
Clase completamente abstracta. No tiene atributos y ninguno de sus métodos
tiene código. (En Java no existe la herencia múltiple, pero una clase puede
implementar una o más interfaces, adquiriendo sus tipos).

interface &#60;interface&#62; [extends &#60;interface_padre&#62;] {
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;metodo1&#62;(&#60;argumentos&#62;);
    [visibilidad] [modificadores] &#60;tipo&#62; &#60;metodo2&#62;(&#60;argumentos&#62;);
    ...
}
class &#60;Nombre_clase&#62; extends &#60;clase_padre&#62; implements
    &#60;interface1&#62;, &#60;interface2&#62;, ... {
    ...
}
        </code></pre>
    </div>
</section>

</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Otros</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Paquetes</h3>
            <p></p>
            <pre><code>
Los paquetes son una forma de organizar grupos de clases. Resuelven el
problema del conflicto entre los nombres de las clases. 
Por ejemplo, la clase Font se ha creado en cientos de paquetes Java. Para referirnos a una de ellas
es obligatorio indicar el paquete al que pertenece. Por ejemplo, java.awt.Font.
Al inicio del fichero de una clase se debe indicar su paquete:
package carpeta.subcarpeta....;

Para usar una clase de otro paquete se indica su paquete:
java.awt.Font fuente = new java.awt.Font(...);
Para abreviar, tambien podemos importar la clase de un paquete:

import java.awt.Font;

y utilizar solo el nombre de la clase:
Font fuente=new Font(...);

Para importar todas las clases de un paquete:
import java.awt.*;
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Excepciones</h3>
            <pre><code>
try {
    código donde se pueden producir excepciones
}
catch (TipoExcepcion1 NombreExcepcion) {
código a ejecutar si se produce una excepción TipoExcepcion1
}

catch (TipoExcepcion2 NombreExcepcion) {
    código a ejecutar si se produce una excepción TipoExcepcion2
}
...
finally {
    código a ejecutar tanto si se produce una excepción como si no
}

Ejemplo:
String salario;
BufferedReader fichero1;
BufferedWriter fichero2;
try {
    fichero1 = new BufferedReader(newFileReader("c:\\salarios.txt"));
    fichero2 = new BufferedWriter(new
    FileWriter("c:\\salarios.new"));
    while ((salario = fichero1.readLine()) != null) {
        salario = (new Integer(Integer.parseInt(salario)*10)
        .toString());
        fichero2.write(salario+"\n");
    }
}
catch (IOException e) {
    System.err.println(e);
}
catch (NumberFormatException e) {
    System.err.println("No es un número");
}
finally {
    fichero1.close(); fichero2.close();
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Hilos</h3>
            <pre><code>
Creación de un nuevo hilo que llama una vez al método hazTrabajo():
class MiHilo extends Thread {

    @Override 
    public void run() {
        hazTrabajo();
    }
}

Para ejecutarlo:
MiHilo hilo = new MiHilo ();
hilo.start();

Creación de un nuevo hilo que llama continuamente al método hazTrabajo() y que puede ser pausado y detenido:
class MiHilo extends Thread {
    private boolean pausa,corriendo;
    public synchronized void pausar() {
        pausa = true;
    }
    public synchronized void reanudar() {
        pausa = false;
        notify();
    }
    public void detener() {
        corriendo = false;
        if (pausa) reanudar();
    }
    @Override 
    public void run() {
        corriendo = true;
        while (corriendo) {
            hazTrabajo();
            synchronized (this) {
                while (pausa) {
                    try {
                        wait();
                    } catch (Exception e) {}
                }
            }
        }
    }
}

// Secciones críticas
Cada vez que un hilo de ejecución va a entrar en un método o bloque de instrucciones marcado con synchronized se comprueba si ya hay otro hilo dentro de la sección crítica de este objeto (formada por todos los bloques de instrucciones marcados con synchronized.). 

Si ya hay otro hilo dentro, entonces el hilo actual es suspendido y ha de esperar hasta que la sección crítica quede libere. Para que un método pertenezca a la sección critica de objeto escribe:
public synchronized void metodo() {...}

o, para que un bloque de pertenezca a la sección critica de objeto escribe:

synchronized (this) {...}

Recuerda: La sección crítica se define a nivel de objeto no de clase. Solo se define una sección crítica por objeto.
Para conseguir una sección critica por clase escribe:

public static synchronized void metodo() {...}

o synchronized (MiClase.class) {...}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Genericidad</h3>
            <p>Permite independizar el código del tipo de datos sobre el que se aplica.</p>
            <pre><code>
Public class Caja&#60;T&#60; {
    private T dato;
    public void poner(T d) {dato = d;}
    public T sacar() {return dato;}
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Inicio del Programa</h3>
            <p></p>
            <pre><code>
class &#60;Clase&#62; {
    public static void main(String[] main) {
        &#60;instrucciones&#62;;
    }
}
            </code></pre>
        </div>
    </section>
</section>



