
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Arreglos en java 0️⃣ - 1️⃣  - 2️⃣  - ...</h3>
</section>
<!-- definición -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <div class="font-justify font-size-22">
        <h5>Definición</h5>
        <p>Un array (arreglo) en Java, es una <span class="destaca-me"> estructura de datos que nos permite almacenar un conjunto de datos de un mismo tipo.</span></p>
        <p>El tamaño de los arrays se declara en un primer momento y no puede cambiar.</p>
        
    </div>
</section>
<!-- definición -->
<!-- ARRAYS UNIDIMENSIONALES -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
        <div class="font-justify font-size-22">
            <h5>Arreglos unidimensionales(una dimensión)</h5>
            <p>Cuando creamos un array de nombre “a” y de tamaño “n” (int[] a = new int[n]) estamos creando n variables que son a[0], a[1], a[2], ..., a[n-1].</p>
            <p>Los arrays se numeran desde el elemento cero, que sería el primer elemento, hasta el n-1 que sería el último elemento.</p>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Primera forma: Declaración</h5>
            <p>Pueden ser de cualquier tipo. (Primitivos y no primitivos)</p>
            <pre>Tipo_de_variable[] Nombre_del_array = new  Tipo_de_variable[tamaño];</pre>
            <pre><code>
byte[] bytes = new byte[3];
short[] shorts = new short[3];
int[] ints = new int[3];
long[] longs = new long[3];
float[] floats = new float[3];
double[] doubles = new double[3];
char[] chars = new char[3];
boolean[] boleanos = new boolean[3];
String[] args = new String[3];
Integer[] integers = new Integer[3];
DecimalFormat[] decimalFormats = new DecimalFormat[3];
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Primera forma: Asignación de valores</h5>

            <pre><code>
boolean[] boleanos = new boolean[3]; // declaración de array de tamaño 3 y tipo boolean.

boleanos[0] = true;
boleanos[1] = false;
boleanos[2] = true;
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Primera forma: Declaración y Asignación de valores</h5>

            <pre><code>
boolean[] boleanos = new boolean[] {true, false, true};
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Segunda forma: Declaración</h5>
            <p>Pueden ser de cualquier tipo. (Primitivos y no primitivos)</p>
            <pre>Tipo_de_variable[] Nombre_del_array;</pre>
            <pre><code>
    byte[] bytes;
    short[] shorts;
    int[] ints;
    long[] longs;
    float[] floats;
    double[] doubles;
    char[] chars;
    boolean[] boleanos;
    String[] args;
    Integer[] integers;
    DecimalFormat[] decimalFormats;
                    </code></pre>
        </div>
    </section>

<section>
    <div class="font-justify font-size-22">
        <h5>Segunda forma: Asignación de valores</h5>
        <p>Es igual a la primera forma, pero se agrega para ejemplificarlo de todas formas.</p>

        <pre><code>
boolean[] boleanos; // declaración.
boleanos = new boolean[3]; // asignación del tamaño.

boleanos[0] = true;
boleanos[1] = false;
boleanos[2] = true;
        </code></pre>
    </div>
</section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Primera forma: Declaración y Asignación de valores</h5>

            <pre><code>
boolean[] boleanos = {true, false, true};
                </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejemplo: Crear un programa en Java, que contenga un arreglo con tres marcas de autos y luego imprimir sus valores por consola.</h5>

            <iframe src="https://pastebin.com/embed_iframe/XpsrJ21g" style="border:none;width:100%; height: 12em;"></iframe>

        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Ejercicio: Escribir un programa en Java, que contenga un arreglo con 2 números e imprimir su suma.</h5>
        </div>
    </section>

<section>
    <div class="font-justify font-size-22">
        <h5>Variable Arguments 🤔</h5>

        <p>Desde la 5ta versión del JDK, existe la posibilidad de implementar métodos con parámetros variables
            utilizando el `Variable Arguments`, es decir, al momento de llamar a este método entregando una cantidad
            variable de argumentos</p>
        <p>Existía la posibilidad de hacerlo con un arreglo, por ejemplo:</p>
        <pre><code>
public static void main(String[] args ) {
    //Todo el código acá
}
            </code></pre>
        <p>Pero a partir de JDK 5, se puede hacer de la siguiente forma:</p>
        <pre><code>
public static void main(String ...args ) {
    //Todo el código acá
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h5>Recorrer un arreglo</h5>
        <p>Existen mejores formas de acceder a cada elemento del arreglo utilizando el ciclo for</p>
        <pre><code>
String[] autos = {"tesla", "Lexus", "Volvo"};

// Método 1: Recorrer usando for y conociendo el largo del arreglo
System.out.println("Método 1:");
for(int i = 0; i < 3; i++){
    System.out.println(autos[i]);
}

// Método 2 : Recorrer usando for y desconociendo el largo del arreglo.
System.out.println("\nMétodo 2:");
for(int i = 0; i < autos.length; i++){
    System.out.println(autos[i]);
}

// Método 3 (El mejor): Recorrer usando for y desconociendo el largo
// del arreglo. (Foreach)
System.out.println("\nMétodo 3:");
for (String auto : autos) {
    System.out.println(auto);
}
        </code></pre>
    </div>
</section>




</section>
<!-- ARRAYS UNIDIMENSIONALES -->

<!-- ARRAYS MULTI-DIMENSIONALES -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
            <div class="font-justify font-size-22">
        <h5>ARRAYS MULTI-DIMENSIONALES</h5>
        <p>En Java es posible crear arreglos con más de una dimensión, pasando de la idea de lista, vector o matriz de una sola fila a la idea de matriz de m x n elementos, estructuras tridimensionales, tetra-dimensionales, etc. La sintaxis será:</p>
        <pre>

Tipo_de_variable[][]… [] Nombre_del_array = new Tipo_de_variable[dimensión1][dimensión2]…[dimensiónN];

int[][]  matriz = new int[3][2];
O alternativamente
int[][]  matriz;
matriz = new int[3][2];
O directo:
int[][] matriz = {{1,2},{3,4},{5,6}}; //Tres columnas y dos filas.
        </pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>ARRAYS MULTI-DIMENSIONALES</h5>
            <pre><code>
// Declaraciones.
byte[][] edad = new byte[4][3];
short ][] edad = new short[4][3];
int[][] edad = new int[4][3];
long[][] edad = new long[4][3];
float[][] estatura = new float[3][2];
double[][] estatura = new double[3][2];
boolean[][] estado = new boolean[5][4];
char[][] sexo = new char[2][1];
String[][] nombre = new String[2][1];

// Asignar valores:
matriz[0][0] = 1; matriz[0][1] = 2; matriz[1][0] = 3; matriz[1][1] = 4; matriz[2][0] = 5; matriz[2][1] = 6;

// Directamente:
int[][] matriz = {{1,2},{3,4},{5,6}}; //Tres columnas y dos filas.

// Recorrer un arreglo multi-dimensional
int[][] matriz = {{1,2},{3,4},{5,6}}; // tres columnas, dos filas [3][2]
        
// Método 1: Conociendo exactamente el número de filas y columnas.
System.out.println("Método 1");
for(int i = 0; i < 3; i++){
    for(int j = 0; j < 2; j ++){
        System.out.println(matriz[i][j]);
    }
}
// Método 2: Desconociendo el número de filas y columnas.
System.out.println("\nMétodo 2");
for(int i = 0; i < matriz.length; i++){
    for(int j = 0; j < matriz[i].length; j ++){
        System.out.println(matriz[i][j]);
    }
}

// Método 3: Usando un foreach
System.out.println("\nMétodo 3");
for (int[] matriz1 : matriz) { // Elimina una dimensión
    for(int matriz11: matriz1){ // Sólo 
        System.out.println(matriz11);
    }
}

            </code></pre>
        </div>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>Ejercicio:Utilizando un arreglo multi-dimensional,  escribir un programa en Java, que imprima la siguiente información de una matriz.</h5>
                <pre><code>
        Java    Javascript  Bases de datos
        Hugo    Pedro       Victor
        Paco    Ana         Elena
        María   Juan        María
        
        </code></pre>
        <iframe src="https://pastebin.com/embed_iframe/C0uS8Xxj" style="border:none;width:100%; height: 12em;"></iframe>
            </div>
        </section>
</section>


<!-- ARRAYS MULTI-DIMENSIONALES -->

<!-- arraylist -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
            <h5>ArrayList en Java ♨️ </h5>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5><a href="https://docs.oracle.com/javase/7/docs/api/java/util/ArrayList.html">Definición</a></h5>
            <p>Un arrayList es una clase incluida en el paquete java.util, es una estructura de almacenamiento dinámico, a diferencia de array, esta estructura <span class="destaca-me"> puede variar el tamaño de su largo. </span></p>
            <p>Un ArrayList en java, no almacena valores contiguos en la memoria principal como lo hace un array[], en vez de eso, guarda las referencias de los objetos que la componen</p>
            <p>Si anteriormente vimos que los arreglos[] están compuestos por elementos que podían ser, primitivos o no primitivos, para el caso de los ArrayList, estos solo se componen de Objetos</p>
            <p>Cuando un objeto es creado, se le asigna una cantidad de memoria, pero esta memoria no se carga al ArrayList, esto se debe a que el ArrayList, solo guarda la referencia a ese objeto.</p>
            <p>Como no se trabaja con objetos reales, ArrayLists contiene matrices de referencias a objetos almacenados en otro lugar (un lugar en la memoria llamado heap.</p>
            <p>El Heap (Montículo) almacena objetos y sus variables de instancia. Es un espacio de memoria dinámica que se crea al inicio de la máquina virtual y es único.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Declaración de un ArrayList</h5>
            <iframe src="https://pastebin.com/embed_iframe/VVNeYWAV" style="border:none;width:100%; height: 15em;"></iframe>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>Primitivos como Objetos <span class="destaca-me">wrappers</span></h5>
            <pre><code>
//byte numero_1 = -128;
Byte numero_1 = -128;

//short numero_2 = -32768;
Short numero_2 = -32768;

//int numero_3 = 2147483647;
Integer numero_3 = 2147483647;

//long numero_4 = -9223372036854775808L;
Long numero_4 = -9223372036854775808L;

//float numero_5 = 3.4028235E38f;
Float numero_5 = 3.4028235E38f;

//double numero_6 = 1.7976931348623157E+308d;
Double numero_6 = 1.7976931348623157E+308d;

//char caracter = 'Đ';
Character caracter = 'Đ';

//boolean proposicion = true;
Boolean proposicion = true;
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Principales métodos de ArrayList</h3>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h5>add("Elemento")</h5>
            <p>Añade el elemento al ArrayList.</p>
            <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado");

System.out.println(array_list);

&#62;sout: [Elemento agreado]
            </code></pre>
        </div>
    </section>


    <section>
        <div class="font-justify font-size-22">
            <h5>add(n, "Elemento 2")</h5>
            <p>Añade el elemento al ArrayList en la posición 'n'</p>
            <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list);

&#62;sout: [Elemento agreado_3, Elemento agreado_1, Elemento agreado_2]
                    </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h4>Ejercicio</h4>
            <p>Programar una aplicación en Java que ingrese por consola, una cantidad variable de nombres de super héroes
                de Marvel, estos se deben guardar en un ArrayList y finalmente, su contenido debe ser mostrado.</p>
        </div>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>size()</h5>
                <p>Devuelve el numero de elementos del ArrayList</p>
                <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list.size());

&#62;sout: 3
                        </code></pre>
            </div>
        </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>get(n)</h5>
                <p>Devuelve el elemento que esta en la posición 'n' del ArrayList</p>
                <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list.get(2));

&#62;sout: Elemento agreado_2
                        </code></pre>
            </div>
        </section>

<section>
    <div class="font-justify font-size-22">
        <h4>Ejercicio</h4>
        <p>Tomar la aplicación del ejercicio anterior e imprimir los nombres por separado.</p>
    </div>
</section>

<section>
        <div class="font-justify font-size-22">
            <h5>contains("Elemento")</h5>
            <p>Comprueba se existe del elemento ("Elemento") que se le pasa como argumento</p>
            <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list.contains("Elemento agreado_1"));

&#62;sout: true
                    </code></pre>
        </div>
    </section>

<section>
        <div class="font-justify font-size-22">
            <h5>indexOf("Elemento")</h5>
            <p>Devuelve la posición de la primera ocurrencia ('Elemento') en el ArrayList </p>
            <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list.indexOf("Elemento agreado_3"));

&#62;sout: 0
        </code></pre>
        </div>
    </section>

<section>
        <div class="font-justify font-size-22">
            <h5>lastIndexOf("Elemento")</h5>
            <p>Devuelve la posición de la última ocurrencia ('Elemento') en el ArrayList </p>
            <pre><code>
ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();

array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_1");
array_list.add("Elemento agreado_2");
array_list.add(0, "Elemento agreado_3");

System.out.println(array_list.lastIndexOf("Elemento agreado_1"));

&#62;sout: 2
                    </code></pre>
        </div>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h5>remove(n)</h5>
                <p>Borra el elemento de la posición 'n' del ArrayList</p>
                <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    array_list.remove(2);
    System.out.println(array_list);
    
    &#62;sout: [Elemento agreado_3, Elemento agreado_1, Elemento agreado_2]
            </code></pre>
            </div>
    </section>
    
    <section>
            <div class="font-justify font-size-22">
                <h5>remove("Elemento")</h5>
                <p>Borra la primera ocurrencia del 'Elemento' que se le pasa como argumento. </p>
                <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    array_list.remove("Elemento agreado_1");
    System.out.println(array_list);
    
    &#62;sout: [Elemento agreado_3, Elemento agreado_1, Elemento agreado_2]
                </code></pre>
            </div>
    </section>
    
    <section>
        <div class="font-justify font-size-22">
            <h5>clear()</h5>
            <p>Borra todos los elementos de ArrayList.</p>
            <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    array_list.clear();
    System.out.println(array_list);
    
    &#62;sout: []
        </code></pre>
        </div>
    </section>
    
    <section>
        <div class="font-justify font-size-22">
            <h5>isEmpty()</h5>
            <p>Devuelve True si el ArrayList esta vacio. Sino Devuelve False </p>
            <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    System.out.println(array_list.isEmpty());
    
    &#62;sout: false
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Pasa el ArrayList a un Array</h5>
            <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    Object[] elementos = array_list.toArray(); 
    
    System.out.println(elementos.length);
    
    &#62;sout: 4
            </code></pre>
        </div>
    </section>
    
    <section>
        <div class="font-justify font-size-22">
            <h3>La clase Iterador</h3>
            <p>Esta clase nos sirve para poder recorrer de mejor forma un ArrayList</p>
            <p>Los Iteradores tienen tres métodos que son el "hasNext()" para comprobar que siguen quedando elementos en el iterador, el "next()"  para que nos de el siguiente elemento del iterador; y el "remove()" que sirve para eliminar el elemento del Iterador.</p>
            <pre><code>
    ArrayList&#60;String&#62; array_list = new ArrayList&#60;&#62;();
    
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_1");
    array_list.add("Elemento agreado_2");
    array_list.add(0, "Elemento agreado_3");
    
    // Declaramos el Iterador e imprimimos los Elementos del ArrayList
    Iterator<String> nombreIterator = array_list.iterator();
    while(nombreIterator.hasNext()){
            String elemento = nombreIterator.next();
            System.out.print(elemento + " / ");
    }
    
    &#62;sout: Elemento agreado_3 / Elemento agreado_1 / Elemento agreado_1 / Elemento agreado_2 /
            </code></pre>
        </div>
    </section>

</section>
<!-- #arraylist -->


</section>
