
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Las colecciones en Java - <a href="https://docs.oracle.com/javase/7/docs/technotes/guides/collections/index.html">The Collections Framework</a> ♨️ </h3> 
</section>

<!-- introducción -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
            <h3>Introducción 🥊</h3>
        </section>    
    <section>
            <div class="font-justify font-size-28">
                <p>El API de Java nos proporciona el <span class="destaca-me">framework</span> de las colecciones, que nos permite utilizar diferentes estructuras de datos, para almacenar y recuperar objetos, de cualquier clase.</p>
                <p> Dichas colecciones no forman parte del lenguaje, sino que son clases definidas en el paquete <span class="destaca-me">java.util</span>. </p>
                <p>Para definir una colección usaremos la siguiente estructura:</p>
                <pre><code>
Coleccion&#60;Clase&#62; nombre = new Coleccion&#60;Clase&#62;();
                </code></pre>
                <p>`Coleccion`, es una clase de este framework que queramos utilizar según la estructura de almacenamiento que nos interese y `Clase`, representa el tipo de datos a almacenar(Genericidad).</p>
            </div>
        </section>
        <section>
            <div class="font-justify font-size-28">
                <p>Por ejemplo, para crear una lista ordenada de objetos de la clase String escribiríamos:</p>
                <pre><code>
ArrayList&#60;String&#62; listaNombres = new ArrayList&#60;&#62;();
                </code></pre>
                <p>En Java podemos trabajar con clases genéricas, para ello se utiliza &#60;Y&#62;. A este mecanismo se le conoce como genericidad. como lo vimos previamente.</p>
            </div>
        </section>

</section>

<!-- default methods -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Default methods ♨️</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Definición:</h3>
            <p>Los Default methods, son métodos que se pueden implementar en las interfaces, estos no existían si no, hasta a partir de java 8. Los estudiaremos antes de entrar a la definición de los componentes de una colección, ya que forman parte de las estructuras base que conforman este marco de trabajo.</p>
            <pre><code>
interface Vehiculo {

    default void print_() {
        System.out.println("Soy la interfaz Vehiculo");
    }
}

class Auto implements Vehiculo {}

// ... en la clase principal
public static void main(String[] args) {
    car a = new car();
    a.print_(); // Soy la interfaz Vehiculo
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <p>Se puede ver que al momento de definir la interfaz, esta posee un método por defecto, este método puede o no ser implementado en la clase Auto, es decir, tenemos la opción que creíamos no tener y esta es que, opcionalmente, podemos implementar este método, es decir que un <span class="destaca-me">método por defecto, no se comporta como un método abstracto.</span></p>
        </div>
    </section>
    <section>
        <p>No, no se pueden implementar defaults methods en clases que no sean interfaces, al menos no hasta ahora(java 9).</p>
    </section>
    <section>
        <div class="font-justify font-size-28">
            <h3>Pero ¿cuál es la utilidad de utilizar los métodos por defecto? 🤯</h3>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Teníamos una interfaz vehículo, la cual poseía un método por defecto. Implementemos una segunda interfaz con el mismo método por defecto.</p>
            <pre><code>
interface Vehiculo {

    default void print_() {
        System.out.println("Soy la interfaz Vehiculo");
    }
}

interface CuatroPorCuatro {
    default void print_() {
        System.out.println("Soy la interfaz CuatroPorCuatro");
    }
}

// Si implementamos más de una interfaz, ahora estamos obligados a implementar el método o tendremos un error en tiempo de compilación.
class Auto implements Vehiculo, CuatroPorCuatro{
    public void print_(){
        System.out.println("Soy la clase Auto");
    }
}

// en la clase principal
public static void main(String[] args) {
    Auto a = new Auto();
    a.print_(); // Soy la clase Auto
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Podemos ver que si mal no nos podemos saltar la implementación del método print_(), podemos realizar la implementación que nos plazca. Pero aún hay más. Podemos también utilizar los defaults methods como lo hacemos en la herencia.(bueno bueno; no así que bruto que igual, pero parecido no? 😅, ahora antes del super, le ponemos el nombre de la interfaz y eso es todo lo novedoso 😴).</p>
            <pre><code>
interface Vehiculo {

    default void print_() {
    System.out.println("Soy la interfaz Vehiculo");
    }
}

interface CuatroPorCuatro {
    default void print_() {
    System.out.println("Soy la interfaz CuatroPorCuatro");
    }
}

class Auto implements Vehiculo, CuatroPorCuatro{
    public void print_(){
        System.out.println("Soy la clase auto");
        Vehiculo.super.print_();
        CuatroPorCuatro.super.print_();
    }
}

// En la clase principal tenemos lo siguiente:

public static void main(String[] args) {
    Auto a = new Auto();
    a.print_();
}

/* tendremos como salida:
run:
Soy la clase auto
Soy la interfaz Vehiculo
Soy la interfaz CuatroPorCuatro
BUILD SUCCESSFUL (total time: 0 seconds)
*/
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Conclusión</h3>
            <p>Podemos decir entonces que las interfaces, están para poder definir tipos, como un vehículo, pero si a este le queremos dar las características de un 4x4, basta con crear una interfaz que defina las características que posee un 4x4 y obligar a las clases que quieran ser del tipo 4x4, implementen obligadamente los métodos de la interfaz, además de crear algunos métodos por defecto que sean de gran utilidad solamente en el contexto del tipo agregado.</p>
        </div>
    </section>
</section>

<!-- Interfaces base -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Interfaces base ♨️</h3>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz Iterable</h3>
            <p>La implementación de esta interfaz, permite que en los objetos instanciados de la clase que la implementó, sea posible la aplicación de un foreach.</p>
            <pre><code>
// definición
public interface Iterable&#60;T&#62;
// Métodos abstractos:
Iterator&#60;T&#62; iterator();
// Métodos por defecto:
default void forEach()
default Spliterator&#60;T&#62; spliterator()
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz <a href="https://docs.oracle.com/javase/7/docs/api/java/util/Collection.html" target="_blank">Collection</a> ♨️</h3> 
            <p>Es la raíz en la jerarquía de las colecciones.</p>
            <p>A partir de esta interfaz, se crean las diferentes implementaciones de cada una de las clases que componen el marco de trabajo de las colecciones.</p>
            <pre><code>
// definición:
public interface Collection&#60;E&#62; extends Iterable&#60;E&#62;
// métodos abstractos:
size();
isEmpty();
contains();
iterator();
Object[] toArray();
toArray();
add();
remove();
containsAll();
addAll();
removeAll();
retainAll()
clear()
equals()
hashCode()
// defaults:
removeIf();
spliterator();
stream();
parallelStream();
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz set(conjunto) ♨️</h3>
            <p>Esta interfaz es una abstracción de un conjunto matemático. Es por ello que debe cumplir con algunas reglas:</p>
            <p>No permite elementos duplicados dentro de ella.</p>
            <p>No hay un orden en sus elementos.</p>
            <pre><code>
// definición:
public interface Set&#60;E&#62; extends Collection&#60;E&#62;
// métodos abstractos:
size();
isEmpty();
contains(Object o);
iterator();
toArray();
toArray();
add();
remove();
containsAll();
addAll();
retainAll();
removeAll();
clear();
equals();
hashCode();
spliterator();
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz NavigableSet ♨️</h3>
            <p>Su misión principal, es informar las coincidencias más cercanas para determinados objetivos de búsqueda.</p>
            <pre><code>
// definición:
public interface NavigableSet&#60;E&#62; extends SortedSet&#60;E&#62;
// métodos abstractos:
lower();
floor();
ceiling();
higher();
pollFirst();
pollLast();
iterator();
descendingSet();
descendingIterator();
subSet();
headSet();
tailSet();
subSet() // v2
headSet() // v2
tailSet(); // v2
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz SortedSet ♨️</h3>
            <p>Esta interfaz es la encargada de proporcionar un orden en los elementos del conjunto.</p>
            <pre><code>
// definición:
public interface SortedSet&#60;E&#62; extends Set&#60;E&#62;
// métodos abstractos:
comparator();
subSet();
headSet();
tailSet();
first();
last();
// defaults:
spliterator()
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz Cloneable ♨️</h3>
            <p>Aquellas clases que implementen esta interfaz, deberán implementar el método clone(). el cual literalmente clona el objeto y con el valor de sus atributos en otro espacio de memoria, es decir otra variable con la copia de otro objeto.</p>
            <pre><code>
// definición:
public interface Cloneable
// no posee métodos, pero java.lan sabe que aquellas clases que lo implementen, tendrán acceso a Object.clone().
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz Serializable ♨️</h3>
            <p>Se le llama "serializar un objeto" al proceso de convertirlo a bytes, para poder enviarlo por una red, y reconstruirlo luego a partir de esos bytes.</p>
            <p>Esto es vital para el envío de datos estructurados a través de la red.</p>
            <p>La serialización de una clase será habilitada, por la clase que implemente la interfaz java.io.Serializable</p>
            <p>Las clases que no implementen esta interfaz no tendrán ninguno de sus estados serializados o deserializados.</p>
            <p>Todos los subtipos de una clase serializable son ellos mismos serializables.</p>
            <pre><code>
// definición:
public interface Serializable
// La interfaz de serialización no tiene métodos ni campos y sirve solo, para identificar la semántica de ser serializable.
            </code></pre>
        </div>
    </section>

<section>
    <div class="font-justify font-size-22">
        <h3>La interfaz List ♨️</h3>
        <p>La clase que implemente esta interfaz, será una colección ordenada, se podría llamar como una secuencia.</p>
        <p>Proporciona la capacidad de tener el control sobre donde se inserta cada elemento.</p>
        <p>Se puede acceder a cada elemento de la secuencia. siendo este un número entero. Admite elementos duplicados.</p>

        <pre><code>
// definición:
public interface List&#60;E&#62; extends Collection&#60;E&#62;
// métodos abstractos:
size();
isEmpty();
contains();
iterator();
toArray();
toArray(); // v2
add();
remove();
containsAll();
addAll();
addAll();
removeAll();
retainAll();
clear();
equals();
hashCode();
get();
set();
add(); // v2
remove();
indexOf();
lastIndexOf();
listIterator();
listIterator(); // v2
subList();

// defaults
replaceAll();
sort();
spliterator()

        </code></pre>
    </div>
</section>

    <section>
        <div class="font-justify font-size-22">
            <h3>La interfaz Map ♨️</h3>
            <p>Es una estructura de clave y valor, en algunos lenguajes de programación le llaman arrays asociativos, en otros también llamados diccionarios.</p>
            <p>A diferencia de los arreglos que se han visto anteriormente, en las cuales sus claves eran 0, 1, 2, ..., para este caso las claves se les pueden definir, pero estas no pueden repetirse.</p>
            <pre><code>
// definición:
public interface Map&#60;E, V&#62;
// métodos abstractos:
size();
isEmpty();
containsKey();
containsValue();
get();
put();
remove();
putAll();
clear();
keySet();
values();
entrySet();
equals();
hashCode();
// defaults
getOrDefault();
forEach();
replaceAll();
putIfAbsent();
remove();
replace();
replace(); //v2
computeIfAbsent();
computeIfPresent();
compute();
merge();
            </code></pre>
        </div>
    </section>
</section>

<!-- Colecciones de tipo conjunto. Implementaciones de set.-->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Colecciones de tipo conjunto. Implementaciones de set. ♨️</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Definición</h3>
            <p>Las implementaciones de la interfaz set, nos indica que nuestra clase será la representación de un conjunto de elementos.</p>
            <p>Es por ello que no poseen un orden por defecto, además que no se permiten datos duplicados.</p>
            <p>Posee desventajas a la hora de ordenar elementos, llegando incluso a no asegurar el correcto orden.</p>
            <p>Hay qu evitar asignar un tamaño inicial muy grande si es que la velocidad de la iteración es importante, ya que una tabla hash demasiado grande, ralentiza este proceso.</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.HashSet</h3>
            <p>Utiliza una tabla hash, en donde referencia los objetos de la colección con claves y valores de esa tabla.</p>
            <p>No garantiza el orden en la iteración de los elementos del conjunto.</p>
            <p>No garantiza que el orden se mantenga constante en el tiempo.</p>
            <p>Permite elementos nulos.</p>
            <pre><code>
// definición:
public class HashSet&#60;E&#62; extends AbstractSet&#60;E&#62; implements Set&#60;E&#62;, Cloneable, java.io.Serializable

            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <pre><code>
// ejemplo de iteración:
public static void main(String[] args) {
        
    HashSet &#60;String&#62; palabras = new HashSet&#60;&#62;();
    
    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");
    
    Iterator iterador = palabras.iterator();
    
    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
    
}

// Salida:
run:
Palabra_4
Palabra_2
Palabra_3
Palabra_1
BUILD SUCCESSFUL (total time: 0 seconds)
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.LinkedHashSet</h3>
            <p>Al igual que HashSet, posee una asignación con una tabla hash.</p>
            <p>Difiere de HashSet en que además de la tabla hash, posee una lista doblemente enlazada en cada uno de sus elementos.</p>
            <p>Permite obtener el orden en que los elementos fueron ingresados.</p>
            <p>El orden de inserción no se ve afectado si se adicionan más elementos</p>
            <pre><code>
// definición:
public class LinkedHashSet&#60;E&#62; extends HashSet&#60;E&#62; implements Set&#60;E&#62;, Cloneable, java.io.Serializable

            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <pre><code>
// ejemplo de iteración:
public static void main(String[] args) {
        
    LinkedHashSet &#60;String&#62; palabras = new LinkedHashSet&#60;&#62;();
    
    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");
    
    Iterator iterador = palabras.iterator();
    
    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
    
}

// Salida:
run:
Palabra_1
Palabra_2
Palabra_3
Palabra_4
BUILD SUCCESSFUL (total time: 0 seconds)
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.TreeSet</h3>
            <p>Esta implementación garantiza una velocidad de log(n) en cuanto a su recorrido, siendo n la cantidad de elementos.</p>
            <p>El tipo de orden depende del constructor constructor utilizado, por ejemplo: TreeSet(SortedSet&#60;E&#62; s), este mantiene el mismo tipo de orden que se le defina a cualquier clase que implemente el sortedSet.</p>
            <p>Su mayor ventaja es que mantiene diferentes tipos de orden según lo que reciba en su constructor.</p>
            <p>No es muy eficiente en su iteración.</p>
            <pre><code>
// definición:
public class TreeSet&#60;E&#62; extends AbstractSet&#60;E&#62; implements NavigableSet&#60;E&#62;, Cloneable, java.io.Serializable

            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <pre><code>
// ejemplo de iteración:
public static void main(String[] args) {
        
    TreeSet &#60;String&#62; palabras = new TreeSet&#60;&#62;();
    
    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");
    
    Iterator iterador = palabras.iterator();
    
    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
    
}

// Salida: (el orden natural de los elementos es el de inserción.)
run:
Palabra_1
Palabra_2
Palabra_3
Palabra_4
BUILD SUCCESSFUL (total time: 0 seconds)
            </code></pre>
        </div>
    </section>

</section>

<!-- Colecciones de tipo conjunto. Implementaciones de List.-->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Colecciones de tipo Listas. Implementaciones de List. ♨️</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Definición.</h3>
            <p>Listas – estructura secuencial, donde cada elemento tiene un índice o posición.</p>
            <p>Implementaciones: ArrayList, LinkedList, Stack</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.ArrayList</h3>
            <p>Las clases que implementen esta interfaz, podrá tener un arreglo de objetos de tamaño variable.</p>
            <p>El acceso a los datos es rápido.</p>
            <pre><code>
// definición:
public class ArrayList&#60;E&#62; extends AbstractList&#60;E&#62; implements List&#60;E&#62;, RandomAccess, Cloneable, java.io.Serializable
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Ejemplo de iteración:</h3>
            <pre><code>
public static void main(String[] args) {
    ArrayList&#60;String&#62; palabras = new ArrayList&#60;S&#62;();
    
    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");
    
    Iterator iterador = palabras.iterator();
    
    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
    
}
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.LinkedList</h3>
            <p>Son colecciones de objetos con listas doblemente enlazadas. Permite valores nulos.</p>
            <p>Posee una gran rapidez en insertado y borrado de elementos.</p>
            <pre><code>
// definición:
public class LinkedList&#60;E&#62; extends AbstractSequentialList&#60;E&#62; implements List&#60;E&#62;, Deque&#60;E&#62;, Cloneable, 
java.io.Serializable

            </code></pre>
        </div>
    </section>
    <section>
            <div class="font-justify font-size-22">
                <h3>Ejemplo de iteración:</h3>
                <pre><code>
public static void main(String[] args) {
    LinkedList&#60;String&#62; palabras = new LinkedList&#60;S&#62;();
    
    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");
    
    Iterator iterador = palabras.iterator();
    
    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
    
}
                </code></pre>
            </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>java.util.Stack</h3>
            <p>Esta colección es la implementación de la estructura de una pila (Lifo).</p>
            <p>Ideal solamente cuando se necesite poder trabajar con estructuras de este tipo.</p>
            <pre><code>
    // definición:
    public class Stack&#60;E&#62; extends Vector&#60;E&#62;
            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Ejemplo de iteración:</h3>
            <pre><code>
public static void main(String[] args) {
    Stack&#60;String&#62; palabras = new Stack&#60;S&#62;();

    palabras.add("Palabra_1");
    palabras.add("Palabra_2");
    palabras.add("Palabra_3");
    palabras.add("Palabra_4");

    Iterator iterador = palabras.iterator();

    while(iterador.hasNext()){
        System.out.println(iterador.next());
    }
}
            </code></pre>
        </div>
    </section>
</section>



<!-- Colecciones de tipo Diccionario o Matriz asociativa. Implementaciones de Map.-->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Colecciones de tipo Diccionario o Matriz asociativa. Implementaciones de Map. ♨️</h3>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Definición.</h3>
            <p>Diccionario o Matriz asociativa – cada elemento tiene asociado una clave que usaremos para recuperarlo.</p>
            <p>Implementaciones: HashMap, TreeMap, LinkedHashMap</p>
        </div>
    </section>

<section>
    <div class="font-justify font-size-22">
        <h3>java.util.HashMap</h3>
        <p>No ofrece garantías de orden. Tampoco si es que está ordenada, no ofrece garantías que ese orden se mantendrá.</p>
        <p>Admite nulos.</p>
        <pre><code>
public static void main(String[] args) {
    HashMap &#60;String, Integer&#62;  palabras = new HashMap&#60;&#62;();
    
    palabras.put("key_1", 100);
    palabras.put("key_2", 100);
    palabras.put("key_3", 100);
    palabras.put("key_4", 100);
    
    for(Map.Entry&#60;String, Integer&#62; palabra: palabras.entrySet()){
        System.out.println(palabra);
    }
    
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>LinkedHashMap</h3>
        <p>Acá el orden es el de la inserción.</p>
        <p>Admite nulos.</p>
        <pre><code>
public static void main(String[] args) {
    LinkedHashMap &#60;String, Integer&#62;  palabras = new LinkedHashMap&#60;&#62;();
    
    palabras.put("key_1", 100);
    palabras.put("key_2", 100);
    palabras.put("key_3", 100);
    palabras.put("key_4", 100);
    
    for(Map.Entry&#60;String, Integer&#62; palabra: palabras.entrySet()){
        System.out.println(palabra);
    }
    
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>java.util.TreeMap</h3>
        <p>El orden de la iteración normalmente es el de inserción(el único que veremos por ahora), aunque depende de el constructor que se ejecute.</p>
        <pre><code>

public static void main(String[] args) {
    TreeMap &#60;String, Integer&#62;  palabras = new TreeMap&#60;&#62;();
    
    palabras.put("key_1", 100);
    palabras.put("key_2", 100);
    palabras.put("key_3", 100);
    palabras.put("key_4", 100);
    
    for(Map.Entry&#60;String, Integer&#62; palabra: palabras.entrySet()){
        System.out.println(palabra);
    }
    
}
        </code></pre>
    </div>
</section>

<section>
    <div class="font-justify font-size-22">
        <h3>Ejercicio</h3>
        <p>Escribir un programa en Java, que tenga la opción de consultar, insertar, borrar, buscar y actualizar un dato utilizando cualquiera de las implementaciones de map.</p>
        <ul>
            <li>Listar los elementos.</li>
            <li>Insertar un elemento.</li>
            <li>Buscar un elemento.</li>
            <li>Actualizar un elemento.</li>
            <li>Borrar un elemento.</li>
        </ul>
        <pre><code>
// todo.
        </code></pre>
    </div>
</section>

</section>

<!-- Final-->
<section data-background-repeat="repeat" 
    data-background-size="10em" 
    data-background-image="../../lib/img/mod_4/fondo_2.jpg"
    data-background-opacity="0.9">

    <img data-src="./../lib/img/mod_4/java-collections.png" alt="">
</section>