
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">

    <h3>Recetas 👩🏽‍💻 👨🏼‍🍳 🍔</h3>

</section>

<!-- estructuras 1 -->
<section data-background-repeat="repeat" 
    data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">

    <section>
        <h3>Estructuras 1</h3>
    </section>

<section data-markdown>

    <p data-template class="align-left-se">
#### Estructura básica de una clase

```java
/*
En un archivo Archivo.java, debe existir al menos 
una clase que lleve el nombre del archivo y esta 
clase debe ser pública. `public class`.

Luego se debe agregar el identificador o nombre de 
la clase, su primer carácter debe ser mayúscula. 
`public class NombreDeLaClase`.

Seguido a esto, se debe indicar el inicio del bloque 
con el carácter `{`. `public class NombreDeLaClase{`

Finalmente se debe indicar el cierre del bloque `}`.
`public class NombreDeLaClase{}`
*/

public class Persona{
// Todo el código acá.
}
```
    </p> 
</section>

<section data-markdown>

        <p data-template>
#### Estructura básica de un método(público y estático)

```java
/*
Los métodos, son funciones que están dentro de una clase.
Es decir que se encuentran dentro del bloque.

Se debe indicar si el método es público, Si es público 
quiere decir que puede ser accedido desde otras clases.
`public`

Se debe indicar si es estático, si es estático, el método se puede usar
sin tener que crear una instancia de la clase a la que pertenece.
`public static`

Se debe indicar el tipo de retorno, si no retorna nada, será void.
`public static void`

Se le debe dar un identificador, un nombre. en minúscula.
`public static void main`

Se debe indicar los parámetros que recibe entre paréntesis,
indicando el tipo de variable y separado con comas. En el caso que no reciba
ningún parámetro los paréntesis irán vacíos, para el caso del ejemplo, este
método llamado main, recibe un parámetro llamado args y es un arreglo de 
cadenas String[].
`public static void main(String[] args)`

Se debe indicar el inicio`{` y el fin `}` del bloque. 
`public static void main(String[] args){}`
*/

// método principal del lenguaje Java.
public static void main(String[] args){
    //todo el código acá
}

// método que suma dos números y los imprime (no retorna nada)
public static void suma(int num_1, int num_2){
    System.out.println(num_1 + num_2);
}

// método que suma dos números y retorna el resultado
public static int suma(int num_1, int num_2){
    return num_1 + num_2;
}

// método que solo imprime hola.
public static void saluda(){
    System.out.println("Hola");
}
    ```
        </p> 
</section>

<section data-markdown>

        <p data-template>
#### Estructura de una variable dentro de un método.

```java
Debemos indicar el tipo de variable. Este tipo puede 
ser un tipo primitivo o una clase o arreglo.
`int`

Debemos indicar el identificador o nombre.
`int numero`

Ya tenemos declarada la variable, ahora debemos
iniciarla indicándole un valor.
`int numero = 0`

Finalizamos la instrucción con un punto y coma.
`int numero = 0;

// variable del tipo clase Persona.
Persona pedro;

// variable del tipo int
int numero;

// variable del tipo String
String palabra;

`
```
        </p> 
</section>

<section data-markdown>

        <p data-template>
#### Estructura de una constante dentro de un método.
```java
/*
Una constante es una variable del sistema que mantiene 
un valor inmutable a lo largo de toda la vida del programa. 
Las constantes en Java se definen mediante el modificador final.

No es obligatorio pero se sigue la norma en que sus nombres 
sean escritos completamente en MAYÚSCULA

Debemos indicar que es una constante, anteponiendo 
al tipo de variable la palabra reservada `final`
*/

final double CASI_PI = 3.14;

```
        </p> 
</section>

<section data-markdown>

        <p data-template>
#### Estructura de la instancia de una clase y creación de un objeto.
```java
/*
Una instancia en programación no es otra cosa que una referencia de 
una clase hacia otra con lo cual permite a ambas clases  interactuar entre si.

Se debe definir el tipo de variable y el nombre. Su tipo será el mismo nombre
de la clase (por ahora)
`Persona`

debemos usar el nombre de la instancia u objeto.
`Persona pedro;`

Luego podemos iniciar el valor de pedro, con una nueva instancia
de la clase.
`pedro = new Persona();`

*/

// Primera forma:
Automovil lexus;

lexus = new Automovil();

// segunda forma (Realizar todo en una sola linea):
Automovil tesla = new Automovil();

/*
En la mayoría de los casos, las clases reciben valores que las clases
necesitan para poder funcionar. Estos valores son llamados Argumentos.
Estos argumentos son los valores que tomarán los parámetros que recibe
la clase.
*/

// Ejemplo:

Scanner mi_instancia_de_scanner = new Scanner(System.in);

```
        </p> 
</section>


</section>
<!-- #estructuras 1 -->