
<!-- <section data-background-repeat="repeat" data-background-image="../../lib/img/materia_01/fondo.png" -->
<section data-background-repeat="repeat" 
    data-background-size="5em" 
    data-background-image="../../lib/img/mod_4/Logo-Java.jpg"
    data-background-opacity="0.2">
    <h3>Tópicos avanzados en Java ♨️ </h3>
</section>


<!-- La clase object -->
<section data-background-repeat="repeat" data-background-image="../../lib/img/mod_4/fondo_1.jpg"
    data-background-opacity="0.1">
    <section>
        <h3>Shadow copy - deep copy - clone ♨️</h3>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h5>Definición</h5>
            <p>Cuando queremos por algún motivo copiar la información de un objeto a otro, disponemos de las técnicas que veremos a continuación</p>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>Shadow copy</h3>
            <p>Este término se refiere a una copia de la referencia del objeto.</p>
            <pre><code>
// Supongamos que disponemos de la clase Persona, quien tiene un atributo nombre.
Persona foo = new Persona("bar");
Persona baz = foo;

System.out.println(foo);
System.out.println(baz);

run:
equals.Persona@7852e922
equals.Persona@7852e922
BUILD SUCCESSFUL (total time: 0 seconds)

// Luego ejecutamos:
System.out.println(foo.getNombre());
System.out.println(baz.getNombre());

run:
bar
bar
BUILD SUCCESSFUL (total time: 0 seconds)

// se puede ver que se copió el valor de sus atributos, o en este caso su atributo.
Persona foo = new Persona("bar");
Persona baz = foo;

foo.setNombre("qux");

System.out.println(foo.getNombre());
System.out.println(baz.getNombre());

run:
qux
qux
BUILD SUCCESSFUL (total time: 0 seconds)

//Esto se debe a que en realidad no se está creando un nuevo objeto, lo que realmente se está realizando es que se está copiando la referencia al objeto y no el objeto en si. Por esta razón es que si le cambiamos el valor a una de sus propiedades, en la otra variable también cambiarán.

// Al ser el mismo objeto sucede lo siguiente:
System.out.println(foo == baz);
System.out.println(foo.equals(baz));

run:
true
true
BUILD SUCCESSFUL (total time: 0 seconds)

            </code></pre>
        </div>
    </section>

    <section>
        <div class="font-justify font-size-22">
            <h3>Deep Copy</h3>
            <p>Esta técnica de copiado de objetos, se trata simplemente de copiar una a una las propiedades, pero como son dos objetos distintos, no tendremos el problema en el caso que cambiemos los tributos, las instancias de esa clase no se verán afectadas con el cambio.</p>
            <pre><code>
Persona foo = new Persona("bar");
Persona baz = new Persona("bar");

System.out.println(foo.getNombre());
System.out.println(baz.getNombre());

System.out.println(foo == baz);
System.out.println(foo.equals(baz));

foo.setNombre("qux");

System.out.println("Después de cambiar el atributo");

System.out.println(foo.getNombre());
System.out.println(baz.getNombre());

System.out.println(foo == baz);
System.out.println(foo.equals(baz));

run:
bar
bar
false
false
Después de cambiar el atributo
qux
bar
false
false
BUILD SUCCESSFUL (total time: 0 seconds)
            </code></pre>
        </div>
    </section>
<section>
    <div class="font-justify font-size-22">
        <h3>Clonar</h3>
        <p>Clonar un objeto en Java, es como hacer un deep copy más que un shadow copy, cuando utilizamos la clonación
            creamos una instancia nueva de un objeto</p>
        <p>El método <span class="destaca-me">clone()</span> es el método que viene desde la clase padre de todas las
            clases, la clase Object.</p>
        <p>Este método es protected, es decir, que si queremos utilizarlo en las clases que hemos creado, deberemos
            sobre escribir el método en nuestra clase y llamarla utilizando super.clone()</p>
    </div>
</section>
    <section>
        <div class="font-justify font-size-22">
            <p>Algunas clases como de la que hereda array[], ejemplo int[], ya traen implementado el este método, es por ello que podemos clonar un arreglo.</p>
            <pre><code>
int[] foo = new int[] {2, 3, 4};
int[] bar = foo.clone();

System.out.println("Comparación toString()");
System.out.println(foo);
System.out.println(bar);

System.out.println("Comparación de igualdad");
System.out.println(foo == bar);
System.out.println(foo.equals(bar));

System.out.println("Comparación de elementos");
for(int fo: foo){
    System.out.println(fo);
}

System.out.println("Nuevo loop");

for(int ba: bar){
    System.out.println(ba);
}

foo[1] = 100;

System.out.println(
        "Comparación de elementos después de cambiar un valor");
for(int fo: foo){
    System.out.println(fo);
}

System.out.println("Nuevo loop");

for(int ba: bar){
    System.out.println(ba);
}
            </code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <p>Entonces 🧐, nos gustaría poder hacer esto con las clases que creamos personalmente, por ejemplo la clase Persona.</p>
            <pre><code>
Persona foo = new Persona("bar");
Persona baz = foo.clone();
// eso arroja el siguiente error: clone() has protected access in Object.
            </code></pre>
            <p>¿Por que ocurre este error, esto se debe a que cuando intentamos usar el método clone(), este al ser de tipo protected, debemos sobre escribirlo en la clase Persona:</p>
<pre><code>
// dentro de la clase persona
@Override
public Persona clone() throws CloneNotSupportedException{
    return (Persona)super.clone();
}
</code></pre>

        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
<p>De esta forma se implementa el método clone() en nuestras clases, pero en nuestro método main aún nos seguirá arrojando un error: unreported exception CloneNotSupportedException; must be caught or declared to be thrown</p>
<p>Este error se soluciona agregando al main: throws CloneNotSupportedException</p>
<pre><code>
/**
* @param args the command line arguments
* @throws java.lang.CloneNotSupportedException
*/
public static void main(String[] args) throws CloneNotSupportedException {
    Persona foo = new Persona("bar");
    Persona baz = foo.clone();
    
    System.out.println("Comparación toString()");
    System.out.println(foo);
    System.out.println(baz);
    
    System.out.println("Comparación de igualdad");
    System.out.println(foo == baz);
    System.out.println(foo.equals(baz));
    //run:
    //Comparación toString()
    //equals.Persona@7852e922
    //equals.Persona@4e25154f
    //Comparación de igualdad
    //false
    //false
    //BUILD SUCCESSFUL (total time: 0 seconds)
    
}
</code></pre>
        </div>
    </section>
    <section>
        <div class="font-justify font-size-22">
            <h3>clone en las clases inmutables</h3>
            <p>String es una clase inmutable, es decir que esta no cambiará nunca su estructura, es por ello que no necesita implementar el método clone()</p>
            <pre><code>
/**
* @param args the command line arguments
*/
public static void main(String[] args) {
    String foo = new String("Soy otro objeto String"); // acá va al heap y no al pool en un principio.
    String bar = new String("Soy otro objeto String");
    
    System.out.println("lugares en memoria");
    System.out.println(foo);
    System.out.println(bar);

    System.out.println(foo == bar);
    System.out.println(foo.equals(bar));
    
    // siempre que hagamos esto se produce una nueva clonación.
    // Estas conaciones van al String pool.(Flyweight pattern)
    //De ahí que cuando creamos dos cadenas con el mismo texto el operador == nos devuelva
    //true siempre, ya que apuntan al mismo objeto del pool. Este es el concepto de Java String
    //pool que a veces cuesta tanto entender.
    foo = "nueva clonación";
    
    // entregarán false por que en realidad no igualamos los objetos.
    System.out.println(foo == bar);
    System.out.println(foo.equals(bar));
    
    Persona persona = new Persona("Hugo");
    Persona persona2 = new Persona("Paco");
    
    System.out.println(persona);
    System.out.println(persona2);
    
    persona = persona2;
    
    System.out.println("Acá ya los identificadores son los mismos");
    System.out.println(persona);
    System.out.println(persona2);
    
    System.out.println("Modificamos uno y además el valor cambia en el otro");
    persona.setNombre("desde persona");
    System.out.println(persona2.getNombre());
    
}
            </code></pre>
        </div>
    </section>

</section>
<!-- #La clase object -->