<p></p>

<pre>
<code>


</code>
</pre>

<p>
  <button 
    class="btn btn-success" 
    type="button" 
    data-toggle="collapse" 
    data-target="#collapseExample" 
    aria-expanded="false" 
    aria-controls="collapseExample">
    Solución
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
        <iframe src="https://pastebin.com/embed_iframe/1FgsxsNL" style="border:none;width:100%; height: 500px;"></iframe>
  </div>
</div>